[2019-10-26 18:45] AdelheidF opened #472 "Bug: calcite-flow-item loading=true doesn't show animation on top of all nodes."
### Summary

It looks like the loading box animation hides behind the active element. I don't quite understand what happens exactly. When the user clicks on a new renderer style tile it sets the loading state of the flow-item and then waits until the new renderer gets created. Once that's successful the tile updates its look a bit.
I would expect the active element to look greyed out as well and t

[2019-10-26 22:05] AdelheidF opened #473 "Enhancement: simple component just for loading state"
### Description

The image below shows a list of unique values for a field. When the user selects that the very first time the list of unique values needs to be generated which takes a bit of time. This does not affect the rest of the panel, so I do not want to place the entire flow-item into a loading state. Also, the entire Expression box here does not use any calcite component, such as calcite-

[2019-10-26 22:40] AdelheidF opened #474 "Bug: calcite-popover pointer placement"
### Summary

The placement of the triangle pointer doesn't seem correct. I assume there should be no grey shadow looking through between the popover box and the triangle.

![image](https://user-images.githubusercontent.com/44481292/67626872-79e42d80-f806-11e9-8814-24fafbe7d782.png)

![image](https://user-images.githubusercontent.com/44481292/67626875-8799b300-f806-11e9-9170-c6a23fec9d72.png)

###

[2019-10-28 17:23] #404 closed

[2019-10-28 17:24] kevindoshier opened #475 "Bug: Setting focus to a calcite-action, doesnt set it to the button, need to tab again to get to the button"
### Summary
 Setting focus to a calcite-action, doesnt set it to the button, need to tab again to get to the button
### Actual Behavior

### Expected Behavior
Setting focus to a calcite-action sets the focus to the button in the shadow dom, that way Enter key etc will work as expected
### Reproduction Steps

1.

### Relevant Info

[2019-10-28 17:59] pr3tori4n commented on #309
@annelfitz can you check the console? All the button does in the demo is log out the string 'clicked'.
That should validate the click event is firing. But it sounds like even if that's working the focus styling is not good? @asangma would you be able to take a look at that?

[2019-10-28 22:22] jcfranco commented on #464
Slight hiccup. `collapsible` in Block is false by default, so if we follow suit, this will be a breaking change for people using HTML markup and expect the default toggling behavior. There is no way to set !collapsible with an attribute besides omitting it, so this change will require users to add the `collapsible` attribute to preserve the existing behavior.

We can introduce another property/att

[2019-10-28 22:31] subgan82 commented on #464
Another property would be good to avoid the breaking change.

[2019-10-29 15:41] kevindoshier opened #477 "Bug: Tip-manager adding to tip-manager slot doesnt seem to work"
### Summary

![image](https://user-images.githubusercontent.com/11093161/67783681-d7a39000-fa27-11e9-9fae-87266621e62d.png)

![image](https://user-images.githubusercontent.com/11093161/67783783-00c42080-fa28-11e9-8bbf-a4dff42883d1.png)

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2019-10-29 17:06] kat10140 commented on #474
@AdelheidF I've moved this issue over to calcite-components repo:
https://github.com/Esri/calcite-components/issues/201

[2019-10-29 17:06] #474 closed

[2019-10-29 17:54] kat10140 opened #478 "Enhancement: stop splitting words on multi line list item label"
![Screen Shot 2019-10-29 at 10 47 57 AM](https://user-images.githubusercontent.com/48069902/67794674-45f14e00-fa3a-11e9-9f52-befa8542dcf4.png)

Words be splittin and it looks goofy. Let's add some CSS/logic so it don't do that anymore

[2019-10-29 19:49] jcfranco commented on #471
@kat10140 A few questions:

* Should the loading only block the section's content?
* Should I follow the pattern on Block or are there different design considerations? cc @asangma

[2019-10-29 21:32] asangma commented on #478
LOL...is this the same as #455 ?

[2019-10-29 21:33] asangma commented on #469
Per discussion from the last calcite-app-components meeting, this is a go.

[2019-10-29 21:40] jcfranco commented on #469
![Thunderbirds+are+go+_79f02300ba769e21bb09807c0edcfb2a](https://user-images.githubusercontent.com/197440/67811445-09cde580-fa5a-11e9-9743-abae7b2a9d2b.gif)

[2019-10-29 21:44] asangma commented on #447
MURGLED! @kat10140 Please verfee.

[2019-10-29 21:49] AdelheidF opened #479 "Bug: calcite-pick-list adds padding to some items if sorted"
### Summary
When sorting the attribute selection pick-list some pick-list-items get a padding of 7. I'm not sure where this is coming from and I'm pretty sure it's not something I set.

before
![image](https://user-images.githubusercontent.com/44481292/67811650-7fd24c80-fa5a-11e9-9e0f-ef0e8ddadb24.png)

after
![image](https://user-images.githubusercontent.com/44481292/67811613-692bf580-fa5a-11e9-9

[2019-10-29 21:49] kat10140 commented on #478
No that one is about the switch toggle. This one is for words splitting between rows on a multiline item

[2019-10-29 21:56] kat10140 commented on #447
Verifeeeeed

[2019-10-29 21:56] #447 closed

[2019-10-29 21:57] asangma commented on #447
💥

[2019-10-29 23:44] kat10140 commented on #400
@pr3tori4n that issue is closed?

[2019-10-29 23:59] AdelheidF commented on #400
1 and 2 are fixed, 3 I can handle myself if it's not considered a bug. Thanks.

[2019-10-30 15:49] driskull commented on #472
co-assigning @alansangma because this may be styles related to zIndex.

[2019-10-30 15:54] driskull commented on #309
Focus styling issue. I think you need to set pointer-events to none on the svg element within.

[2019-10-30 18:14] pr3tori4n opened #482 "New Component: Container component"
### Description
This component would act as a container for other elements to be placed inside.
This component's primary purpose is to provide consistent spacing and visual boundaries for what's inside it. This will help normalize and avoid duplicating container styles across components. It will also provide an abstraction layer where we can build upon container logic. Additionally, it could provi

[2019-10-30 18:15] pr3tori4n commented on #482
@kat10140 @asangma  Here is a `container` component issue. Please vet my requirements and update as needed. I've assigned to Eberhardt milestone.

[2019-10-30 21:13] driskull commented on #472
In this case it looks like those items have a higher z-index value. We should probably set the following on the `calcite-panel`.

[code]

@asangma can you take a stab at it?

[2019-10-30 23:10] kat10140 opened #483 "New Component: DNDList/SortableList"
### Description
We want to make a reusable drag and drop component, as we are implementing something similar (via sortable) in many other components.  Having it as its own component will provide consistency and makes drag and droppable "lists" easier to implement in the future.

#### User Stories
As an app developer, I want to be able to easily implement drag and drop within items in a panel.

###

[2019-10-31 16:59] asangma opened #485 "Bug: (block) Heading is pushed off when an image/SVG is in icon slot"
### Summary

slot is on div with SVG inside
[code]
![image](https://user-images.githubusercontent.com/12503298/67967914-ab247b00-fbc3-11e9-9321-2a09e6fc63e9.png)

slot is on SVG
[code]
![image](https://user-images.githubusercontent.com/12503298/67968582-e4a9b600-fbc4-11e9-9a21-63592f1ae57c.png)

with icon and control
![image](https://user-images.githubusercontent.com/12503298/67968515-c643ba80-fbc

[2019-10-31 17:49] pr3tori4n commented on #400
@kat10140 sorry link was unintentional :) - didn't mean issue 3 but the 3rd item in Adelheides initial comment `(3)`.

[2019-10-31 18:09] pr3tori4n commented on #464
Trying to see the forest through the trees here. What essentially _is_ a non-collapsible block-section? Does the icon get removed? Is it just a container with padding at that point? If so, maybe this would best be solved by introducing the `<calcite-container>` component for general use container needs.

[2019-10-31 18:15] pr3tori4n commented on #477
@kat10140 could you please help me triage this? Repro steps or a link to an environment that demos the issue would help. This is working on our demo pages.
https://esri.github.io/calcite-app-components/demos/calcite-tip-manager.html

[2019-10-31 18:19] pr3tori4n commented on #309
I agree the styling of the secondary action states is too subtle. I brought this up with @asangma a while back and he said it's by design that the background colors on hover match, but I think it's worth a second look if multiple people are confused by it. @asangma can you weigh in when you get a chance?

[2019-10-31 18:35] pr3tori4n commented on #309
@driskull the button in the `calcite-action` shadow dom is what receives focus when it's clicked. Doesn't seem there are any specific :focus styles on the button.
https://github.com/Esri/calcite-app-components/blob/master/src/components/calcite-action/calcite-action.scss#L6-L52

@asangma one solution you might consider is using rgba and adding a little transparency to the hover color, that way whe

[2019-10-31 18:44] jcfranco commented on #464
Section header + content, both always shown and can't be toggled.

<img width="301" alt="Screen Shot 2019-10-31 at 11 34 43 AM" src="https://user-images.githubusercontent.com/197440/67976515-77515180-fbd3-11e9-8a6d-65f90b7c0416.png">

The container could help, but wouldn't take care of the header.

[2019-10-31 23:05] jcfranco commented on #244
@pr3tori4n Can you verify on the next release?

[2019-10-31 23:44] kat10140 commented on #421
insterled. @asangma verifee?

[2019-10-31 23:47] kat10140 opened #486 "Question: Docs"
CAC Doc notes

Shell
- Leading and trailing slots can be more descriptive
- Wording is weird
- If any are optional or required, note (Matt)

Demo: demo all 5 slots (mainly top 4)
- Put text so we can see where each ones goes in the demo

Value list and pick list
- Which ones are required and which are optional (all optional) make clear
- Document the default slot

Pick list and value list item
- V

[2019-10-31 23:48] kat10140 commented on #403
verified

[2019-10-31 23:48] #403 closed

[2019-11-01 16:58] kat10140 commented on #473
@AdelheidF Alan made a [functional Scrim component](https://github.com/Esri/calcite-app-components/blob/master/src/components/utils/CalciteScrim.tsx) that would make it easier for you to implement these loading states on components

[2019-11-01 16:59] driskull commented on #475
Unfortunately, we can't fix until one of these issues are addressed:

https://github.com/ionic-team/stencil/issues/1008
https://github.com/ionic-team/stencil/issues/1623

OR

Stencil allows us to extend a button directly.

@kevindoshier can you focus on the item through the `element.shadowRoot`?

---

https://developers.google.com/web/fundamentals/web-components/shadowdom#focus

Because we have to

[2019-11-01 17:00] jcfranco commented on #473
@kat10140 It'll be have to be me made into its own component since functional components can't be used outside of this project. Is this something we'd like to do here or would it make sense to move to `calcite-components`? cc @asangma

[2019-11-01 18:00] kat10140 commented on #348
@mitc7862 do you have designs for this?

[2019-11-01 18:02] driskull commented on #348
Here are calcite web cards: https://esri.github.io/calcite-web/documentation/components/#card

[2019-11-01 18:04] AdelheidF commented on #473
Maybe I can use `calcite-loader`. I'll try that today.

[2019-11-01 19:28] AdelheidF commented on #449
Looks good!

[2019-11-01 20:33] mitc7862 opened #487 "Enhancement: Update spacing for Panel, Blocks, and Action to align with calcite components"
### Description
- Simplify the spacing of nested container elements

### Acceptance Criteria
- text is consistently styled and aligned
- hierarchy of nested components is clear

#### Desired New Behavior
- No behavior change

#### Desired Change to Look and Feel
- Will post design

#### Out of Scope
- We aren't considering any updates that would require changes to the structure of the components t

[2019-11-01 20:37] asangma commented on #487
The update that removed padding causes more issues than it solves (#454).
Bringing it back as this issue suggests (and possibly enhancing it) will will negate the need to add a padding prop (#457).

[2019-11-01 20:40] asangma commented on #471
@jcfranco @kat10140 Spoke with @AdelheidF and we may not need to do this just yet since Adelheid can use calcite-loader directly.

[2019-11-01 20:43] asangma commented on #464
I think an immediate solution here could be to set the relevant sections to `open`.

Let us know if there's a strong reason to prevent users from having the ability to collapse a section.

[2019-11-01 20:44] asangma commented on #464
@subgan82 ☝️

[2019-11-01 20:44] asangma commented on #464
@subgan82
I think an immediate solution here could be to set the relevant sections to `open`.

Let us know if there's a strong reason to prevent users from having the ability to collapse a section.

[2019-11-01 20:47] mitc7862 commented on #186
@asangma I think this issue covers what we talked about updating for the actions.

[2019-11-01 20:48] asangma commented on #478
I don't think we're gonna change this anytime soon. It's a reality of long strings with no browser-detected places to break.

`break-all` is also what we've been doing in LayerList for some time now.

[2019-11-01 20:48] subgan82 commented on #464
@asangma having the option is useful in our wireframe it was without the toggle.

[2019-11-01 20:48] asangma commented on #487
Also re #482

[2019-11-01 21:00] subgan82 commented on #464
Currently look like this

![Screen Shot 2019-11-01 at 4 00 12 PM](https://user-images.githubusercontent.com/1017712/68056286-bdd0aa00-fcc0-11e9-91fd-d0862c6c183d.png)

cc: @phlorah

[2019-11-01 22:46] asangma commented on #487
re #186

[2019-11-02 00:30] mitc7862 commented on #348
![image](https://user-images.githubusercontent.com/12564905/68063321-3e95a300-fccd-11e9-895e-5be0e7770d56.png)

[2019-11-02 04:20] AdelheidF commented on #473
`calcite-loader` is what I needed.

[2019-11-02 04:20] #473 closed

[2019-11-04 16:46] asangma commented on #485
This apparently isn't an issue anymore. 🤷🏾‍♂️

[2019-11-04 16:46] #485 closed

[2019-11-04 18:36] asangma commented on #186
See #489

[2019-11-04 18:36] asangma commented on #130
@kat10140 Not gonna get to this for Donny.

[2019-11-04 18:38] asangma commented on #175
@kat10140 Would you mind verfeeing this? I'm not allowed to do that with my own issues. 😆

[2019-11-04 18:40] #257 closed

[2019-11-04 18:40] asangma commented on #265
Whoa...oldie. But a goodie.

[2019-11-04 18:40] #265 closed

[2019-11-04 18:45] asangma commented on #302
Reviewing this, looks like I may need to update these:

- [ ] _base
- [ ] action
- [ ] flow-item
- [ ] panel
- [ ] shel

[2019-11-04 20:58] pr3tori4n commented on #244
@jcfranco sure np.

[2019-11-04 21:06] asangma commented on #407
VERFEED!

[2019-11-04 21:06] #407 closed

[2019-11-04 21:10] asangma commented on #479
@AdelheidF I'm not sure how to repro this.

[2019-11-04 21:12] AdelheidF commented on #479
Not sure if this is a styling issue alone. Can we start by investigating why `compact=false` gets added? I think this is causing the issue.

[2019-11-04 21:30] asangma commented on #472
@AdelheidF Once this is in the release, you can verify in your app.

[2019-11-04 21:33] asangma commented on #464
@subgan82 I will check with Mike, but it seems like it's keeping the sections as collapsible is not going to have a negative impact on the UX.

[2019-11-04 22:15] driskull commented on #409
Reopening this issue because it doesn't work correctly in Edge.

[2019-11-04 22:16] driskull commented on #409
We may need to introduce a breaking change to rename slot=menu-actions in the PickList & ValueList or FlowItem. querying for if the slot exists becomes problematic if these components are nested and the workaround is problematic because of the way the polyfill works vs shadowRoot. We may want to start making our slot names unique for components that may nest other components.

there’s no easy way

[2019-11-04 22:17] rmstinson commented on #464
@asangma @subgan82 I will update the screens to make sure that collapsible sections are accounted for!

[2019-11-04 22:19] asangma commented on #487
@mitch We can review on my local to verfee.

[2019-11-04 22:25] jcfranco commented on #464
@asangma Is there a need for this still or should it be closed?

[2019-11-04 22:26] jcfranco commented on #471
Based on ☝️, moving to next milestone.

[2019-11-04 22:27] asangma commented on #464
@jcfranco I'm cool if we close it.

[2019-11-04 22:27] AdelheidF commented on #409
I use it in 2 places, please let me know the morning of the release.

[2019-11-04 22:28] jcfranco commented on #464
Closing until further notice.

[2019-11-04 22:28] #464 closed

[2019-11-04 22:28] pr3tori4n opened #492 "Research: Properly typing values for JS Map Union Types"
### Background

`shared-list-logic.ts` shares a utility method between PickList and ValueList. The method gets an instance reference via `.bind(this)`. The method attemps to add to the state on the instance by adding items to a Javascript Map via the `.set` method. Both the map and the item being added to the map are union types.
`Map<string, HTMLCalcitePickListItemElement> | Map<string, HTMLCalci

[2019-11-04 22:39] asangma commented on #430
@AdelheidF I saw that we are doing the same thing in LayerList as we are here. Do we still want to keep this issue?

[2019-11-04 22:44] AdelheidF commented on #430
up to you...

[2019-11-04 22:44] asangma commented on #427
@driskull Did I need to verify this?

[2019-11-04 22:44] #427 closed

[2019-11-04 22:44] asangma commented on #427
LOL

[2019-11-04 22:44] driskull commented on #427
done

[2019-11-04 22:46] asangma commented on #421
VERFEEE

[2019-11-04 22:46] #421 closed

[2019-11-04 22:57] asangma commented on #367
I'll hit this when #491 is in.

[2019-11-04 23:29] driskull commented on #367
491 is in

[2019-11-05 00:30] driskull commented on #409
Another option is we rely on the developer telling us whether to show the menu button or not.

Instead of relying on `const menuActionsNode = this.el.querySelector("[slot=menu-actions]");` we have a property `show-menu-actions`?

[2019-11-05 00:53] pr3tori4n opened #493 "Bug: Styling of the PickList Group headings is off"
### Summary
### Actual Behavior
![image](https://user-images.githubusercontent.com/12614215/68170166-8c0b4d80-ff23-11e9-969d-fd97f1b53ce8.png)

### Expected Behavior
These should probably be aligned, and maybe larger.

### Reproduction Steps

1. Create a Pick List and group the items inside a <calcite-pick-list-group> with a heading.

### Relevant Info

[2019-11-05 18:05] driskull opened #495 "Enhancement: Filter - Allow setting filter label without using the textLabel property"
### Description

Is there no way to set the aria-label without setting the textLabel? How can a user supply a localized filter label that they don't want to visually display.

I think we should add a separate property so that the string can be set without showing visually.

### Acceptance Criteria

Property to set filter label outside of using `textLabel`

### Helpful Details

https://github.com/E

[2019-11-05 18:05] driskull opened #496 "Enhancement: Filter - Allow setting filter label without using the textLabel property"
### Description

Is there no way to set the aria-label without setting the textLabel? How can a user supply a localized filter label that they don't want to visually display.

I think we should add a separate property so that the string can be set without showing visually.

### Acceptance Criteria

Property to set filter label outside of using `textLabel`

### Helpful Details

https://github.com/E

[2019-11-05 18:05] #496 closed, assigned to pr3tori4n

[2019-11-05 18:40] driskull commented on #409
Here is a basic repro case to see the issue. The fix in the PR above addresses it.

[code]

[2019-11-05 19:50] driskull opened #498 "Enhancement: Scalability - nested components with the same slot names"
### Description

A component that uses a slot name and nests another component with the same slot name can be problematic in identifying if the slot is populated.

### Acceptance Criteria

Come up with a scalable way to detect if a component's slot is populated and not apart of a nested component

### Helpful Details

https://github.com/Esri/calcite-app-components/pull/497
https://github.com/Esri/

[2019-11-05 21:32] asangma commented on #498
There are possibly also issues when the slot name is not the same, e.g. flow-item's footer-actions slot being passed into panel's footer slot.

Seems like the DOM is not respected or something.

[2019-11-05 23:05] asangma commented on #367
@kat10140 Please verfee!

[2019-11-05 23:08] asangma commented on #367
@driskull Do we need to make a doc update regarding how to use the slot names or is that just common knowledge?

[2019-11-05 23:09] driskull commented on #367
We should probably have a snippet and documentation on how to use them.

[2019-11-05 23:09] kat10140 commented on #367
Verified

[2019-11-05 23:09] #367 closed

[2019-11-05 23:09] pr3tori4n opened #501 "Enhancement: Refactor all `getAttribute` and `hasAttribute` methods"
### Description
Maquette and other hyperscript libraries set properties on html elements and not attributes, even if the JSX syntax is similar to HTML attributes.

This means if we're using  `getAttribute` and `hasAttribute` in first-render lifecycle functions, it can cause bugs where the property and attribute are our of sync. So we need to rely on the properties over the attributes for discernin

[2019-11-05 23:09] asangma commented on #367
Thanks @kat10140!
Cool @driskull!

[2019-11-05 23:21] kat10140 commented on #175
Verifeed closing

[2019-11-05 23:21] #175 closed

[2019-11-05 23:21] asangma commented on #430
Closing.

[2019-11-05 23:21] #430 closed

[2019-11-05 23:24] asangma commented on #392
@yobeidat At the time, we are keeping the panel width dynamic and based on the window width. I think if we get enough requests to have more control over the panel width, we could consider exposing a CSS var.

[2019-11-05 23:49] kat10140 opened #503 "Enhancement: Sticky Filter"
### Description
As filter is now, if one scrolls with the pick or value list, the filter scrolls as well. We want the filter to stick at the top of the list at all times.

### Acceptance Criteria
Sticky filter

#### Desired New Behavior
Filter to stick at top of panel when scrolling

#### Desired Change to Look and Feel
Sticky

[2019-11-05 23:51] julio8a commented on #262
@kat10140 move to calcite-components.

[2019-11-05 23:53] julio8a commented on #348
@kat10140 move to calcite-components. Katy, you'll still be building the component.

[2019-11-06 06:22] AdelheidF commented on #409
Still works with 4.5.0 in Chrome

[2019-11-06 06:44] AdelheidF commented on #472
Seems fine now

[2019-11-06 07:39] #449 closed

[2019-11-06 07:39] #409 closed

[2019-11-06 07:39] #472 closed

[2019-11-06 15:21] asangma opened #506 "Bug: ActionPad got missed during the styling update"
### Summary
Remove the extra space.

### Actual Behavior
<img width="391" alt="Screen Shot 2019-11-06 at 7 18 24 AM" src="https://user-images.githubusercontent.com/12503298/68311014-c4b34000-0065-11ea-8cbe-ff25286e33cf.png">

### Expected Behavior
![image](https://user-images.githubusercontent.com/12503298/68311133-fcba8300-0065-11ea-9a74-9b478989de24.png)

### Reproduction Steps

1. Demo

### Rel

[2019-11-06 15:23] asangma commented on #479
Thanks @AdelheidF.
@pr3tori4n This might be something for you to look at?

[2019-11-06 15:25] asangma commented on #454
Over to you @kat10140 for verfeeness.

[2019-11-06 15:26] asangma commented on #396
@kat10140 Lemme know if you want any halp breaking this down.

[2019-11-06 17:38] jcfranco commented on #115
https://github.com/Esri/calcite-app-components/issues/401 should help with this. Moving milestone to align with the Storybooks work. cc @kat10140

[2019-11-06 18:20] AdelheidF opened #507 "Bug: calcite-block-section padding"
### Summary

'Classify data' is a calcite-block-section

closed
![image](https://user-images.githubusercontent.com/44481292/68325601-9beb7480-007e-11ea-94cb-afcf25d07342.png)

open
![image](https://user-images.githubusercontent.com/44481292/68325663-b9b8d980-007e-11ea-8a59-e988febfc7f9.png)

![image](https://user-images.githubusercontent.com/44481292/68325767-ee2c9580-007e-11ea-96bf-aba2a9a12b2a.p

[2019-11-06 18:38] pr3tori4n commented on #503
In code review.

[2019-11-06 19:13] asangma commented on #506
Verfee please!

[2019-11-06 19:19] driskull commented on #486
![image](https://user-images.githubusercontent.com/1231455/68329784-df49e100-0086-11ea-837a-ebe843236626.png)

[patch.diff.zip](https://github.com/Esri/calcite-app-components/files/3816305/patch.diff.zip)

[2019-11-06 19:21] kat10140 commented on #506
🤙🏼

[2019-11-06 19:21] #506 closed

[2019-11-06 19:39] pr3tori4n commented on #356
Modifying this to be an enhancement issue, since its a request for additional functionality that wasn't present on first pass.

[2019-11-06 21:48] jcfranco commented on #402
Installed.

[2019-11-06 22:59] driskull commented on #486
@kat10140 this is how we can set optional/required props:

[code]

[2019-11-06 23:10] asangma opened #513 "Enhancement: Panel. Add scale property to set dynamic height"
### Description
Add an optional property to **panel** which would result in defining the max-height.

Proposal
[code]

[code]

### Acceptance Criteria
User can define panel scale.
Works with pick-list with a sticky header. (#509)

#### Desired Change to Look and Feel
~Could also add a style to set the width dynamic in line with the shell-panel's responsive width.~
This would need to see an update

[2019-11-06 23:14] driskull commented on #513
@asangma so this would be for panel, not popover?

[2019-11-06 23:19] asangma commented on #513
@driskull Ya.

[2019-11-07 00:46] AdelheidF commented on #507
nice now...

<img src=https://user-images.githubusercontent.com/44481292/68350346-dec83f00-00b4-11ea-8e4f-e97460b5afc7.png width=200 />

[2019-11-07 00:46] #507 closed

[2019-11-07 00:48] AdelheidF commented on #507
Though looks like calcite-switch has a right margin. Why?

<img src=https://user-images.githubusercontent.com/44481292/68350470-47afb700-00b5-11ea-8bdd-509f7640ced7.png width=300/>

[2019-11-07 00:50] driskull commented on #477
@kevindoshier is this related to adding a tip-manager to the shell?

We have a slot for it, but I don't think we've added any styles to position it at all. @alansangma I think you would be needed here to place the tip-manager where it should go with z-index and such.

[2019-11-07 00:52] driskull commented on #507
@AdelheidF that styling is coming from the switch itself so probably a good `calcite-components` question for @macandcheese

[2019-11-07 00:53] driskull commented on #482
This can be closed @asangma ??

[2019-11-07 00:54] kevindoshier commented on #477
Yeah when adding it to the shell

[2019-11-07 00:56] driskull commented on #454
This one good now @AdelheidF?

[2019-11-07 00:57] #493 closed

[2019-11-07 01:05] driskull commented on #477
https://github.com/Esri/calcite-app-components/pull/514 @asangma

[2019-11-07 07:07] AdelheidF commented on #507
One more thing.

If you have a longer text in the block-section header the toggle button is higher than the top line. That doesn't look right...

<img src=https://user-images.githubusercontent.com/44481292/68367218-0980ba80-00ea-11ea-9e6f-46dd6bc72b67.png width=200/>

![image](https://user-images.githubusercontent.com/44481292/68367260-20bfa800-00ea-11ea-9523-47867171078e.png)

[2019-11-07 10:08] AdelheidF commented on #507
.. and another thing

There should be more space between the text and the toggle button.

<img src=https://user-images.githubusercontent.com/44481292/68379767-58871980-0103-11ea-8876-488a450d45b5.png width=200/>

[2019-11-07 15:42] asangma commented on #455
@kat10140 verf plearse.

[2019-11-07 15:48] asangma opened #516 "Enhancement: Use CSS vars for calculations"
### Description
We're currently using Sass vars in [_layout.scss](https://github.com/Esri/calcite-app-components/blob/master/src/assets/styles/_layout.scss#L9) for our different spacing sizes.

[code]

We should use the CSS var in these calculations, so that if/when we expose them users can change just the top-level CSS vars and not need to run a Sass build.

### Acceptance Criteria
Depend more on

[2019-11-07 16:28] asangma opened #517 "Bug: value-list-item :last-child shouldn't have a box-shadow/border"
### Summary

### Actual Behavior
![Screen Shot 2019-11-07 at 8 28 37 AM](https://user-images.githubusercontent.com/12503298/68407641-c7329a00-0138-11ea-824e-86c634f123f2.png)

### Expected Behavior
No shadow/border on last one.

### Reproduction Steps

1. demo

### Relevant Info

[2019-11-07 16:35] asangma opened #518 "Bug: Action. Icon is a little high"
### Summary

### Actual Behavior
![Screen Shot 2019-11-07 at 8 33 47 AM](https://user-images.githubusercontent.com/12503298/68408015-68215500-0139-11ea-8336-fec541f5fb82.png)

### Expected Behavior
![image](https://user-images.githubusercontent.com/12503298/68408058-7ec7ac00-0139-11ea-8d0a-8878219c1b95.png)

Centered.....ahhhh...

### Reproduction Steps

1.

### Relevant Info

[2019-11-07 17:48] driskull commented on #507
@AdelheidF can we move these to a new issue?

[2019-11-07 18:00] pr3tori4n commented on #244
Verified

[2019-11-07 18:00] #244 closed

[2019-11-07 18:44] asangma opened #519 "Enhancement: Update base pixel size from 15px to 16px"
**~WAIT for Map Viewer meeting approval.~**

### Description
**From Slack**

And anybody else’s thoughts too.

This would mean that almost all of our size ratios would be even numbers, e.g. `-half` would be 8 instead of being 7.5 or needing `floor`.

#### Desired Change to Look and Feel
Another pixel.

**Which Component:** All

[2019-11-07 18:48] asangma commented on #186
@macandcheese Please verify.

[2019-11-07 18:51] #402 closed

[2019-11-07 18:52] asangma commented on #392
Closing. @yobeidat Please re-open if you feel this isn't solved.

[2019-11-07 18:52] #392 closed

[2019-11-07 18:55] asangma commented on #399
Mind re-checking this one.
Selected value-list-items seems to be showing the selected state now. :)

[2019-11-07 21:28] pr3tori4n commented on #335
@annelfitz @asangma we'd need to put specific focus styles on the button in `calcite-action` in order to achieve this. I'll add a starting point but @asangma you'll probably want to finesse it.

[2019-11-07 21:46] pr3tori4n commented on #340
Bug affects inputs of type text, not just search.

Solution will be to hide it using:
[code]

We'll have to add this manually if it's a feature we'd like, and it'd be available for all browsers.

[2019-11-07 22:14] asangma commented on #516
VARY FIE!

[2019-11-07 22:24] asangma commented on #513
@driskull @kat10140
I'm gonna start on this for the next release.
I am thinking the property would be specific to height. I also think that down the road a panel could have a property to allow for dynamic width similar to shell-panel for cases when it is in a popover.

Updating initial comment with proposed prop name.

[2019-11-07 22:24] kat10140 commented on #455
![Screen Shot 2019-11-07 at 2 24 33 PM](https://user-images.githubusercontent.com/48069902/68432978-57d59e00-016a-11ea-91e7-6be31e8d73f8.png)
@asangma

[2019-11-07 22:28] kat10140 commented on #455
![Screen Shot 2019-11-07 at 2 27 43 PM](https://user-images.githubusercontent.com/48069902/68433197-cfa3c880-016a-11ea-94d6-76301a2bbf9b.png)
@asangma that might have happened bcuz of that super long, very creative string LOL

[2019-11-07 22:30] driskull commented on #335
DOM element styling differs from browser to browser. Even though the element is focused, it may look different in FF/Safari.

IMO I think we can ignore this one and close.

[2019-11-07 22:30] driskull commented on #513
Sounds good. I can help if needed. 👍

[2019-11-07 22:32] kat10140 commented on #455
![Screen Shot 2019-11-07 at 2 29 40 PM](https://user-images.githubusercontent.com/48069902/68433316-11347380-016b-11ea-87df-ea6859943bfb.png)
its working as long as no one puts in a 50 letter word. but also- if the input is super long it hides the checkbox/input below it

[2019-11-07 22:35] #455 closed

[2019-11-07 22:40] annelfitz commented on #335
I'm fine if you want to close it - still works as it should for keyboard users

[2019-11-07 22:46] driskull opened #523 "Tooling: Semantic PR readme/info"
## Summary

Document Semantic PR readme/info

## Measure of Success

Peeps know how to make the green check on PR.

[2019-11-07 22:52] driskull opened #524 "Enhancement: pick-list-item action styling"
### Description

I noticed when hovering a pick-list-item the action on the right has a BG color. Shouldn’t it be transparent?

Why BG color on circle icon?

![image](https://user-images.githubusercontent.com/1231455/68434511-fd3e4100-016d-11ea-9f32-ddf8a65484f8.png)

#### Desired Change to Look and Feel

Transparent BG on icon

**Which Component:** CalcitePickList/CalciteValueList

[2019-11-07 23:52] driskull commented on #477
@kevindoshier installed.

[2019-11-08 00:02] kat10140 commented on #399
i thought this was supposed to highlight blue i didn't see the box MY BAD!!

[2019-11-08 00:02] #399 closed

[2019-11-08 00:17] kat10140 commented on #516
lewks gewd!

[2019-11-08 00:17] #516 closed

[2019-11-08 00:44] kat10140 commented on #301
Verified

[2019-11-08 00:44] #301 closed

[2019-11-08 01:59] AdelheidF opened #527 "Bug: calcite-block + calcite-block-section focus box cut off"
### Summary

block closed
<img src=https://user-images.githubusercontent.com/44481292/68443228-2f5c9c80-0188-11ea-97e2-a497652eabd1.png width=300/>

block open with focus on header. The calcite-block-section seems to start 1 pixel too high.
<img src=https://user-images.githubusercontent.com/44481292/68443211-1fdd5380-0188-11ea-9887-c726c2918b17.png width=300/>

Only happens if the header text need

[2019-11-08 17:17] jcfranco commented on #523
Verified!

[2019-11-08 17:17] #523 closed

[2019-11-08 17:56] #390 closed

[2019-11-08 18:11] #335 closed

[2019-11-08 18:21] #137 closed

[2019-11-08 18:25] kat10140 commented on #186
closing! reopen if there are any issues @macandcheese

[2019-11-08 18:25] #186 closed

[2019-11-08 18:26] kat10140 commented on #252
closing until we get new reqs

[2019-11-08 18:26] #252 closed

[2019-11-08 18:33] #306 closed

[2019-11-08 18:35] #309 closed

[2019-11-08 18:36] kat10140 commented on #524
https://github.com/Esri/calcite-app-components/issues/309

[2019-11-08 18:37] #68 closed

[2019-11-08 18:39] #433 closed

[2019-11-08 18:40] kat10140 commented on #433
closing bc murgled

[2019-11-08 18:43] kat10140 commented on #461
@AdelheidF want to check this in the current build?

[2019-11-08 18:48] kat10140 commented on #487
thumbified

[2019-11-08 18:48] #487 closed

[2019-11-08 18:50] kat10140 commented on #495
consolidate

[2019-11-08 18:52] kat10140 commented on #454
closing. @AdelheidF please repoen if theres a issue

[2019-11-08 18:52] #454 closed

[2019-11-08 19:03] pr3tori4n commented on #317
@driskull please verify.

[2019-11-08 19:04] #317 closed

[2019-11-08 19:08] pr3tori4n commented on #400
@kat10140 Please verify.

[2019-11-08 19:09] pr3tori4n commented on #340
@driskull Please verify.

[2019-11-08 19:10] driskull opened #530 "Enhancement: Add property to toggle opening/closing of TipManager"
### Description

Enhancement: Add property to toggle opening/closing of TipManager

### Acceptance Criteria

Currently, the tip manager is closed by adding `hidden` attribute but because we need to prevent the transition animation from happening when reopening, we should have a property that handles opening/closing the tip manager.

### Relevant Info

This is what happens when reopening after pagi

[2019-11-08 19:10] driskull commented on #530
cc @asangma @kevindoshier

[2019-11-08 19:11] #340 closed

[2019-11-08 19:19] jcfranco opened #531 "Tooling: Set up SCSS linting + auto-fixes"
## Summary

It would be useful to lint our styles and auto-fix whenever possible.

## Measure of Success

**Pain point:** Sass is not being linted and can lead to inconsistencies.

**Desired outcome:** Linting + auto-fixing on commit.

### Resources

https://github.com/Esri/calcite-app-components/tree/jcfranco/set-up-style-linting

[2019-11-08 19:27] asangma commented on #519
@kat10140 VERF!

[2019-11-08 19:47] pr3tori4n commented on #385
`value-list-item` doesn't have any tests since it's basically just a wrapping container around `pick-list-item`.

[2019-11-08 20:17] pr3tori4n commented on #503
@kat10140 please verify.

[2019-11-08 21:41] asangma commented on #302
VERFEE!

[2019-11-08 21:43] driskull commented on #302
Looks good. they all have 3 args.

[2019-11-08 21:43] #302 closed

[2019-11-08 21:44] driskull commented on #477
Closing. @kevindoshier reopen if still an issue.

[2019-11-08 21:44] #477 closed

[2019-11-08 21:48] kat10140 commented on #393
verified and closing

[2019-11-08 21:48] #393 closed

[2019-11-08 22:00] kat10140 commented on #400
@pr3tori4n looks like radio buttons can still be deselected

[2019-11-08 22:01] kat10140 commented on #400
![radio buttons](https://user-images.githubusercontent.com/48069902/68513580-3dfe8e80-0230-11ea-99b3-b827f93a9e81.gif)

[2019-11-08 22:06] kat10140 commented on #400
nvm, making this into separate issue

[2019-11-08 22:06] #400 closed

[2019-11-08 22:09] kat10140 opened #536 "Bug: radio buttons shouldn't be allowed to deselect"
### Summary
radio buttons in pick list can be deselected when  clicked in pick list. this aint right

### Actual Behavior
![radio buttons](https://user-images.githubusercontent.com/48069902/68513951-3b506900-0231-11ea-9840-a84b772fb087.gif)

### Expected Behavior
no deselect

### Reproduction Steps

1. https://esri.github.io/calcite-app-components/demos/calcite-pick-list.html click a selected radi

[2019-11-09 00:21] asangma commented on #517
@kat10140 May need to artificially add a bit of border to the bottom of the value-list in the full-window shell demo to see the diff.

[2019-11-09 00:45] driskull commented on #426
Closing this since it was done. @jcfranco just link the PR to this when you get a chance.

[2019-11-09 00:45] #426 closed

[2019-11-09 00:49] pr3tori4n opened #538 "Enhancement: Figure out aria-role for valueList"
### Description
`aria-role="checkbox"` is on the Host for the list-items. But it'd be more appropriate on the icon. However value lists don't have an icon. Need to find another solution.
### Acceptance Criteria
#### Desired New Behavior
none. This is more of a refactor. Functionality shouldn't change. A11y should still pass.
#### Desired Change to Look and Feel
none
#### Out of Scope

### Relevant

[2019-11-09 00:51] pr3tori4n commented on #385
@jcfranco please verify.

[2019-11-09 00:53] kat10140 opened #539 "Calcite-Card API Design"
[code]

[code]

[2019-11-09 08:16] AdelheidF commented on #461
Seems to work as I would expect now. Just did a bit of testing.

[2019-11-11 01:28] jcfranco commented on #426
Fixed by https://github.com/Esri/calcite-app-components/pull/528.

[2019-11-11 17:47] driskull commented on #513
@asangma I don't think we want the default to be "m" or any value right? Because the flow-manager we want to take up 100% height by default. Seems like they should opt into the sizes right?

[2019-11-11 17:48] kat10140 opened #540 "Bug: Block with control has collapse icon in Edge"
### Summary
Block section with a control still has a collapse icon in Edge.

### Actual Behavior

![Capture](https://user-images.githubusercontent.com/48069902/68608541-0b3edb00-0468-11ea-9d0d-3a09169de9bf.PNG)

### Expected Behavior
No collapsible icon when section has a control

### Reproduction Steps

1. go to https://esri.github.io/calcite-app-components/demos/calcite-block.html in edge

### R

[2019-11-11 18:02] kat10140 commented on #519
verfiiiiiidd

[2019-11-11 18:02] #519 closed

[2019-11-11 18:15] kat10140 commented on #517
verfyyyyd

[2019-11-11 18:15] #517 closed

[2019-11-11 18:22] kat10140 commented on #461
verified & closing

[2019-11-11 18:22] #461 closed

[2019-11-11 18:28] kat10140 commented on #503
gonna verify this tomorrow when we release again in the new mapviewer

[2019-11-11 22:27] driskull opened #542 "Bug: CalciteValueList - Selecting last item doesn't show any visual indication."
### Summary

### Actual Behavior

The last selected item doesn't have any visual indication of selection.

### Expected Behavior

The last selected item gets represented visually

### Reproduction Steps

1. Go to the following `demos/calcite-value-list.html`
2. Click the last item under the multiple list
3. Notice that there is no outline on the item yet it is selected in the event.

### Relevant

[2019-11-11 22:30] driskull opened #543 "A11y: Selected state of CalciteValueList is a little too subtle"
### Summary

Does the selected state of the value-list seem a little too subtle? At first, it wasn’t easy to tell which was selected or not.

### Actual Behavior

The selected visual indication can be mistaken for an outline or not recognized at all.

### Expected Behavior

More distinct representation between which items are selected or not selected.

### Reproduction Steps

1. View `demos/calcit

[2019-11-11 23:24] kat10140 opened #545 "Enhancement: document default slots: pick and value list"
### Description
Document the default slot for the pick and value list. While you're in there maybe go ahead and note what properties are optional and what are required.

#### Which Component
Pick-list and value-list

[2019-11-11 23:30] kat10140 commented on #348
[code]

[code]

[2019-11-12 00:35] asangma commented on #542
Installed.

[2019-11-12 00:37] driskull commented on #348
- We can remove `hover` as a prop
- Lets find out if we need an `idle` prop. @asangma??
- General heading slot for text and icons
- Remove subHead prop  & remove supportingText prop.
- Slot for single action. "action" slot.
- Better name for image crop property? Something to explain what its doing.
- `imagePropScale` to `imageScale` and use `s`, `m`, `l` for consistency.
- footer leading and trail

[2019-11-12 00:39] #542 closed

[2019-11-12 00:43] asangma commented on #542
🎉

[2019-11-12 02:41] AdelheidF opened #546 "Bug: calcite-block loading not 'hiding' slider handles"
### Summary

The slider handles don't appear grey.

<img src=https://user-images.githubusercontent.com/44481292/68637036-4b2ab000-04b2-11ea-8d39-9421bc8b490a.png width=200/>

cc @asangma

### Actual Behavior

### Expected Behavior

### Reproduction Steps

Go to new map viewer, select location style, open transparency block, select 'new Expression' as attribute. Only enters the loading state the fi

[2019-11-12 18:09] kat10140 commented on #503
verified

[2019-11-12 18:09] #503 closed

[2019-11-12 19:26] asangma opened #547 "Bug: panel. Don't render header leading or trailing nodes when empty"
### Summary
re: header. Only render related notes when content is passed to leading and trailing slots in header.

### Actual Behavior
When leading slot is empty, flex justify-content still acts like there's stuff in there.
![image](https://user-images.githubusercontent.com/12503298/68703325-45c77700-053f-11ea-866c-e99bfe541bb6.png)

### Expected Behavior
![image](https://user-images.githubusercon

[2019-11-12 19:39] driskull commented on #547
@asangma if we remove the nodes when the slot is not populated the `close` button would be to the left. How would we address that?

[2019-11-12 19:40] driskull commented on #546
Seems like the zIndex is not being respected somewhere.

[2019-11-12 19:40] driskull commented on #545
We don't document any default slots. Should we start doing so?

[2019-11-12 19:41] driskull commented on #539
@kat10140 can you update this one and link to the issue? Or close this issue.

[2019-11-12 21:44] #482 closed

[2019-11-12 21:45] #262 closed

[2019-11-12 23:37] jcfranco opened #548 "Bug: [Block] `disabled` does not prevent tab focusing on children"
### Summary

When a `calcite-block` is disabled, its content can still be focused and interacted with via keyboard.

### Actual Behavior

Disabled `calcite-block` only blocks mouse interaction.

### Expected Behavior

Disabled `calcite-block` does not allow mouse nor keyboard interaction.

### Reproduction Steps

Simple test case:

[code]

### Relevant Info

[2019-11-12 23:48] driskull commented on #9
Moving wiki

---

## ListBrowser
This component enables finding and selecting one or many items as part of a workflow. The ListItems in the list should update based on the type of selection to be done (direct, single, multiple) without requiring the developer to tell the item to use e.g. a radio or checkbox.

Long term goal would be to build the ItemBrowser and similar workflows using this compone

[2019-11-13 00:04] #539 closed

[2019-11-13 00:09] pr3tori4n commented on #545
I definitely think so. It's a quality of life improvement for someone trying to implement our components, and aren't super clear how they work.

[2019-11-13 00:55] driskull opened #551 "Bug: Shift click unselection in calcite-pick-list doesn't work"
### Summary

Bug: Shift click unselection in calcite-pick-list doesn't work

### Actual Behavior

You can shift click to select all items up to the selected item but you can't do the same for unselecting them

### Expected Behavior

If You have all the items selected and shift-click on them, they should all become unselected

### Reproduction Steps

1. Select all items
2. Try to unselect all but t

[2019-11-13 17:11] jcfranco commented on #385
I missed setting up a test for `calcite-block-section`. I'll create a separate issue for this. Aside from that, all components are using the `accessible` helper.

[2019-11-13 17:11] #385 closed

[2019-11-13 17:13] jcfranco opened #552 "Testing: Add missing accessible helper test to calcite-block-section"
Stems from https://github.com/Esri/calcite-app-components/issues/385

[2019-11-13 19:32] julio8a commented on #348
Hey guys,

Checking in to see where this component is being built. Last time we talked it was going to be built in calcite-components.

[2019-11-13 19:39] driskull commented on #348
@julio8a @kat10140 Yes, it should be built in calcite-components. @kat10140 can you move the issue there?

[2019-11-13 20:28] sha10152 opened #553 "Bug: Save text disappears in Map Viewer beta"
@kevi2258 @chri4732

![image](https://user-images.githubusercontent.com/57729604/68801473-05382e00-0611-11ea-8a91-c891633c4206.png)

As soon as I save a map, 'Share Map' button activates..but Save text disappears
image

[2019-11-13 21:29] asangma commented on #547
The header is `justify-content: space-between`. It should automatically layout like the above screen if there's no leading slot. I will have to check what it looks like when there's not trailing. Either way, it looks weird currently.

[2019-11-13 21:29] kat10140 commented on #348
https://github.com/Esri/calcite-components/issues/230

[2019-11-14 00:26] asangma opened #554 "Bug: panel header + action height is weird when content is scrolling"
### Summary

### Actual Behavior
![panel min-height](https://user-images.githubusercontent.com/12503298/68816040-147ba380-0632-11ea-8744-f8b8486f09d6.gif)

### Expected Behavior
No border weirdness.

### Reproduction Steps

1. Flow demo

### Relevant Info
Could set flex-basis instead of min-height.
Could also set flex-basis based on the height of Action which is basically our size basis (16px) * 3

[2019-11-14 04:53] AdelheidF opened #555 "Bug: calcite-picklist CSS issue"
### Summary

<img src=https://user-images.githubusercontent.com/44481292/68827441-dc3a8c00-0656-11ea-826b-01bc027fc2b6.png width=200/>

horizontal line below filter gets cut off when scrolling

<img src=https://user-images.githubusercontent.com/44481292/68827635-82869180-0657-11ea-8dd2-978ab1235315.png width=200/>

cc @asangma

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

[2019-11-14 04:58] AdelheidF commented on #479
This seems to have fixed itself. I don't see it anymore.

[2019-11-14 17:17] asangma opened #557 "Enhancement: Action. Add property enable clear bg-color"
### Description
The white bg of Action gets weird during hover states in stuff like value-list-item.
![image](https://user-images.githubusercontent.com/12503298/68879986-41c26300-06bf-11ea-88db-0ac3b7aaf141.png)

### Acceptance Criteria
Look more like this
![image](https://user-images.githubusercontent.com/12503298/68880040-5e5e9b00-06bf-11ea-9669-e1a1f5031821.png)

And ensure that there's a relat

[2019-11-14 17:54] driskull commented on #557
@asangma can it just be clear by default? Do we need to set the BG color?

[2019-11-14 17:56] driskull commented on #553
This seems like an app issue @sha10152 . @AdelheidF @kevindoshier can you confirm?

[2019-11-14 17:56] #553 closed

[2019-11-14 17:58] driskull commented on #548
@jcfranco if the block tabIndex is set to "-1" does that fix it?

[2019-11-14 17:58] kevindoshier commented on #553
I wasnt able to reproduce today, it might have just been something going on with yesterdays build

[2019-11-14 18:02] jcfranco commented on #548
Yes, but that would prevent users from toggling the disabled content on/off, which I believe we want to keep as a user convenience. 👈 @asangma?

[2019-11-14 18:05] asangma commented on #557
I like it.

[2019-11-14 18:05] asangma commented on #557
Would still need to do some stuff regarding the hover state.

[2019-11-14 18:10] sha10152 commented on #553
@kevindoshier You are right. It's working fine today. All set with this one.

[2019-11-14 18:12] driskull commented on #557
Seems like the only time it would need a bg color is when its in another component and can be styled by that component. 👍

[2019-11-14 18:13] asangma commented on #557
I would need to move all the styles out of the `button` that's inside the shadow dom.

[2019-11-14 18:28] driskull commented on #557
Lets be consistent with `calcite-components` and add a clear property

[2019-11-14 18:31] asangma commented on #557
Cool. `appearance="clear"` will be the closest analogy to calcite-components' [button](https://esri.github.io/calcite-components/?path=/story/button--simple).

[2019-11-14 18:58] driskull commented on #466
Installed 🎉

[2019-11-14 18:59] driskull commented on #557
So we would have a property on the Action called `appearance` and by default it would be `solid`

[2019-11-14 19:16] asangma commented on #557
Hee hee...already doon it. :)

[2019-11-14 19:18] asangma commented on #557
[code]

[2019-11-14 22:31] AdelheidF opened #560 "Bug: calcite-block disabled state doesn't 'hide' slider handle"
### Summary

![image](https://user-images.githubusercontent.com/44481292/68901696-3edd6780-06eb-11ea-9e56-fd54c69514dd.png)

cc @asangma @jcfranco

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2019-11-14 22:31] driskull opened #561 "Docs: Document all unnamed slots for components"
### Description

Document all unnamed slots for components

### Acceptance Criteria

All default slots have doc

#### Which Component

All

#### Example Use Case

[code]

[2019-11-14 22:49] asangma commented on #547
@kat10140 Please verfee. :)

[2019-11-15 17:21] jcfranco opened #564 "Tooling: Tweak build to process non Stencil-related TS files."
## Summary

Currently, TS files that are unrelated to components (e.g., demo/workflow support files) are not getting picked up by the Stencil build, preventing us from writing these in TS.

## Measure of Success

Having all non-component TS files get built alongside the Stencil build.

![3ggzs7](https://user-images.githubusercontent.com/197440/68961675-c37dc380-0787-11ea-80ef-a02b2ff74f21.jpg)

##

[2019-11-15 18:54] russroberts opened #565 "Bug: Calcite-picklist not spacing list correctly - Safari"
### Summary
It looks like the picklist is not spacing correctly causing rows to overlap. Only reproducible in Safari
### Actual Behavior
![image](https://user-images.githubusercontent.com/17597538/68967861-2c2c6680-07af-11ea-9f4b-aa38f97be773.png)

Reproduced this by opening up the Add Fields view in NMV with this map
https://devtesting.mapsdevext.arcgis.com/apps/mapviewer/index.html?webmap=775dd1

[2019-11-15 18:55] jcfranco commented on #565
+@kat10140 for triage.

[2019-11-15 19:05] jcfranco commented on #560
The scrim currently uses a z-index of 2, so there are cases where siblings in the same stacking context will show above it. I propose for now a simple CSS var for the scrim's z-index and if necessary, we can create a follow-up issue for something more involved to guarantee that it's always above.

@asangma @pr3tori4n @driskull WDYT?

[2019-11-15 19:09] asangma opened #566 "Bug: Tip. Header still renders when non-dismissible and no heading slot content"
### Summary

### Actual Behavior
![image](https://user-images.githubusercontent.com/12503298/68964320-e4e1ae00-078d-11ea-9c0a-0c2174142c69.png)

### Expected Behavior
![image](https://user-images.githubusercontent.com/12503298/68968834-56bef500-0798-11ea-81d8-6f11df7653e6.png)

### Reproduction Steps

1. Make a Tip with no heading and non-dismissible

### Relevant Info

[2019-11-15 19:09] asangma commented on #566
note: there are probz a few other CSS things to go along with this.

[2019-11-15 19:15] driskull commented on #560
@jcfranco This is the current structure of the scrim

[code]

Can we just do the following to get the stacking index relative to where the scrim is?

[code]

[2019-11-15 19:19] driskull commented on #560
We could also enhance `<CalciteScrim>` to surround the content you want contained in the right z-index stacking. That might be even better.

[2019-11-15 22:27] asangma opened #568 "A11y: Color Contrast. Blue on gray is not accessible"
### Summary
When we use `$h-bb-060` on `--calcite-app-background-content` (`$blk-010`), the contrast does not pass WCAG AA contrast requirements.

### Actual Behavior
[Not enough contrast](https://contrast-ratio.com/#%23007ac2-on-%23f3f3f3).

### Expected Behavior
[Use $h-bb-070](https://contrast-ratio.com/#%2300619b-on-%23f3f3f3)

### Reproduction Steps

1.

### Relevant Info

### Working W3C Exa

[2019-11-15 22:56] kat10140 commented on #87
closing! we don't want to do this bc would encourage bad practices

[2019-11-15 22:56] #87 closed

[2019-11-16 00:00] jcfranco commented on #87
*bad practices => blockception 😂

[2019-11-16 00:44] asangma opened #569 "A11y: Action focus ring gets largely hidden"
### Summary
Action focus ring in ActionBar gets hidden.

### Actual & Expected Behavior
![action focus](https://user-images.githubusercontent.com/12503298/68984807-14f97300-07c7-11ea-91d8-13ccfa961583.gif)

### Reproduction Steps

1. focus an Action in a ActionBar.

### Relevant Info

### Working W3C Example/Tutorial

[2019-11-16 00:45] asangma commented on #569
cc @arjavbadjatiya

[2019-11-16 01:11] asangma commented on #569
@kat10140 verfee!

[2019-11-16 02:09] dhrumil83 opened #571 "Enhancement: Event when user starts typing to filter"
### Description
Return an event when user starts typing to filter.

### Acceptance Criteria
The event can return all currently visible values for the user + what the user actually typed.

### Relevant Info

#### Which Component
calcite-value-list and calcite-pick-list
#### Example Use Case

[2019-11-18 17:56] asangma commented on #554
This was not actually fixed by the referencing PR.
![panel header min-height](https://user-images.githubusercontent.com/12503298/69077080-aea06a80-09e9-11ea-9d6e-83558cd2ec62.gif)

[2019-11-18 18:57] jcfranco commented on #560
@AdelheidF Can you help verify this one?

[2019-11-19 17:48] jcfranco commented on #471
@asangma @kat10140 Any update on the priority for this one?

[2019-11-19 17:51] AdelheidF commented on #471
I don't need this anymore since calcite-loader does what I need.

[2019-11-19 17:51] #471 closed

[2019-11-19 18:21] jcfranco commented on #466
Verified locally.

[2019-11-19 18:21] #466 closed

[2019-11-19 21:29] AdelheidF opened #572 "Enhancement: calcite-block to collapse disabled blocks"
### Description
If the user enters the SymbolStyler with a PictureMakerSymbol we want to set the fill and outline to certain color values in case the user switches to a SimpleMakerSymbol. In order to have those things available and visible when the user switches to SimpleMS I pass in these open and enabled states below. But it looks weird if all that is greyed out at first, since the PictureMS is

[2019-11-19 22:04] asangma opened #573 "Enhancement: Interim focus style"
### Description
Until #111 is full addressed, add a consistent adjustment to browser standard `outline`. Seems like most issues with default focus ring styles are the ring getting clipped.

Propose a mixin that insets the focus outline.

[code]

`--calcite-app-outline-inset` is already in.

### Acceptance Criteria
A good interim solution for focus ring issues.

### Relevant Info
[W3 focus doc](htt

[2019-11-19 23:12] asangma commented on #406
Looks like we will have need for this. Reopening.

[2019-11-19 23:23] driskull commented on #406
@asangma this one is already open: https://github.com/Esri/calcite-app-components/issues/450

[2019-11-19 23:23] #406 closed

[2019-11-19 23:23] driskull commented on #450
https://github.com/Esri/calcite-app-components/pull/448

[2019-11-20 00:14] pr3tori4n commented on #263
This work is being captured by the demos created by Alan and the advanced demos issue. Closing this.

[2019-11-20 00:14] #263 closed

[2019-11-20 00:22] pr3tori4n commented on #396
@asangma I'm going to take a stab at this. If you have some designs you want me to follow, please provide.

[2019-11-20 02:55] AdelheidF commented on #560
Tested locally. Seems fine now.

<img src=https://user-images.githubusercontent.com/44481292/69205162-10ea8f80-0afe-11ea-88a8-cc8a557f3ad5.png width=200/>

[2019-11-20 03:49] #560 closed

[2019-11-20 21:37] pr3tori4n commented on #495
duplicate of #333. Closing.

[2019-11-20 21:37] #495 closed

[2019-11-22 19:19] pr3tori4n commented on #333
@kat10140 please verify.

[2019-11-22 19:20] pr3tori4n commented on #356
@kat10140 please verify. Please double-check Edge and Safari.

[2019-11-22 19:21] pr3tori4n commented on #396
@kat10140 please verify.

[2019-11-22 19:22] pr3tori4n commented on #423
@driskull please verify.

[2019-11-22 19:27] #423 closed

[2019-11-22 20:43] pr3tori4n commented on #479
@AdelheidF can we close this issue?

[2019-11-22 20:44] #479 closed

[2019-11-22 21:23] jcfranco commented on #531
Installed.

@driskull Can you help verify? There's also a VSCode plugin: https://github.com/shinnn/vscode-stylelint

[2019-11-22 21:23] jcfranco commented on #540
Installed.

[2019-11-22 21:27] driskull opened #586 "Enhancement: Flow should remove the current panel automatically when back is clicked"
### Description

Enhancement: Flow should remove the current panel automatically when back is clicked

From: https://github.com/Esri/calcite-app-components/wiki/2019-Weekly-Meeting#2019-11-15

### Acceptance Criteria

Add property `beforeBack`.

[code]

#### Which Component
CalciteFlow

[2019-11-22 21:28] driskull commented on #586
This will be a breaking change, so I will remove all deprecations as well.

[2019-11-22 21:33] driskull commented on #531
Works. extension is nice too.

![image](https://user-images.githubusercontent.com/1231455/69461966-9fdcef00-0d2c-11ea-8efe-00b37b632dbf.png)

[2019-11-22 21:33] #531 closed

[2019-11-22 21:33] kat10140 commented on #356
works in Chrome, Firefox, Safari, Edge. Closing

[2019-11-22 21:33] #356 closed

[2019-11-22 21:44] jcfranco opened #587 "Tooling: commonTests utils cause warning messages"
## Summary

When running the E2E test suite, there are multiple warning messages showing up:

[code]

Culprit: The `accessible` helper wasn't properly set up in some tests. 🔍:shipit:

## Measure of Success

No more warnings are shown when running the test suite.

### Resources

[2019-11-22 22:19] driskull opened #588 "Research: IE11 testing"
### Background

Test components in IE11

### Desired Outcome

Maybe they will work

[2019-11-25 17:37] pr3tori4n commented on #463
@kat10140 please verify.

[2019-11-25 17:44] kat10140 commented on #540
@jcfranco the icon is gone! On hover, expand label still shows and toggles on click in the console.

![Screen Shot 2019-11-25 at 9 37 48 AM](https://user-images.githubusercontent.com/48069902/69564419-dd798c00-0f67-11ea-8145-e45159a17e99.png)
![Screen Shot 2019-11-25 at 9 41 26 AM](https://user-images.githubusercontent.com/48069902/69564425-dfdbe600-0f67-11ea-921d-dbcd34899c45.png)

[2019-11-25 18:01] kat10140 commented on #333
Verified

[2019-11-25 18:01] #333 closed

[2019-11-25 18:21] kat10140 commented on #396
verified

[2019-11-25 19:01] kat10140 commented on #540
The icon is removed! We're still getting expand/collapse labels on hover over the 'test control' where the expand button/icon would have been

![Screen Shot 2019-11-25 at 10 59 08 AM](https://user-images.githubusercontent.com/48069902/69569608-d7d57380-0f72-11ea-9370-77730259bd23.png)

![Screen Shot 2019-11-25 at 10 59 31 AM](https://user-images.githubusercontent.com/48069902/69569614-dad06400-0f7

[2019-11-25 19:10] kat10140 commented on #463
verified

[2019-11-25 19:10] #463 closed

[2019-11-25 21:08] asangma opened #590 "Enhancement: Add property to ShellPanel that allows content to "float""
### Description
Add a Prop to ShellPanel that will cause this component's `content` node to behave like a "floating panel" without affecting existing usage.

![image](https://user-images.githubusercontent.com/12503298/69577664-b466f480-0f83-11ea-8881-f102333a7464.png)

### Acceptance Criteria
* Default behavior is as-is
* Prop to activate this appearance
* No change to current implementation
* inc

[2019-11-25 22:16] kat10140 opened #592 "Bug: Demo: loading and disabled not working on Tip Manager"
### Summary
Loading and disabled states aren't working on tip manager in the demo

### Actual Behavior
Dey don't work

### Expected Behavior
Loading and disabled states to werk

### Relevant Info

[2019-11-25 23:21] arjavbadjatiya commented on #590
@asangma  While this change will partly addresses the feedback we have received about the map area, I don't think it'll be enough. The feedback was typically for situations where multiple panels and popouts are open and reduce the visible area of the map.
![Current](https://user-images.githubusercontent.com/29237960/69585743-63f89280-0f95-11ea-84fd-b9d0931a10c6.png)

   I spoke to @mitc7862  brief

[2019-11-25 23:59] mitc7862 commented on #590
@arjavbadjatiya I'm on the fence about adding a third-level drill in for the symbol styler. It could work, but I also think we would need to reconsider how flow-manager navigation would work to help orient users. Perhaps a better approach would be to place the Symbol Style floating panel over the Style Properties panel instead of over the map… I will explore what this would look like.

I don't thi

[2019-11-26 00:05] arjavbadjatiya commented on #590
@mitc7862 Legend currently has its own panel, that's what I based it on. If we're planning to club layer and legend together, then this approach will change.

[2019-11-26 00:08] pr3tori4n commented on #592
@kat10140 it doesn't look like loading or disabled states were ever added for these two components. Right now the toggle buttons are coded to show up on every page, but for any components that don't have these states they won't do anything.

## Options
* If we want to add those states to these components, that'd be an enhancement.
* We could adjust the toggle button logic so that it doesn't show u

[2019-11-26 20:10] pr3tori4n commented on #536
@kat10140 please verify.

[2019-11-26 22:30] asangma opened #593 "Enhancement: Add scale interface"
### Description
Add a CalciteScale interface.

### Acceptance Criteria

### Relevant Info
Using a scale prop regularly.
See https://github.com/Esri/calcite-app-components/pull/591#discussion_r350437773

#### Which Component
All

[2019-11-26 22:30] asangma commented on #593
cc @driskull

[2019-11-26 22:59] asangma opened #594 "Enhancement: ShellPanel - make floated content height dynamic"
### Description
Find a solution for this problem:
Currently, unable to accomplish a content-based height in the float mode because doing so conflicts with a flow-item's sticky header and footer.

So the scale prop sets the height to one of three sizes:
Small
![image](https://user-images.githubusercontent.com/12503298/69678621-ef882700-105a-11ea-93e9-6ad3013345dd.png)

Medium (default)
![image](htt

[2019-11-27 15:24] jcfranco commented on #540
That's expected. You'll need to set `title` on the control element if you want a different tooltip. Is this from the demo page? I can update it so that elements using the control slot set a custom tooltip.

[2019-11-27 21:37] kellyhutchins opened #595 "Bug: Unable to move single calcite-shell-panel to the trailing position"
### Summary

We are building a configurable app using calcite-app-components that will have a single side panel. Users may want to configure the app so the single panel appears on either the left or right side of the app.  Based on the shell documentation it seems like we could create a calcite-shell-panel with the slot set to contextual-panel  and the layout set to trailing.  This only works when

[2019-11-27 21:53] jcfranco commented on #587
There were a lot of warnings showing up in the console where the `accessible` helper wasn't set up properly (tests needed to wait for the result before proceeding).

I've restored the helper in this branch (https://github.com/Esri/calcite-app-components/tree/jcfranco/587-wire-up-missing-accessible-tests), and there are two failing tests:

[code]

Assigning to @driskull for test follow-up.

[2019-12-02 16:42] AdelheidF commented on #396
@kat10140 How can I change the string 'Filter results'? Also, will the current string get translated?

[2019-12-02 17:43] asangma commented on #396
@kat10140 @pr3tori4n Looks like part of this issue was not addressed.

Reopening.

[2019-12-02 18:07] pr3tori4n commented on #396
@asangma it would be better to open each feature request as a separate issue. Can we create new issues for the other two requests, and keep this closed as the issue addressing the clear button?

[2019-12-02 19:15] driskull commented on #587
@jcfranco checked in the fixes/changes.

[2019-12-02 22:50] AdelheidF opened #597 "Enhancement: calcite-pick-list - change filter text"
### Description

Is it possible to change the string in the filter?

Design
<img src=https://user-images.githubusercontent.com/44481292/67066856-1765a000-f129-11e9-8364-d8a9a752acc3.png width=250/>
Component:
<img src=https://user-images.githubusercontent.com/44481292/67066889-38c68c00-f129-11e9-808c-9d217f600c0c.png width=250/>

### Acceptance Criteria

### Relevant Info

#### Which Component

##

[2019-12-02 22:50] AdelheidF commented on #396
https://github.com/Esri/calcite-app-components/issues/597

[2019-12-03 18:48] asangma commented on #568
I believe the updates to the calcite-components values should handle this contrast issue. Closing.

[2019-12-03 18:48] #568 closed

[2019-12-03 18:58] kat10140 commented on #557
![Screen Shot 2019-12-03 at 10 56 14 AM](https://user-images.githubusercontent.com/48069902/70080638-c831dc80-15bb-11ea-89bf-27bbaddfd61c.png)
![Screen Shot 2019-12-03 at 10 57 33 AM](https://user-images.githubusercontent.com/48069902/70080639-c831dc80-15bb-11ea-80ea-e27343aee519.png)

doesn't look like it fixed ☹️

[2019-12-03 19:24] asangma opened #599 "Bug: Filter. X is showing when there is nothing in input"
### Summary
X should only show when there is something in the input.

### Actual Behavior
![image](https://user-images.githubusercontent.com/12503298/70082426-3fb53b00-15bf-11ea-8419-3a10c1f55724.png)

### Expected Behavior
![image](https://user-images.githubusercontent.com/12503298/70082457-4e035700-15bf-11ea-81be-072649eb5095.png)

And when there's text...
![image](https://user-images.githubuser

[2019-12-03 22:16] #557 closed

[2019-12-03 23:17] asangma opened #601 "Enhancement: Start using REMs instead of pixels"
### Description
Update typography to use rems.

### Acceptance Criteria
REMs

### Relevant Info
Modernity.

#### Which Component
ALL DEM

#### Example Use Case
THE INTERNET.

![image](https://user-images.githubusercontent.com/12503298/70098105-f6291800-15df-11ea-8d11-a3db8df6330d.png)

[2019-12-03 23:53] kat10140 commented on #592
I think we should have toggle button logic. Loading and disabled are also on the home page and don't have a function

[2019-12-04 00:00] kat10140 commented on #396
above issue has been assigned. Closing

[2019-12-04 00:00] #396 closed

[2019-12-04 00:02] driskull commented on #595
duplicate of #259

[2019-12-04 00:03] #595 closed

[2019-12-04 16:46] kat10140 commented on #483
reassigning to @pr3tori4n (seems like you have a little more time right now)

[2019-12-04 16:48] kat10140 commented on #501
@driskull should all this have been taken care of in the merge?

[2019-12-04 17:04] driskull commented on #501
Yes

[2019-12-04 17:27] kat10140 commented on #536
verified!

[2019-12-04 17:27] #536 closed

[2019-12-04 17:28] kat10140 commented on #540
@jcfranco that is from the demo page. I'll close this issue and if you think that's important then we can do it.

[2019-12-04 17:28] #540 closed

[2019-12-04 19:48] kat10140 commented on #545
verified

[2019-12-04 19:48] #545 closed

[2019-12-04 20:31] kat10140 commented on #530
Verified

[2019-12-04 20:31] #530 closed

[2019-12-04 20:37] kat10140 commented on #547
verified!

[2019-12-04 20:37] #547 closed

[2019-12-04 20:52] kat10140 commented on #513
i tried editing the heightScale in the console in the demos and nothing is happening 😫

[2019-12-04 22:39] asangma commented on #457
This does not seem to be a problem anymore.

[2019-12-04 22:39] #457 closed

[2019-12-04 23:07] pr3tori4n commented on #211
Closing since no longer needed.

[2019-12-04 23:07] #211 closed

[2019-12-04 23:16] pr3tori4n commented on #383
@asangma need to connect with calcite team to determine best COA.

[2019-12-04 23:21] pr3tori4n commented on #501
@kat10140 Please verify.

[2019-12-04 23:24] pr3tori4n commented on #524
Update both list demos to add appearance prop to slotted actions.

[2019-12-04 23:26] pr3tori4n commented on #527
@pr3tori4n review the demo after docs merge.

[2019-12-04 23:44] kat10140 opened #605 "chore: move action type to interfaces.ts"
## Summary
chore: move action type to interfaces.ts

[2019-12-05 00:04] pr3tori4n commented on #551
@kat10140 please verify.

[2019-12-05 00:10] kat10140 commented on #569
Verfeeeeeeeeeeee

[2019-12-05 00:10] #569 closed

[2019-12-05 00:26] #513 closed

[2019-12-05 00:26] pr3tori4n commented on #527
Still seeing this with the latest docs push.
https://esri.github.io/calcite-app-components/demos/calcite-block.html
Moving to Fern.

[2019-12-05 00:29] kat10140 commented on #551
verified

[2019-12-05 00:29] #551 closed

[2019-12-05 00:50] kat10140 commented on #501
verified!

[2019-12-05 00:50] #501 closed

[2019-12-05 00:53] kat10140 commented on #605
harry done did this already

[2019-12-05 00:53] #605 closed

[2019-12-05 17:30] #587 closed

[2019-12-06 17:09] kat10140 opened #609 "Remove irrelevant loading and disabled buttons from demos"
### Summary
Loading and disabled toggle buttons should be taken off the homepage as well as components that don't have that integration.

Remove from: Homepage, Tip Manager, Tip, Flow (has disabled), Flow-item

[2019-12-06 17:10] kat10140 commented on #592
New issue: https://github.com/Esri/calcite-app-components/issues/609
Closing

[2019-12-06 17:10] #592 closed

[2019-12-06 19:26] kat10140 opened #611 "Bug: Edge Floating Panels and Popover"
### Summary

### Actual Behavior
On click, the floating panels open super wonky.
Weirdness happens also on the popover- popover is in the right place, but there is extra padding on the left

![Screen Shot 2019-12-06 at 9 57 49 AM](https://user-images.githubusercontent.com/48069902/70350132-024ce980-181b-11ea-954f-a2e52e3dc1ef.png)
![Screen Shot 2019-12-06 at 9 58 11 AM](https://user-images.githubu

[2019-12-06 19:29] driskull commented on #611
Related to edge polyfill bug.

[2019-12-06 19:29] #611 closed

[2019-12-06 19:46] driskull opened #612 "Bug: Flow Live demo has JS error"
### Summary

Flow Live demo has JS error. https://esri.github.io/calcite-app-components/demos/calcite-flow.html

[2019-12-06 21:11] asangma commented on #130
#590 Addresses this to some degree.

[2019-12-06 21:13] asangma commented on #590
#130 could be addressed by this.

[2019-12-06 21:13] asangma commented on #303
See #591

[2019-12-06 21:59] kat10140 commented on #594
DOOP

[2019-12-06 21:59] #594 closed

[2019-12-06 22:16] kat10140 commented on #554
PR #591

[2019-12-06 22:17] kat10140 commented on #546
katy verifyu
pls

[2019-12-06 22:18] kat10140 commented on #518
katy pls  verfeeee

[2019-12-06 22:25] kat10140 commented on #483
Audit which components can be used with this. @asangma @pr3tori4n

[2019-12-07 03:26] AdelheidF commented on #546
It's good now

<img src=https://user-images.githubusercontent.com/44481292/70368331-34cc0600-185e-11ea-85f0-bfa080892cfa.png width=200/>

[2019-12-09 17:32] driskull commented on #566
Installed

[2019-12-09 18:32] asangma commented on #573
@kat10140 VERVEY!

[2019-12-09 20:57] asangma opened #616 "Enhancement: Flow to accept any node"
### Description
Update calcite-flow to apply flow-item styles, e.g. animation, to any node placed inside flow's slot.

### Acceptance Criteria
Devs can push their own components into a flow without having to do anything special and get the benefits that flow-item gets.

### Relevant Info
We are going to see more prebuilt components like from arcgis-app-components becoming relevant here.

#### Whic

[2019-12-09 21:01] driskull commented on #616
@asangma then their own component would be responsible for the back button and removing the item they place. Is that desired?

This may be able to work. The only part that would need to change is we query for the number of flow-items currently and that would have to change to query any direct children instead.

[2019-12-09 21:01] driskull commented on #616
@asangma what is the hardship with them putting their content into a `flow-item`?

[2019-12-09 22:27] driskull commented on #609
@kat10140 it might be better to just add the script to the pages that need it instead of the opposite.

Which pages need the script?

Also, I think some have disabled but not loading so the script should account for one or the other I think.

[2019-12-09 22:32] kat10140 commented on #546
Verified. Thank you Adelheid!

[2019-12-09 22:32] #546 closed

[2019-12-09 22:55] kat10140 commented on #348
@driskull opening back up to keep tabs in our repo

[2019-12-09 22:56] driskull commented on #348
@kat10140 I don't think we need to worry about `card` in our repo. We just need issues to track the `CalciteIcon` and `CalciteScrim` since this repo will use those.

[2019-12-09 23:00] kat10140 opened #618 "New Component: Calcite-Scrim"
### Description
We want a more widespread component for loading and disabled states. Gonna make our calcite-app functional component into a calcite "component component" that can be used in this repo and brought into arcgis-components (for Dhrumil).

#### Acceptance Criteria
Props for:
- loading
- disabled

Div styling that matches our spinning science of where icon for loading state and changed o

[2019-12-09 23:10] kat10140 commented on #573
Verified!

[2019-12-09 23:11] kat10140 commented on #518
verified!

[2019-12-09 23:11] #518 closed

[2019-12-09 23:56] driskull commented on #588
@jcfranco @pr3tori4n can you help me test these? I'm running into the following error with a simple test app.

## Test app

http://mdriscoll.esri.com/calcite-test/

## Error

[code]

[2019-12-10 00:10] asangma commented on #616
I think the hardship can be that the component might have its own header and such. But I will know more in the next couple days.

[2019-12-10 00:13] kat10140 commented on #573
![value list focus](https://user-images.githubusercontent.com/48069902/70483818-a5616580-1a9e-11ea-8aff-3c352c08a840.gif)

@asangma I missed this on compact mode on the value list- notice the smaller focus on compact items. Also cuts off a bit on the main meat of the dragon drop items

[2019-12-10 00:18] driskull commented on #616
IMO the component shouldn't have its own header. Then we get into inconsistencies. The point of the components is to not have multiple versions of things

[2019-12-10 00:24] asangma commented on #616
I def get that.
The case I'm seeing uses calcite-panel, etc. to create a more complex component. I will find out more.

[2019-12-10 00:29] driskull opened #619 "Docs: Add usage .md files for each component"
### Description

### Which Component

- [x] calcite-action-bar * #628
- [x] calcite-action (@driskull) #620
- [x] ~~calcite-action-group~~ // not needed
- [x] calcite-action-pad * #635
- [x] calcite-block* #637
- [ ] calcite-block-section
- [x] ~~calcite-demo-nav~~ // not needed
- [x] ~~calcite-example~~ // not needed
- [x] ~~calcite-filter~~ //not needed for now
- [x] calcite-flow* #695
- [ ] cal

[2019-12-10 00:30] driskull commented on #486
@kat10140 can we close this issue if these are just notes?

[2019-12-10 00:35] #486 closed

[2019-12-10 16:39] asangma commented on #565
Looks like part of this can be solved by setting the `max-height` on **calcite-flow** instead of on **calcite-pick-list**.

There is still some issue with the height of header and footer of **calcite-panel**. We may have a better fix for this in the next release.

[2019-12-10 17:50] asangma commented on #573
VERF AGERN

[2019-12-10 18:54] #561 closed

[2019-12-10 19:32] driskull commented on #548
This issue may apply to other `disabled` components as well. I don't think we set any tabIndex when disabled.

[2019-12-10 23:57] kat10140 commented on #619
I put stars by the ones that I think are higher priority. I'll probably just go down the list.  Please feel free to modify the original comment errybody

[2019-12-11 00:07] kat10140 commented on #573
lewks gewd

[2019-12-11 00:07] #573 closed

[2019-12-11 00:10] asangma opened #626 "Bug: FlowItem does not get animation when added to Flow."
### Summary
When a FlowItem gets added to Flow, it is not getting the animation.
I'm not sure if this is a Flow bug or FlowItem bug.

### Actual Behavior
FlowItem doesn't get animation.

### Expected Behavior
FlowItem should get animation.

### Reproduction Steps
1. Dynamically add a FlowItem to a Flow.

### Relevant Info

[2019-12-11 00:11] asangma commented on #626
Might need to add the "add flowitem" button back to the demo.

[2019-12-11 00:21] asangma commented on #601
@kat10140 VERFEE!

[2019-12-11 00:30] driskull commented on #626
@asangma it is in the advanced demo. https://esri.github.io/calcite-app-components/demos/advanced/flow-adding-items.html

Are they removing all flows before adding one? Because we don't animate the first flow (if there is only one flow, we don't animate)

[2019-12-11 00:35] asangma commented on #626
I'm seeing it when an item is getting added to a flow, e.g. when selecting a renderer for smart mapping. The back animation works tho.

[2019-12-11 00:41] kat10140 opened #628 "Docs: action-bar snippets"
### Description
snippets and usage folder for action-bar component
sub issue for #619

### Which Component
action-bar

[2019-12-11 16:19] asangma commented on #626
Per Slack discussion, it looks like this might be a MutationObserver thing.

[2019-12-11 16:35] asangma commented on #527
This should be handled by the PR (#615) and is the parallel issue to #573. @AdelheidF We should be able to close this.

[2019-12-11 16:39] asangma commented on #543
@driskull  Would you say that #615 would handle this?

[2019-12-11 16:52] driskull commented on #543
I think it would help. The selected state of an item is still just a 1px border. Is that enough for a user to understand the item is selected? Might want to test that.

[2019-12-11 16:56] driskull commented on #543
IMO, its still a bit difficult to identify if the 3rd one is selected or not.

![image](https://user-images.githubusercontent.com/1231455/70642423-09497280-1bf4-11ea-9eea-75cfede52213.png)

[2019-12-11 17:24] asangma commented on #566
VERFEED!

[2019-12-11 17:24] #566 closed

[2019-12-11 17:37] driskull commented on #626
Installed. Do we need a release for this @asangma ?

[2019-12-11 17:48] asangma commented on #626
Yeah...that'd be cool.

[2019-12-11 17:48] driskull commented on #626
Ok ill release later today.

[2019-12-11 18:03] driskull commented on #626
We can reproduce this by adding the following to the `flow-adding-items.html` demo.

After line 133.
[code]

[2019-12-11 18:10] driskull commented on #626
Added snippet to demo.

[2019-12-11 19:03] asangma commented on #626
Yew! Will verify in app.

[2019-12-11 19:09] AdelheidF commented on #527
I still see it on devext today.

![image](https://user-images.githubusercontent.com/44481292/70651984-b331fa80-1c06-11ea-87ed-e5eb30666f0a.png)

[2019-12-11 20:01] #628 closed

[2019-12-11 20:02] kat10140 opened #635 "Docs: action-pad snippets"
Description
snippets and usage folder for action-pad component
sub issue for #619

Which Component
action-pad

[2019-12-11 20:31] kat10140 opened #637 "Docs: block snippets"
### Description
snippets and usage folder for the block component
sub issue for #619

Which Component
calcite-block!

[2019-12-11 21:17] jcfranco commented on #572
@mitc7862 Can you chime in on this one? There's been some back and forth on how a block's header and content should be presented when disabled.

[2019-12-11 21:20] jcfranco commented on #115
Toggling the theme will be possible once https://github.com/Esri/calcite-app-components/pull/631 is merged. @asangma @kat10140 Will this suffice or do we still need this for the demo pages?

[2019-12-11 21:22] AdelheidF commented on #565
No that hides the Done and Cancel buttons of the flow-item for all browsers.

[2019-12-11 21:46] driskull opened #640 "Tooling: Move `calcite-example` boilerplate to be a resource shared between projects"
## Summary

Tooling: Move `calcite-example` boilerplate to be a resource shared between projects

## Measure of Success

`calcite-example` is a higher level resource that links to examples and is shared between repositories. Could be a separate repo or in a common project.

### Resources

We had discussed a repo for `calcite-component-resources` to share common utilities and this could maybe go th

[2019-12-11 23:07] AdelheidF commented on #565
No change with "@esri/calcite-app-components@4.10.0" if I set max-width on the flow. Done and Cancel buttons are at the bottom of the page.

![image](https://user-images.githubusercontent.com/44481292/70668190-c0131600-1c27-11ea-8407-ed16c74e1db3.png)

<img src=https://user-images.githubusercontent.com/44481292/70668232-db7e2100-1c27-11ea-9d6f-ce752446663e.png width=200/>

[2019-12-11 23:24] AdelheidF commented on #626
I'm not quite sure what to look for when verifying. I see an animation if I click on a renderer style tile on production.

[2019-12-11 23:42] driskull commented on #626
@asangma can verify

[2019-12-11 23:48] jcfranco commented on #548
I have not found a reliable solution that lets us keep the header interactive **AND** prevents the content from being keyboard-navigable.

The promising wicg-inert prollyfills ([WICG](https://github.com/WICG/inert) & [Google](https://github.com/GoogleChrome/inert-polyfill)) do not help when set inside a shadow DOM context and have [their](https://github.com/WICG/inert#performance-and-gotchas) [own

[2019-12-11 23:49] driskull commented on #626
Can you go to styles, add a field and try clicking on style options?

![image](https://user-images.githubusercontent.com/1231455/70670436-cad0a980-1c2d-11ea-99ec-4f05d9d51e36.png)

The flow should animate. on devext it doesn't animate currently.

[2019-12-11 23:50] driskull commented on #626
Not animating:

![not-animating](https://user-images.githubusercontent.com/1231455/70670488-ef2c8600-1c2d-11ea-8193-9127568dd5d4.gif)

[2019-12-11 23:52] driskull commented on #548
@jcfranco can you set `tabIndex="-1"` on the container of the content and leave the host and header focusable?

[2019-12-11 23:52] jcfranco commented on #548
Either option from ☝️ impacts https://github.com/Esri/calcite-app-components/issues/572.

[2019-12-11 23:55] jcfranco commented on #548
@driskull Sadly, that doesn't affect children. :sob:

[2019-12-12 00:30] AdelheidF commented on #626
It animates with a bivariate renderer into the second flow-item, but not the third...

[2019-12-12 00:31] driskull commented on #548
😢

[2019-12-12 15:52] asangma opened #642 "Bug: Giant panel headers and footers"
### Summary
![image](https://user-images.githubusercontent.com/12503298/70727215-25144d80-1cb4-11ea-8760-702f8588e880.png)

### Actual Behavior
Gigantor.

### Expected Behavior
![image](https://user-images.githubusercontent.com/12503298/70727253-378e8700-1cb4-11ea-89ec-2e79dc103b5c.png)

### Reproduction Steps

1. full window demo
1. collapse all blocks in seconary panel.

### Relevant Info
@CodeB

[2019-12-12 16:41] jbartley commented on #642
I assume this is related to what is on dev this morning.

![image](https://user-images.githubusercontent.com/2277787/70731093-006fa400-1cbb-11ea-9f89-24c78ba5647b.png)

If it is we should get it fixed quickly.

@kevindoshier @CodeBarker

[2019-12-12 17:01] driskull commented on #642
Yeah, they are a little big :D

[2019-12-12 17:03] asangma commented on #642
@driskull LOL!

@kevindoshier Once we release a patch, please let me know if the issue is solved.

[2019-12-12 17:08] driskull commented on #642
Patch released

[2019-12-12 17:12] asangma commented on #626
Thanks @AdelheidF
VERFEED!

[2019-12-12 17:14] AdelheidF commented on #626
... I didn't verify it, Last I checked it didn't work for the third level of bivariate renderers.

[2019-12-12 17:15] asangma commented on #626
I checked this morning on devext and devtesting. I will reopen if you wanna verify.

[2019-12-12 17:16] asangma commented on #642
![image](https://user-images.githubusercontent.com/12503298/70733950-23508700-1cc0-11ea-9c22-3ab29a41f86f.png)

[2019-12-12 17:20] AdelheidF commented on #626
Yes, works on devext today.

[2019-12-12 17:26] jcfranco commented on #552
PR depends on `calcite-components@v1.0.0-beta.16` (when it's released).

[2019-12-12 17:28] AdelheidF commented on #565
Not working with "@esri/calcite-app-components@4.10.1" either.

[2019-12-12 17:28] jcfranco commented on #401
Installed storybook groundwork. Will create follow-up issue to complete stories.

[2019-12-12 17:31] driskull commented on #401
Groundwork looks good @jcfranco!

[2019-12-12 17:31] #401 closed

[2019-12-12 17:32] asangma commented on #626
Thanks @AdelheidF !

[2019-12-12 17:32] #626 closed

[2019-12-12 17:44] jcfranco opened #644 "Docs: [Storybook] Complete component stories"
### Description

#401 sets up storybook for demos and only one functional story (see resources below) as an example. The rest are placeholders that need to be filled out.

### Which Component

@driskull

* [x] `calcite-action`
* [x] `calcite-action-bar`
* [x] `calcite-action-pad`
* [x] `calcite-flow`
* [x] `calcite-panel`
* [x] `calcite-shell`

@pr3tori4n

* [x] `calcite-pick-list`
* [x] `calcite-

[2019-12-12 18:07] jcfranco commented on #115
Closing since storybook will allow us to toggle the theme.

[2019-12-12 18:07] #115 closed

[2019-12-12 18:08] asangma commented on #548
I think Option 1 is better.
Mostly because it won't cause stuff to shift when enabling/disabling.

[2019-12-12 20:42] jcfranco commented on #572
@AdelheidF @mitc7862 for #548, we'll be disabling the entire block and will leave it up to the developer to either close or leave expanded when the component is disabled, see https://github.com/Esri/calcite-app-components/issues/548#issuecomment-564784629 for more info.

[2019-12-12 20:47] AdelheidF commented on #572
If the new Stencil SymbolStyler is using blocks, what will it do with a disabled block?

[2019-12-12 20:56] jcfranco commented on #572
That's a @mitc7862 question. 😄 We have that discussion elsewhere since it's unrelated to this repo.

[2019-12-12 22:15] driskull commented on #588
Support ticket: https://ionic.zendesk.com/hc/en-us/requests/27396
Github Issue: https://github.com/ionic-team/stencil/issues/2076

[2019-12-12 22:52] jcfranco commented on #548
Per conversation w/ @asangma, the slotted control (if any) should now be rendered and not hidden anymore (previous workaround to avoid interaction).

[2019-12-13 00:19] pr3tori4n commented on #571
I spoke with Dhrumil and he's going to try using [CalciteFilterChange event](https://github.com/Esri/calcite-app-components/tree/master/src/components/calcite-filter#events), which already exists as part of the filter. Closing as no longer needed.

[2019-12-13 00:19] #571 closed

[2019-12-13 00:53] driskull opened #647 "Docs: Configure storybook to have a better landing/welcome page and getting started info"
Docs:  Configure storybook to have a better landing/welcome page and getting started info

### Description

I found an example storybook that has a nice section that a user lands on and has more information.  Currently, we just land right into the first component but it would be nice to have some information about the project, how to use it, how to contribute, etc.

A lot of this info is already i

[2019-12-13 01:13] pr3tori4n commented on #597
@kat10140 please verify.

[2019-12-13 01:13] pr3tori4n commented on #599
@kat10140 please verify.

[2019-12-13 18:37] AdelheidF opened #650 "Bug: calcite-popover with "auto" still gets cut off"
### Summary
Using calcite-popover with "auto" placement cuts the popover when the reference element is near a corner because it always centers the popover on the reference element. Maybe it should shift off-center too.

![image](https://user-images.githubusercontent.com/44481292/70823050-d0e09a80-1d93-11ea-9468-a0bb057fb6d1.png)

![image](https://user-images.githubusercontent.com/44481292/70823072

[2019-12-13 20:58] pr3tori4n commented on #483
Block Components is the only addition for now.

[2019-12-13 21:56] jcfranco commented on #564
Installed.

[2019-12-13 21:57] #564 closed

[2019-12-14 00:19] pr3tori4n commented on #483
hey @kat10140 could you setup a kickoff meeting for this early next week? I think this will probably end up falling into grob glob.

[2019-12-17 00:22] pr3tori4n commented on #609
Is this still necessary with Storybook coming soon?

[2019-12-17 17:09] asangma opened #656 "Enhancement: ActionPad. Add same expand/collaps behavior as ActionBar"
### Description
Once #608 is merged, add expand/collapse property and functional matching ActionBar behavior.

### Acceptance Criteria
- ActionPad can be expanded/collapsed by end user
- ActionPad can be expanded/collapsed by dev user
- Dev user can enable/disable the expand or collapse button.

#### Which Component
ActionBar

@kat10140 Let's triage this.

[2019-12-17 18:28] driskull commented on #656
@asangma do we just need a floating property on the `calcite-action-bar` and kill off the `action-pad`? Seems like they are becoming one component.

[2019-12-17 19:40] kat10140 opened #660 "Docs: Footer slot for flow item and panel"
### Description
As it is-  " @slot footer-actions - A slot for adding `calcite-actions` to the footer. "
This slot should be for adding a calcite-button, not actions.

### Which Component
flow item and panel

### Resources

[2019-12-18 00:23] driskull commented on #644
We should probably do some cross browser testing before swapping gh-pages to this.

[2019-12-18 00:31] jcfranco commented on #644
☝️ Did a quick test on all browsers (Chrome, Firefox, Safari, Edge) and everything seems to run fine.

[2019-12-18 06:34] driskull commented on #644
Sweet! lets kick off the PR to make this public :)

[2019-12-18 07:01] driskull commented on #650
Unfortunately, the positioning is handled by Popper.js. They are working on a v2 and we'll keep checking in on it and update once we can.

https://github.com/popperjs/popper.js/issues/617

[2019-12-18 07:01] #650 closed

[2019-12-18 16:35] jcfranco commented on #644
☝️ 💥

@driskull @pr3tori4n Excellent job, you guys!

[2019-12-18 16:52] asangma commented on #656
@driskull Hmmm...maybe. I wonder which would be more funky to manage:

- two components that are similar
- conditional styling

[2019-12-18 16:53] asangma commented on #656
I also think the use cases for either component are different even though some of the behaviors are the same. 🤔

[2019-12-18 17:30] driskull commented on #656
We should discuss at a meeting. If we do this to the actionPad, then they have the same code but different styles

[2019-12-18 17:48] asangma commented on #565
@AdelheidF @russroberts Probably fix for this in [4.11.1 release](https://github.com/Esri/calcite-app-components/releases/tag/v4.11.1).

[2019-12-18 18:21] jcfranco commented on #644
Verified on https://esri.github.io/calcite-app-components 🎉

[2019-12-18 18:21] #644 closed

[2019-12-18 19:50] driskull commented on #647
Have a PR open to get this setup for contributions.

[2019-12-18 20:59] AdelheidF commented on #597
Works with 4.11.1.

<img src=https://user-images.githubusercontent.com/44481292/71122722-19ce8f80-2196-11ea-88ed-1c2dff954f3c.png width=250/>

[2019-12-18 21:24] AdelheidF commented on #565
Works now in Chrome.

<img src=https://user-images.githubusercontent.com/44481292/71124216-3c15dc80-2199-11ea-8738-64843998bc9d.png width=250/>

But I noticed a small CSS issue. Once you scroll the grey line shortens.

<img src=https://user-images.githubusercontent.com/44481292/71124318-71222f00-2199-11ea-8979-142ccdd8c1b9.png width=250/>

[2019-12-18 21:40] AdelheidF commented on #565
Looks good on Safari too, but it seems Safari with the map viewer from devext works too, so not sure when that got fixed exactly.

[2019-12-18 21:51] AdelheidF commented on #565
The Safari bug only shows when the list of fields is long and needs scroll bars.

So I tested again and locally Safari is fine with 4.11.1 now and I still see the Safari issue on devext.

[2019-12-19 01:12] driskull commented on #475
Installed. Will be on next release. The `calcite-action` will now have a `setFocus()` method.

[2019-12-19 06:37] driskull commented on #593
An interface was added. @asangma can you use it in your PR?

[2019-12-19 06:37] #593 closed

[2019-12-19 06:41] driskull opened #671 "Tooling: Remove helper CalciteIcon and use calcite-icon component"
## Summary

Tooling: Remove helper CalciteIcon and use calcite-icon component

## Measure of Success

Tooling: Remove helper CalciteIcon and use calcite-icon component

### Resources

https://github.com/Esri/calcite-components/issues/250
https://github.com/Esri/calcite-components/pull/265

Also remove `createSVG` helper for storybook.

[2019-12-19 06:41] driskull commented on #671
cc @jcfranco

[2019-12-19 17:45] kat10140 commented on #599
verified

[2019-12-19 17:45] #599 closed

[2019-12-19 17:46] kat10140 commented on #637
they there

[2019-12-19 17:46] #637 closed

[2019-12-19 17:47] kat10140 commented on #635
dun

[2019-12-19 17:47] #635 closed

[2019-12-19 17:49] kat10140 commented on #612
Looks good on our local. No longer a live demo doh 🙃

[2019-12-19 17:49] #612 closed

[2019-12-19 17:56] kat10140 commented on #601
is calcite-app-cap-spacing typography? if so we still have px definitions.
also looks like in _type.scss we have `--calcite-app-base-font-size: 16px;`

[2019-12-19 17:57] kat10140 commented on #601
@asangma

[2019-12-19 17:57] pr3tori4n commented on #609
Closing, since we have storybook now.

[2019-12-19 17:57] #609 closed

[2019-12-19 17:58] asangma commented on #565
Thanks @AdelheidF !

[2019-12-19 17:59] asangma commented on #616
Moving this to backlog for now.

[2019-12-19 18:00] asangma commented on #642
@kevindoshier @AdelheidF is this still an issue with the updates?

[2019-12-19 18:01] kevindoshier commented on #642
No I think its fine now

[2019-12-19 18:24] jcfranco opened #673 "Docs: [Storybook] previews always have scrollbars"
### Description

Component previews always have a scrollbar.

<img width="1055" alt="Screen Shot 2019-12-19 at 10 22 49 AM" src="https://user-images.githubusercontent.com/197440/71198827-86ef2d00-2249-11ea-9bf4-bec1096e5113.png">

☝️ https://esri.github.io/calcite-app-components/?path=/story/components-calcite-action--basic

### Which Component

All components.

### Resources

[2019-12-19 18:27] jcfranco opened #674 "Docs: [Storybook] Double titles are displayed in the Docs tab"
### Description

The docs tab seems to repeat the component title.

<img width="614" alt="Screen Shot 2019-12-19 at 10 19 38 AM" src="https://user-images.githubusercontent.com/197440/71199033-e5b4a680-2249-11ea-9707-be4835235e38.png">

[2019-12-19 18:29] kat10140 commented on #597
Werkin for me!

[2019-12-19 18:29] #597 closed

[2019-12-19 18:31] jcfranco opened #675 "Docs: [Storybook] Knobs for text values cut off after a space"
### Description

![image (2)](https://user-images.githubusercontent.com/197440/71199321-8c994280-224a-11ea-9e73-2a41431cb793.png)

https://esri.github.io/calcite-app-components/?path=/story/components-calcite-action-bar--basic

[2019-12-19 18:50] kat10140 commented on #527
This looks good on my end

[2019-12-19 19:00] AdelheidF commented on #527
Did you try this case with calcite-block containing a clacite-block-section with a swith and a 2 line text?

[2019-12-19 21:21] jcfranco commented on #552
Installed. @kat10140 Can you help verify this one?

[2019-12-19 21:28] jcfranco commented on #548
Installed.

[2019-12-19 21:31] jcfranco commented on #572
#548 has been installed. Blocks will now be disabled and developers can choose to either close or leave it expanded when disabling.

[2019-12-19 21:31] #572 closed

[2019-12-20 00:38] jcfranco commented on #671
Verified locally.

[2019-12-20 00:38] #671 closed

[2019-12-20 00:47] jcfranco opened #682 "chore: Use calcite-icon to clean up <svg> usage"
Now that `calcite-icon` is available, it should be used to clean up markup using the SVG tag + path data.

[2019-12-20 17:06] #524 closed

[2019-12-20 17:29] kat10140 commented on #548
Verified!

[2019-12-20 17:29] #548 closed

[2019-12-20 17:48] kat10140 commented on #552
Lewks gewd!

[2019-12-20 17:48] #552 closed

[2019-12-20 18:00] #675 closed

[2019-12-20 18:04] kat10140 commented on #527
@AdelheidF it looks fine for me on Chrome
![Screen Shot 2019-12-20 at 10 04 15 AM](https://user-images.githubusercontent.com/48069902/71280473-2119a880-2310-11ea-9ece-dbc0ba27980a.png)

[2019-12-20 18:54] asangma commented on #601
`spacing` would fall outside of typography.

We are explicitly setting `base-font-size` to 16px based on that being what most browsers already set it to by default. So this would keep things consistent if a browser wants to get cray.

[2019-12-20 19:07] kat10140 commented on #601
okee! verfied

[2019-12-20 19:07] #601 closed

[2019-12-20 19:11] kat10140 commented on #131
I think we should leave this to the app. If we decide to add some shortcut support for shell, I'll make another issue.

[2019-12-20 19:11] #131 closed

[2019-12-20 19:33] kat10140 opened #685 "Docs: clean up ``'s"
### Description
Many places in the doc I've put (for example) `calcite-actions` instead of `calcite-action`s. this is not technically right and I'm going to make it all uniform. Cleaning this up as well as other small doc stuff.

### Which Component
lots

### Resources

[2019-12-20 19:35] kat10140 commented on #527
@driskull @asangma should I keep this open and move to the next milestone? Fern closes today

[2019-12-20 21:53] driskull commented on #543
@mitc7862 please advise.

[2019-12-20 21:54] #642 closed

[2019-12-20 21:56] driskull commented on #527
Yep!

[2019-12-20 22:20] kat10140 commented on #483
Goal:
- broad story: general use drag and drop
  - keyboard navigation paired with sortable (Adds event handlers for arrow keys)
  - consistent UX for mouse and keyboard users
- block is our immediate use case
- as for wireframes, look at value list for now
  - v1 is just a vertical list, no grid

QA test case to evaluate heavily nested components.

Harry make custom component for handle? Maybs?
D

[2019-12-20 22:55] kat10140 commented on #660
dun closing

[2019-12-20 22:55] #660 closed

[2019-12-21 00:14] asangma opened #686 "Enhancement: ShellPanel. Add tests and stories for detached mode and panel heigh-scale prop"
### Description
Add stories and tests for changes from the #591 PR.

### Acceptance Criteria
- [x] ~~test for panel `height-scale` prop]~~
- [x] test for shell-panel `detached` prop
- [x] ~~test for shell-panel `detached-scale` prop~~
- [x] story / knob for panel `height-scale`
- [x] story / knob for shell-panel `detached` prop
- [x] story / knob for shell-panel `scale` prop

### Relevant Info

##

[2019-12-21 00:37] asangma commented on #554
@kat10140 VERFEE

[2019-12-21 00:39] asangma commented on #565
@russroberts This should be taken care of with the next release. The next release has a bunch of breaking changes weee!

[2019-12-21 00:49] kat10140 commented on #554
verified!

[2019-12-21 00:49] #554 closed

[2019-12-21 01:05] kat10140 commented on #590
VERFEEEEEEE

[2019-12-21 01:05] #590 closed

[2019-12-22 16:07] jcfranco commented on #673
This is being caused by the following:

https://github.com/Esri/calcite-app-components/blob/8f1bf5021059e7fa55042b0c3e061e8e0ca0e788/.storybook/preview-head.html#L12-L17

I think we'll have to live with this one since ☝️ is a workaround for disappearing components when zooming.

@asangma @driskull @pr3tori4n WDYT?

[2019-12-22 16:11] jcfranco opened #688 "Docs: [Storybook] Multiple READMEs are not displayed under Docs tab"
Stories with multiple notes will not render their README content. This is currently affecting `calcite-block`, `calcite-flow` and `calcite-shell` stories.

[2019-12-23 18:55] driskull commented on #686
I don't think the scale props need tests. I don't want to make it too feeble where its checking heights :)

[2019-12-23 22:02] asangma commented on #686
Sounds good.

[2019-12-23 22:08] asangma opened #691 "Bug: shell-panel and panel flex problem"
### Summary
![image (1)](https://user-images.githubusercontent.com/12503298/71382611-8b8b4c80-258d-11ea-9e32-31814e6250d5.png)

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2019-12-23 22:50] asangma commented on #686
Lookin' good. Question: is it all right that the heights on the panel and shell-panel are vh while the demos are not full browser window?

[2019-12-23 22:52] driskull commented on #686
I think so, maybe we should note or document that the heights are based off the window view? Maybe we say that a shell should be 100% width and height of the window?

[2019-12-24 00:06] asangma commented on #686
Yeah...that seems good.

[2019-12-26 17:28] kat10140 commented on #685
verified.

[2019-12-26 17:28] #685 closed

[2019-12-26 17:31] kat10140 commented on #647
Verified!

[2019-12-26 17:31] #647 closed

[2019-12-26 18:33] kat10140 opened #695 "Docs: calcite-flow snips"
related: #619

Component: calcite-flow

[2019-12-26 18:55] kat10140 opened #697 "Docs: calcite-panel snips"
### Description
#619

### Which Component
calcite-panel

[2019-12-26 22:00] kat10140 opened #699 "Docs: pick list snippets"
### Description
#619
### Which Component
pick list

[2019-12-26 23:35] kat10140 commented on #697
verified

[2019-12-26 23:35] #697 closed

[2019-12-26 23:35] kat10140 commented on #695
verf!

[2019-12-26 23:35] #695 closed

[2019-12-26 23:37] kat10140 opened #701 "Docs: shell snippets"
### Description
#619
### Which Component
shell
### Resources

[2019-12-26 23:37] kat10140 opened #702 "Docs: shell panel snippets"
### Description
#619
### Which Component
shell panel
### Resources

[2019-12-26 23:38] kat10140 opened #703 "Docs: tip manager snippets"
### Description
#619
### Which Component
tip manager!
### Resources

[2019-12-26 23:39] kat10140 opened #704 "Docs: value list snippets"
### Description
#619
### Which Component
value list
### Resources

[2019-12-26 23:39] kat10140 opened #705 "Docs: tip snippets"
### Description
#619
### Which Component
tip
### Resources

[2019-12-30 17:34] kat10140 commented on #701
dun

[2019-12-30 17:34] #701 closed

[2019-12-30 18:55] asangma commented on #686
This is looking good to me. @kat10140 is gonna help verify the tests.

[2019-12-30 19:02] asangma commented on #691
@kat10140 verfee pleez

[2019-12-30 23:51] kat10140 commented on #702
verf

[2019-12-30 23:51] #702 closed

[2019-12-30 23:57] kat10140 commented on #705
verrrrrrrrrrrrrrfed

[2019-12-30 23:57] #705 closed

[2019-12-30 23:59] driskull commented on #383
This is getting stale. Is this something that is happening in `calcite-components`? Can we close this?

[2019-12-31 00:00] driskull commented on #543
@asangma should the selected item's background color be different? Should there be a thick border-left to identify a selected item?

[2019-12-31 00:48] driskull commented on #640
@julio8a created a repo but its a private one for now until we get it setup with the code necessary and documentation. Then we can make it public on the Esri org.

[2019-12-31 00:53] kat10140 commented on #703
verf

[2019-12-31 00:53] #703 closed

[2019-12-31 17:26] kat10140 commented on #686
lewks gewd!

[2019-12-31 17:26] #686 closed

[2019-12-31 17:31] kat10140 commented on #691
👍🏼

[2019-12-31 17:31] #691 closed

[2019-12-31 18:59] kat10140 commented on #704
verrrrrrrrr

[2019-12-31 18:59] #704 closed

[2019-12-31 19:07] kat10140 opened #718 "Docs: switch snips to use <calcite-icon>"
### Description
switch docs from  to using calcite-icon with scale and icon attributes in snippets

### Which Component

### Resources

[2019-12-31 21:46] driskull commented on #383
closing in favor of https://github.com/Esri/calcite-components/issues/61

[2019-12-31 21:46] #383 closed

[2019-12-31 22:33] #699 closed

[2019-12-31 22:56] #718 closed

[2019-12-31 23:02] kat10140 commented on #619
@driskull i see you marked as installed. Do you think it's fine to just have the main components that are highlighted by storybook to have usage folders and snippets?

[2019-12-31 23:03] driskull commented on #619
Whoops my bad.

Yeah I think so. We could always do the sub ones later if needed. Seems kinda redundant for the `calcite-action-group` and such.

[2019-12-31 23:53] kat10140 commented on #619
Sounds good!

[2019-12-31 23:58] driskull opened #721 "Bug: FlowItem RTL trailing icon isn't on the far side"
### Summary

Bug: FlowItem RTL trailing icon isn't on the far side

### Actual Behavior

trailing icon is right next to the text

### Expected Behavior

trailing icon should be all the way on the other side

### Reproduction Steps

1. Go to https://esri.github.io/calcite-app-components/?path=/story/components-calcite-flow--basic
2. Set the component to be RTL using the dom inspector

### Relevant

[2019-12-31 23:59] driskull opened #722 "Docs: Storybook - Add knob for RTL/LTR toggle and theme for each component"
### Description

Docs: Storybook - Add knob for RTL/LTR toggle and theme for each component

### Which Component

All

### Resources

Should be able to toggle a component LRT/RTL and theme in storybook.

[2020-01-01 00:01] driskull commented on #722
Looks like block has this but some are missing it.

[2020-01-01 00:51] #619 closed

[2020-01-02 20:30] kumarGayu opened #726 "Enhancement: Calcite-block can we have the way to show the collapsible icon Header + collapsible + control"
### Description
when a calcite-block had Header + collapsible + control
can we have a way to show the collapsible icon.

### Acceptance Criteria
when block has Header + collapsible + control then there should be a way to show icon for close

### Relevant Info

#### Which Component
Calcite-Block

#### Example Use Case

[2020-01-02 21:43] #555 closed

[2020-01-02 21:55] asangma commented on #721
Verified locally.

[2020-01-02 21:55] #721 closed

[2020-01-03 18:37] #348 closed

[2020-01-03 22:11] AdelheidF commented on #450
@asangma @mitc7862

Do we still want to show field name and field type in the header of the new map viewer attribute selection pop-up? Currently it shows below the header.
Not sure how it treats long names.

![image](https://user-images.githubusercontent.com/44481292/71752018-6078e680-2e32-11ea-8c65-c49c88eac1b9.png)

[2020-01-03 22:47] asangma commented on #726
Are we seeing people confused about whether they can collapse the block or not?

[2020-01-03 22:57] driskull opened #728 "Bug: PickList slot name should be kebab case"
### Summary

slot="secondaryAction" should be secondary-action right?

Derived from https://github.com/Esri/calcite-app-components/pull/700#pullrequestreview-336625806

[2020-01-04 00:29] mitc7862 commented on #450
Yeah, That should be in the header. The component will need to accommodate that somehow.

[2020-01-04 00:30] driskull commented on #450
Next release it should be able to.

[2020-01-06 17:51] kat10140 commented on #58
verified!

[2020-01-06 17:51] #58 closed

[2020-01-06 17:53] kat10140 commented on #450
verified

[2020-01-06 17:53] #450 closed

[2020-01-06 17:56] kat10140 commented on #475
verified!

[2020-01-06 17:56] #475 closed

[2020-01-06 18:03] asangma opened #729 "Bug: PickList > drag handle UI bug"
### Summary
Drag handle has a li'l box-shadow.

### Actual Behavior
![Screen Shot 2020-01-06 at 10 00 41 AM](https://user-images.githubusercontent.com/12503298/71837594-ac62a000-306b-11ea-9c5c-a76780ae37b2.png)

### Expected Behavior
No borders.

cc @kat10140

### Relevant Info

[2020-01-06 19:36] driskull commented on #728
@kat10140 @pr3tori4n  I see some references to `secondaryAction` in `.html` and usage `.md` files. Can we update those?

[2020-01-06 19:52] pr3tori4n commented on #728
the md files should update naturally when we do a build. HTML files will need manual updates

[2020-01-06 20:06] driskull commented on #728
The usage md files would still need to be updated. They are not auto generated.

[2020-01-06 21:06] driskull commented on #259
cc @kellyhutchins

[2020-01-06 21:14] kellyhutchins commented on #259
Awesome! I'll test it out in my app

[2020-01-06 21:17] driskull commented on #728
Installed fixes

[2020-01-06 21:18] driskull commented on #259
You'll have to wait for our next release @kellyhutchins :(

[2020-01-06 22:14] driskull opened #733 "Bug: Modify global styles to remove host"
### Summary

From Stencil support:

**Question:** Are we able to use `:host{}` in the global style?
**Answer:** `:host` no, i don’t think that’d work, they should use :root or html instead
:host would mean like the component host element, but for a global style on the document i’m not sure it’d know what host is

### Actual Behavior

Host is used in global includes

### Expected Behavior

Host sho

[2020-01-06 22:34] driskull opened #734 "Bug: Global styles have classnames that are not scoped to `calcite-app-components`"
### Summary

The following SCSS files have classnames that are vague and not scoped to calcite-app-components:

#### `_base.scss`

[code]

#### `_type.scss`

[code]

#### Root setting default font sizes

The following CSS is being set for anywhere that includes the global css file. We should probably not be setting these for any project that uses our components.

[code]

### Expected Behavior

The

[2020-01-06 22:35] driskull commented on #733
@jcfranco We should discuss what we want to do.

[2020-01-06 22:44] kat10140 commented on #259
I'm still seeing it on the left side @driskull :/

[2020-01-06 22:46] driskull commented on #259
@kat10140 you must have a primary panel. In the primary panel, you can specify a layout of trailing.

[2020-01-06 22:48] kat10140 commented on #728
@driskull if you ever need help with something like this just slack me! Sometimes I don't see github comments right away.

Verified!

[2020-01-06 22:48] #728 closed

[2020-01-06 22:50] kat10140 commented on #259
ok in the comment above we have:
[code]

[2020-01-06 22:51] driskull commented on #259
Updated issue! Thanks

[2020-01-06 22:51] kat10140 commented on #259
Mines still not flip flopping 😫

[2020-01-06 22:53] kat10140 commented on #259
![Screen Shot 2020-01-06 at 2 52 45 PM](https://user-images.githubusercontent.com/48069902/71854825-37f02700-3094-11ea-9f9b-72fd1ee0219e.png)
i see it's technically working but the styling looks wack

[2020-01-06 22:55] driskull commented on #259
Can you replecate `/demos/shell/demo-app-full-window-reversed.html`?

[2020-01-06 22:57] kat10140 commented on #259
![Screen Shot 2020-01-06 at 2 57 35 PM](https://user-images.githubusercontent.com/48069902/71855071-e7c59480-3094-11ea-80e2-21a321fa13c4.png)

[2020-01-06 22:59] driskull commented on #259
@kat10140 you may need to do an npm install and restart the build

[2020-01-06 23:16] kat10140 commented on #469
cc @asangma maybe move to calcite-components as an attribute?

[2020-01-06 23:26] kat10140 commented on #656
@asangma want to review this?

[2020-01-06 23:28] kat10140 commented on #656
we have a divider in action pad. have a looksie

[2020-01-06 23:29] kat10140 commented on #673
closing as decided in 1/6 meeting

[2020-01-06 23:29] #673 closed

[2020-01-06 23:31] kat10140 commented on #726
@kumarGayu

[2020-01-07 00:29] jcfranco commented on #674
Installed. @kat10140 Please verify. 🙇

[2020-01-07 00:47] kat10140 commented on #259
still doing the same weirdness 🤷🏼‍♀️

[2020-01-07 00:48] driskull commented on #259
@kat10140 can you share the HTML you're using? Does the demo `/demos/shell/demo-app-full-window-reversed.html` look ok?

[2020-01-07 00:49] kat10140 commented on #674
looks good!

[2020-01-07 00:49] #674 closed

[2020-01-07 00:52] kat10140 commented on #259
yah it looks fine otherwise! i was deleting the contextual panel, then changing the primary panel layout property to 'trailing'
[code]

or in the reversed case, changing `trailing` to `leading`

[2020-01-07 00:54] driskull commented on #259
If you're going to modify the layout after initialization, you'll also need to modify the action-bar to be trailing.

[2020-01-07 01:03] kat10140 commented on #259
the action bar actually automatically seems to change to"trailing" in the sense that it moves to the right (in the full window app). in the reversed, it looks fine when i just delete the contextual panel all together, everything stays put. i'll mark as verified

[2020-01-07 01:03] #259 closed

[2020-01-07 18:18] jcfranco commented on #682
@kat10140 Can you help verify this one? There shouldn't be any more inlined SVGs. 💪

[2020-01-07 18:29] jcfranco commented on #722
Verified locally.

Note: This will be public in the next release.

[2020-01-07 18:29] #722 closed

[2020-01-07 19:29] driskull commented on #656
Not sure if we want to add any additional usage doc for this?

[2020-01-07 20:54] kumarGayu opened #738 "Bug: Calcite-Value-List: when the list item value changes in tsx the old selected list item value is not deleted"
### Summary
Calcite-Value-List: for a single select when the list item value changes in tsx the old selected value is not deleted

### Actual Behavior
e.detail has 2 values. one was the older value and the other one is newer selected value.

### Expected Behavior
Ideally list change event should have one item selected in e.detail for a single select.

### Reproduction Steps

1. have a single selec

[2020-01-07 21:58] driskull commented on #588
Going to close. I'll open another issue if we find anything after we address the following issues: #733 & #734

[2020-01-07 21:58] #588 closed

[2020-01-07 22:20] AdelheidF opened #740 "A11y: calcite-panel - set focus on dismiss button"
### Summary
The smartMapping Gallery component info option needs a way to set the focus on the close button of a calcite-panel.

cc @driskull

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

### Working W3C Example/Tutorial

[2020-01-07 22:34] #688 closed

[2020-01-08 00:45] kat10140 commented on #538
verified

[2020-01-08 00:45] #538 closed

[2020-01-08 00:47] kat10140 commented on #656
@driskull yes, i'll do that

[2020-01-08 00:48] kat10140 opened #744 "Docs: update documentation for action pad"
### Description
we've added a collapsible property like action- bar
https://github.com/Esri/calcite-app-components/issues/656
update doc accordingly

### Which Component

### Resources

[2020-01-09 21:31] AdelheidF opened #746 "Enhancement: calcite-pick-list - minimalist option for padding?"
### Description

See discussion here: https://devtopia.esri.com/WebGIS/arcgis-webviewer-app/issues/1087#issuecomment-2025553

Would it be possible to have a pick-list option that uses a minimalist approach to padding?
See the padding in this mock-up (used in FeatureFilter component for 'includes'):

![image](https://user-images.githubusercontent.com/44481292/72106246-dc1bdd00-32e3-11ea-8389-5a5632

[2020-01-10 21:50] jcfranco opened #751 "Bug: [Block] unintentional toggle when control is focused and Space/Enter is pressed"
### Summary

Bubbled keyboard events (Space/Enter) can cause the block to unintentionally toggle.

### Actual Behavior

Block is toggled when a Space/Enter keyboard event is dispatched from a control element.

### Expected Behavior

!:point_up:

### Reproduction Steps

1. Open the following [test case](https://codepen.io/jcfranco-the-scripter/pen/zYxjZvW).
2. Focus on the control
3. Press Space or

[2020-01-11 00:37] asangma opened #753 "Enhancement: ValueListItem - add removable property"
### Description
Add a property that automatically adds an Action with an X icon at the trailing end of the item and perhaps emits a "delete" event when clicked.

### Acceptance Criteria
Existing implementation using Action in the current slot should still work.

### Relevant Info
Current use case is for Charting where the ValueListItem needs both a graphic and and X.
![image](https://user-images.g

[2020-01-14 16:48] jcfranco commented on #734
Verified locally.

[2020-01-14 16:48] #734 closed

[2020-01-14 16:48] jcfranco commented on #733
Verified locally.

[2020-01-14 16:48] #733 closed

[2020-01-14 16:52] jcfranco commented on #586
Verified locally.

[2020-01-14 16:52] #586 closed

[2020-01-14 23:33] kumarGayu opened #757 "Bug: Caclite-value-list: order of calcite-value-list-item is lost if we recreate value list using state in tsx"
### Summary
initially
![image](https://user-images.githubusercontent.com/9862218/72391737-e292c600-36e2-11ea-9453-71a1049e7af7.png)

I did drag battery to position 1.

but even then the UI did not change on a redraw.

on drag I get updated array on that I create a new value-list this seems to be working fine. however in UI the updated value is not visible.

[code]

[2020-01-15 20:41] AdelheidF opened #758 "Bug: calcite-flow-item - gets horizontal scrollbars"
### Summary

![image](https://user-images.githubusercontent.com/44481292/72469396-298cc400-3794-11ea-99d7-ba0ea7b8e6ac.png)

Happens only if the panel has to display vertical scroll bars.

cc @asangma

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2020-01-15 21:47] AdelheidF opened #759 "Enhancement: calcite-action - add scale option"
### Description

Currently the calcite-action is using up a lot of width/height when used inside a 'text box'. It would be nice if there was an option to have a small size.

![image](https://user-images.githubusercontent.com/44481292/72474342-74f7a000-379d-11ea-97e5-84c4f9789d6f.png)

From the labeling config design:
![image](https://user-images.githubusercontent.com/44481292/72474498-bbe59580-379

[2020-01-15 23:47] jcfranco opened #763 "Bug: [calcite-block] Broken toggle behavior in Edge"
### Summary

Toggling doesn't work as expected in Edge when you have a block with a control and content.

### Actual Behavior

With the aforementioned setup, blocks can be collapsed, but not expanded.

### Expected Behavior

Consistent toggling behavior.

### Reproduction Steps

Using the following snippet, try to toggle the block.

[code]

### Relevant Info

Microsoft Edge 44.17763.831.0
Microsof

[2020-01-16 01:00] jcfranco commented on #751
Installed.

[2020-01-16 01:09] AdelheidF opened #764 "Bug: calcite-flow-item summery hidden if panel has vertical scroll"
### Summary
This is fine
<img src=https://user-images.githubusercontent.com/44481292/72484451-20fab480-37b9-11ea-8953-7ff7ecb98d1a.png width=200/>

This is not
<img src=https://user-images.githubusercontent.com/44481292/72484475-3243c100-37b9-11ea-9e47-8bca0e030e1c.png width=200/>

![image](https://user-images.githubusercontent.com/44481292/73294226-41b00a80-41ba-11ea-94ae-ee11e03d526a.png)

cc @a

[2020-01-16 01:15] AdelheidF commented on #450
@mitc7862

This is what it looks like with a long field name. I now can't see the field type at all. A hover doesn't show anything.

<img src=https://user-images.githubusercontent.com/44481292/72484715-0ffe7300-37ba-11ea-9771-736ab80e3992.png width=250/>

I guess we need to keep the line with the field name and type inside the body anyway. In that case I'm not clear what's the use of having it in

[2020-01-16 17:40] pr3tori4n opened #767 "Enhancement: Nested list items in pick list"
### Description

* A Pick List's items can be nested to create a heirarchy.
* The parent items should be selectable.
* The filter should show children when it matches a parent element.
* The filter should show a parent ( but not siblings ) when matching a child element.

[2020-01-16 20:02] AdelheidF commented on #740
Focus box seems big, but the focus works,

![image](https://user-images.githubusercontent.com/44481292/72558644-f7dd3100-3857-11ea-8e88-1adc6f04b3b2.png)

[2020-01-16 20:54] #740 closed

[2020-01-17 00:32] kat10140 commented on #751
@jcfranco looks like it's still happening with the test case you provided. should i test this somewhere else?

[2020-01-17 17:29] jcfranco commented on #751
@kat10140 This fix will be in the next release, so you'll need to test locally for now.

[2020-01-17 17:37] AdelheidF opened #771 "Bug: height issues with calcite-flow/calcite-flow-item"
### Summary
If I set height to 100% the blocks inside the panel stretch out.
<img src=https://user-images.githubusercontent.com/44481292/72633154-b65a8d80-390c-11ea-9408-a3d349fbecf6.png width=200/>

If I don't set the height the Close/Cancel buttons are no longer at the bottom of the panel.
<img src=https://user-images.githubusercontent.com/44481292/72633189-ce321180-390c-11ea-8769-bbe7255d5e9b.p

[2020-01-17 19:30] driskull opened #773 "Bug: rename calciteListItemPropsUpdated to calciteListItemPropsChange for consistency"
### Summary

Bug:  rename calciteListItemPropsUpdated to calciteListItemPropsChange for consistency

[2020-01-17 21:27] mitc7862 commented on #450
Yikes!

I consulted Alan and we agree that having the field type to the sub header isn't going to work. Can we the following?

![image](https://user-images.githubusercontent.com/12564905/72647321-2416b180-392d-11ea-97ac-5ca27ad3fc1b.png)

[2020-01-17 23:25] jcfranco opened #774 "Tooling: Add script to generate a changelog preview"
## Summary

Currently, the changelog is only available during the publishing process. It would be useful to have a way to preview this without having to mess with publishing scripts.

## Measure of Success

Add a script to `package.json` that generates a changelog preview.

### Resources

[2020-01-21 18:40] russroberts commented on #565
this looks good!

[2020-01-21 18:40] #565 closed

[2020-01-21 18:57] asangma commented on #656
Sorry for the slow beans.

[2020-01-21 18:57] #656 closed

[2020-01-21 21:20] asangma commented on #726
@kumarGayu Are we seeing people confused about whether they can collapse the block or not?

[2020-01-21 21:23] asangma commented on #729
@kat10140 PR #776 should fix this. Mind verfeeing?

[2020-01-21 21:29] driskull commented on #543
It's better, but I don't think the "selected" state is still quite enough. I'll close the issue but I have a feeling this may come up from UX testing.

[2020-01-21 21:29] #543 closed

[2020-01-21 23:03] kat10140 commented on #729
lewks good! also this looks like it's for value list, gonna change the title @asangma

[2020-01-21 23:03] #729 closed

[2020-01-21 23:03] kat10140 commented on #729
or is it for a value list item (which is a pick list item?)

[2020-01-22 17:08] #758 closed

[2020-01-22 17:10] kat10140 commented on #478
closing. this was discussed a long time ago and never closed.

[2020-01-22 17:10] #478 closed

[2020-01-22 20:54] kumarGayu opened #778 "Enhancement: Caclite value list: Can I have toggling effect on calcite list item on multiple click."
### Description
Caclite value list: Can I have toggling effect on calcite list item on multiple click.
### Acceptance Criteria
Have a selected and deslected on calcite value list
### Relevant Info

#### Which Component
Calcite Value List

#### Example Use Case

[2020-01-22 21:23] driskull commented on #759
@asangma what do you think? If we add scale, would we get rid of compact?

[2020-01-22 23:03] kat10140 commented on #682
verified!

[2020-01-22 23:03] #682 closed

[2020-01-23 06:01] driskull opened #780 "Enhancement: Calcite-Filter should not query shadowRoot"
### Description

Enhancement: Calcite-Filter should not query shadowRoot

- [calcite-filter](https://github.com/Esri/calcite-app-components/blob/078682d73524d433bbf5a282ad855f291456fd02/src/components/calcite-filter/calcite-filter.tsx#L100)

[code]

@pr3tori4n does this work in Edge?

It would be better if it instead stored the node as a variable to reference it and clear its value.
[code]

### Ac

[2020-01-23 06:04] driskull commented on #780
Seems to work in edge. It would still be better to have a reference to the element instead of querying for it.

[2020-01-23 06:08] driskull opened #781 "Bug: CalcitePickList compact mode doesn't render text"
### Summary

Bug: CalcitePickList compact mode doesn't render text

### Actual Behavior

^

### Expected Behavior

Text and checkbox/radio should be displayed

### Reproduction Steps

1. Go to https://esri.github.io/calcite-app-components/?path=/story/components-calcite-pick-list--basic
2. Toggle compact checkbox
3. Notice that text is no longer displayed and the radio/checkbox isn't either.

###

[2020-01-23 18:22] pr3tori4n commented on #738
@kat10140 please verify.

[2020-01-23 21:42] jcfranco commented on #774
Installed.

[2020-01-23 22:02] jcfranco commented on #640
@driskull Could this be assimilated into #172? I was thinking we would link to component patterns and  examples from that document. cc @kat10140

[2020-01-23 22:03] driskull commented on #640
yep. sounds good

[2020-01-23 22:03] jcfranco commented on #640
Thanks, closing!

[2020-01-23 22:03] #640 closed

[2020-01-23 23:05] kumarGayu opened #782 "Bug: Calcite-shell-panel remove position relative"
### Summary
Adding position relative to shell panel will add position relative to its children.
### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2020-01-24 17:00] driskull opened #784 "Enhancement: Create utility method to find out if a slot exists"
### Description

`this.el.querySelector([slot=${SLOTS.secondaryAction}])` is very common now it seems.

Maybe we should have a utility for this like `hasSlot(el: HTMLElement, slotName:string): boolean;`?

### Acceptance Criteria

utility method to find out if a slot exists

### Relevant Info

https://github.com/Esri/calcite-app-components/pull/783#discussion_r370507954

#### Which Component

All

[2020-01-24 17:44] jcfranco commented on #784
I would like to propose the following:

[code]

This has the flexibility of getting the slotted element(s) as well as making it easy to check for their existence:

[code]

The signature could be simplified by taking a flag instead of options too.

[2020-01-24 23:05] jcfranco commented on #763
Installed.

[2020-01-28 18:12] AdelheidF commented on #771
Looks good now.

[2020-01-28 18:20] asangma commented on #771
Thanks!

[2020-01-28 18:21] asangma commented on #771
Assigning to @kat10140

[2020-01-28 18:22] kat10140 commented on #771
ye!

[2020-01-28 18:22] #771 closed

[2020-01-28 18:23] asangma commented on #303
Initial attempts to remove all the 100% heights resulted in breaking styles when components were nested. Removed the 100% height rules where possible.

Closing.

[2020-01-28 18:23] #303 closed

[2020-01-28 21:36] driskull commented on #782
@kumarGayu we can remove the `position:relative` from the `shell-panel` but it will still exist for slotted `shell-panel`s inside of a `shell` so I'm not sure if it will help at all. The `shell` needs it to put the zindex in.

Also `calcite-panel` has a `position:relative`.

[2020-01-28 23:51] asangma opened #791 "Bug: Block with new extra padding!"
### Summary
Extra padding in Block. 👀

Seems to be coming from [here](https://github.com/Esri/calcite-app-components/blob/master/src/components/calcite-block/calcite-block.scss#L86).

### Actual Behavior
![Screen Shot 2020-01-28 at 3 46 22 PM](https://user-images.githubusercontent.com/12503298/73315676-93ba5580-41e5-11ea-8356-8d230b516f33.png)

### Expected Behavior
![image](https://user-images.gi

[2020-01-28 23:56] asangma commented on #791
Not this is nice for stuff in `.content` but seems to be getting applied to stuff in the `.header-container`.

[2020-01-29 02:51] kumarGayu commented on #782
@driskull I think this will not solve the problem. if it is for z-index can you guys try visibility-true?

[2020-01-29 02:51] kumarGayu commented on #782
inside panel I have series, and on click of series it is still working.

[2020-01-29 15:44] asangma commented on #791
@jcfranco I'm also seeing some updates to the header that seem to be causing issues when the `heading` gets long.

![image](https://user-images.githubusercontent.com/12503298/73371443-8e531e80-426a-11ea-997f-f404d46ff30c.png)

[2020-01-29 17:00] asangma commented on #759
@driskull Yeah...better to follow our other patterns and use **CalciteScale**.

[2020-01-29 19:03] asangma opened #794 "Enhancement: Deprecate "compact" property in Action"
### Description
Deprecate the "compact" prop.
re: #759

### Acceptance Criteria
It's deprecated.

### Relevant Info
See [this comment](https://github.com/Esri/calcite-app-components/pull/792#pullrequestreview-350291565).

#### Which Component
Action

#### Example Use Case
Li'l action.

[2020-01-29 19:12] driskull commented on #782
No, we need to position the panels above the map, we can only do that with positioning.

[2020-01-29 19:24] kat10140 commented on #751
@jcfranco this is happening locally and on the test case you provided.

[2020-01-29 19:31] jcfranco commented on #751
It works fine using the latest: https://codepen.io/jcfranco-the-scripter/pen/VwYOBPz

1. Focus on the control text (`focus me and hit SPACE/ENTER`)
2. Press Space or Enter key
3. Block is not toggled. ✅

[2020-01-29 19:34] kat10140 commented on #763
verified!

[2020-01-29 19:34] #763 closed

[2020-01-29 19:36] kat10140 commented on #774
verified!

[2020-01-29 19:36] #774 closed

[2020-01-29 19:48] kat10140 commented on #751
facepalm. i only changed the version of the stylesheets

[2020-01-29 19:48] #751 closed

[2020-01-29 19:56] AdelheidF opened #795 "Enhancement: calcite-pick-list minimalist style"
### Description

Would you consider a calcite-pick-list style that looks something like this?, notice the minimalist spacing/padding. Label might be limited to one line with optional ellipses.

To be used inside the Filter component for the new map viewer. 'Search fields' would only show for more than 12 values or so.

![image](https://user-images.githubusercontent.com/44481292/73391517-fca8d880-4

[2020-01-29 22:36] asangma commented on #794
@driskull I'm realizing we use this for when action is used as a button for a Block section, i.e. we reduce the side padding.

Right now, the button is getting padding inside of `calcite-action`'s shadow DOM, so we were using this property to tighten up the side padding to make it align nicely.

Suggest:
- keeping this prop
- keeping the behavior but renaming the prop to be more explicit
- somethi

[2020-01-29 23:01] driskull commented on #794
Do you have any idea of what a better name would be? We just don't want to confuse this prop with sizing (scale).

Maybe we just close this and leave it as is.

[2020-01-29 23:45] #794 closed

[2020-01-30 00:26] asangma commented on #794
I'm cool with that. We can nix `compact` from the doc and from the Storyboook too...I nixed it from Storybook already..

[2020-01-30 17:43] asangma commented on #759
@AdelheidF this is installed but not yet released yet. Feel free to start adding the prop to any actions you deem in need of small-ness.

[2020-01-30 17:54] asangma commented on #795
@AdelheidF Looks like if we use the new `scale="s"` prop on the Action, this should help. We'd still need to update pick-list-item to only render the `summary` node when it has content.

[2020-01-30 18:05] asangma commented on #469
Moving to this https://github.com/Esri/calcite-components/pull/248

[2020-01-30 18:05] #469 closed

[2020-01-30 18:08] AdelheidF commented on #795
I removed the caclite-action here. Not sure where this padding comes from, but I don't see summary being renderered.

![image](https://user-images.githubusercontent.com/44481292/73477057-61753900-4348-11ea-8c8c-57e37ae5a493.png)

[2020-01-30 19:43] kat10140 commented on #744
this is done

[2020-01-30 19:43] #744 closed

[2020-01-30 20:05] kat10140 commented on #738
verified

[2020-01-30 20:05] #738 closed

[2020-01-30 20:55] pr3tori4n commented on #767
@kat10140 please verify.

[2020-01-30 22:09] pr3tori4n commented on #483
@kat10140 please verify.

[2020-01-30 22:54] pr3tori4n commented on #746
@asangma is this something you're looking into?

[2020-01-30 22:59] pr3tori4n commented on #778
@kat10140 could you help me nail down the requirements for this. I'm not sure what the ask is.

[2020-01-30 23:45] AdelheidF commented on #746
duplicate of https://github.com/Esri/calcite-app-components/issues/795

[2020-01-30 23:45] #746 closed

[2020-01-30 23:59] kat10140 commented on #778
I think what he's saying is he wants a select/deselect all. @kumarGayu ?

[2020-01-31 00:09] jcfranco commented on #791
Installed.

[2020-01-31 00:10] jcfranco commented on #791
@asangma I'll create a separate issue for this one.

[2020-01-31 17:47] pr3tori4n commented on #773
@kat10140 please verify.

[2020-01-31 18:03] pr3tori4n commented on #757
### Update

I've been able to reproduce this behavior without the sorting. If there's an array set as state, and that array is used to render elements in the component Stencil seems to connect the order of the elements in the dom with an index in that array. If the elements order is modified using JS, the state array to element mapping doesn't seem to get updated. Imagine an array `[1,2,3]` render

[2020-01-31 21:51] rslibed opened #800 "Enhancement: calcite-shell-panel content width"
### Description
Need to target `.content` in `calcite-shell-panel` and set width to `100%`. The issue is that the container is within the shadow dom so external styles cannot be applied.

![portrait](https://user-images.githubusercontent.com/29421380/73576646-ce173300-442f-11ea-8b37-9ebcd4e82df1.png)

![landscape](https://user-images.githubusercontent.com/29421380/73576655-d2435080-442f-11ea-9e9c-

[2020-01-31 21:57] driskull commented on #800
I think we can just add some media queries to the panel to make it span 100% if below a threshold. right @asangma?

Maybe we need to start thinking about global css variables for the breakpoints though.

[2020-02-03 17:41] asangma commented on #527
@AdelheidF @jcfranco
I'm not seeing the focus issue anymore. @kat10140 Can you confirm.

However, it looks like with a block-section with `toggle-display="switch"`, the label can't be focused. The switch can be focused, using the keyboard to switch it doesn't hide/show the section content.

@jcfranco I will make a separate issue for this.

[2020-02-03 17:46] asangma opened #801 "A11y: BlockSection toggle-display="switch". Can't use keyboard."
### Summary
When a block-section has `toggle-display="switch"`, the label, which triggers showing/hiding of the content, can't be focused. The switch can be focused, but keyboard commands don't toggle the content.

### Actual Behavior
![block-section-focus2](https://user-images.githubusercontent.com/12503298/73676809-de1a5700-4669-11ea-8ded-bbde57643226.gif)

### Expected Behavior
* ability to foc

[2020-02-03 17:47] asangma commented on #801
That cat is all like, _SUCH A11Y. MUCH INTRIGUE._

[2020-02-03 17:50] AdelheidF commented on #527
yes, seeing the same thing on devext

keyboard enter
![image](https://user-images.githubusercontent.com/44481292/73677168-89c3a700-466a-11ea-891c-8293bb353fd6.png)

mouse click
![image](https://user-images.githubusercontent.com/44481292/73677191-947e3c00-466a-11ea-84fe-5cf0378c860a.png)

[2020-02-04 17:20] jcfranco opened #802 "Tooling: Enable screenshot tests"
## Summary

Enabling screenshot tests would help catch potential visual regressions.

## Measure of Success

Test suite runs screenshot tests on all components.

### Resources

https://stenciljs.com/docs/screenshot-visual-diff

[2020-02-04 17:38] asangma commented on #759
@kat10140 Make for the verfee?

[2020-02-04 18:19] asangma commented on #800
Definitely. Would we want to make that happen based on a prop?

[2020-02-04 18:23] driskull commented on #800
I don't think so. We can come up with some good breakpoint sizes and users can overwrite by changing css variables. Maybe follow bootstrap breakpoint sizes.

[2020-02-04 18:33] jcfranco opened #804 "Bug: [Block] Layout issues in header with long headings"
### Summary

Reported in https://github.com/Esri/calcite-app-components/issues/791#issuecomment-579819261

### Actual Behavior

☝️

### Expected Behavior

Block layout to not overflow.

### Reproduction Steps

1.

### Relevant Info

[2020-02-04 18:34] jcfranco commented on #804
@asangma Could you help fill in the repro steps in the description? 🙇

[2020-02-04 18:39] kat10140 commented on #759
verified!

[2020-02-04 18:39] #759 closed

[2020-02-04 18:42] kat10140 commented on #483
Verified!! Woohoo!

[2020-02-04 18:42] #483 closed

[2020-02-04 19:45] AdelheidF commented on #759
Looks good

![image](https://user-images.githubusercontent.com/44481292/73780674-c1eae880-4743-11ea-9015-6cd5f50a140b.png)

Will add it for map viewer beta 4

[2020-02-05 17:36] asangma commented on #791
Verified on demos and in MVB locally.

[2020-02-05 17:36] #791 closed

[2020-02-05 18:26] asangma opened #806 "Research: getElementDir(el) - can it look past the Shadow?"
### Background
A Panel inside a FlowItem can't seem to see any `dir="rtl"`, and FlowItem can't add `calcite--rtl` down in a way that Panel can see it. For now, FlowItem can just pass its `dir` value down and let Panel handle it using the `getElementDir` method.

Should `getElementDir` be able to punch through the shadow ceiling?

### Desired Outcome
Elegance.

[2020-02-05 18:28] asangma opened #807 "Bug: FlowItem header layout is weird"
### Summary
The header layout is weird.

### Actual Behavior
👎
![image](https://user-images.githubusercontent.com/12503298/73871094-13f24380-4802-11ea-82ce-992525071616.png)

### Expected Behavior
👍
![image](https://user-images.githubusercontent.com/12503298/73871139-29676d80-4802-11ea-812c-2a3f0aa9f11a.png)

### Reproduction Steps

1.

### Relevant Info

[2020-02-05 18:48] driskull commented on #806
@jcfranco what do you think? Seems like when we're nesting components, the RTL information gets lost unless we pass it by setting an attribute.

[2020-02-05 19:00] driskull commented on #806
Seems like setting the `dir` on the nested component is the best we can do for now.

[2020-02-05 21:19] jcfranco commented on #801
Installed.

**Note**: The switch will still be keyboard-focusable until we update calcite-components to v1.0.0-beta.19 (Esri/calcite-components#317)

[2020-02-05 21:49] asangma commented on #764
@kat10140 @AdelheidF Please let me know if this works.
Should look like this.
![image](https://user-images.githubusercontent.com/12503298/73886346-44e07180-481e-11ea-9534-dbadc2a977f4.png)

[2020-02-05 21:50] asangma commented on #807
@kat10140 Lemme know if you need any background or help on verfeeing this one.

[2020-02-05 21:52] asangma commented on #801
Très bon!

[2020-02-05 21:52] #801 closed

[2020-02-05 22:18] driskull commented on #806
Added wiki discussion for this.

[2020-02-05 22:29] AdelheidF commented on #795
I'm using scale=s in the smartMapping Gallery pick-list here. This is how it looks. (left side)
But where I need a small pick-list is here in the layer filter component where I'm using my own list right now. (right side).
If you imagine moving that pick-list into that space available there you'll only see 3.5 values. You have to scroll for the rest.

![image](https://user-images.githubusercontent.

[2020-02-05 22:47] #806 closed

[2020-02-06 17:17] pr3tori4n commented on #753
@asangma please verify.

[2020-02-06 17:24] asangma commented on #801
@AdelheidF Forgot to tag you on this. The block-section switch mode should be fixed.

[2020-02-06 17:29] pr3tori4n commented on #780
@driskull please verify.

[2020-02-06 17:30] pr3tori4n commented on #781
@driskull please verify.

[2020-02-06 17:30] #780 closed

[2020-02-06 17:32] driskull commented on #781
@pr3tori4n is the checkbox/radio icon supposed to be gone in `compact`? If so, how does a user know which is selected? cc @asangma

https://esri.github.io/calcite-app-components/?path=/story/components-calcite-pick-list--basic

[2020-02-06 17:47] asangma commented on #753
@pr3tori4n Looks like the layout stuff is in there nicely, but I am not seeing any `removable` property or associated event.

[2020-02-06 18:01] pr3tori4n commented on #753
@asangma What Adelheide is asking for is already possible by passing in more than one action using the `secondary-action` slot. This pattern is really flexible in that it will allow any users of the pick list to put whatever action(s) they need (using the most appropriate icon). It also means we won't be a bottleneck in needing to add specific options paired with actions as enhancements.

I advoca

[2020-02-06 18:08] asangma commented on #804
Urm...it's apparently fixed now. 🤘🏽

[2020-02-06 18:08] #804 closed

[2020-02-06 18:13] pr3tori4n commented on #781
reassigning to Alan since this is by design I believe.

[2020-02-06 18:15] asangma commented on #753
It's good that we've addressed Adelheide's need. 👍
This was a request coming from @kumarGayu.
This functionality is akin to the selected functionality and is pretty core to how value-list-items are used. Looking at the use cases currently in production, the remove functionality is common.

Attributes for SmartMapping
![image](https://user-images.githubusercontent.com/12503298/73965577-4c108980-48c

[2020-02-06 18:16] asangma commented on #753
@pr3tori4n Should we make an issue for Adelheid's request that is specific to the multiple secondary-action layout concerns?

[2020-02-06 18:16] pr3tori4n commented on #757
@kumarGayu
Here is the issue.
https://github.com/ionic-team/stencil/issues/2187

I think there are some workarounds possible here. In fact, I half expect the Stencil team to advise we don't use the same state array to do the first render as well as be what's updated on sorting changes. One thing could be having two arrays - one for the first render of the list and the other to print the sorted ord

[2020-02-06 18:23] kumarGayu commented on #778
I have a single select value-list where I want on every click i should toggle the select. Therefore can I have an event on calcite-value-list-item on every click or can i have attribute property toggle selection on multiple clicks.

[2020-02-06 18:30] pr3tori4n commented on #778
Does this event do what you're asking? It's available for both pick list and value list items
https://github.com/Esri/calcite-app-components/tree/master/src/components/calcite-pick-list-item#events

[2020-02-06 22:41] kat10140 commented on #527
Keyboard switch is working now and I don't see Adelheid's issue but I do see another one I'll make a separate issue

[2020-02-06 22:57] #527 closed

[2020-02-06 23:02] kat10140 commented on #807
verf!!

[2020-02-06 23:02] #807 closed

[2020-02-06 23:13] kat10140 commented on #764
This looks good on my machine

[2020-02-06 23:14] #764 closed

[2020-02-06 23:19] kat10140 commented on #767
@pr3tori4n if a parent is selected, are the children meant to be selected as well? looks like they're all single select right now

[2020-02-06 23:21] kat10140 commented on #767
![Screen Shot 2020-02-06 at 3 20 27 PM](https://user-images.githubusercontent.com/48069902/73987119-3d8b9780-48f4-11ea-90c5-c9343a3e9b6d.png)
it looks like the filter is showing siblings in this case

[2020-02-06 23:23] kat10140 commented on #773
looks good!

[2020-02-06 23:23] #773 closed

[2020-02-07 17:36] kumarGayu commented on #778
Yes, but will this work for single select?

[2020-02-07 17:39] kumarGayu commented on #757
@pr3tori4n thank you very much 👍

[2020-02-07 17:57] kumarGayu commented on #726
Yes. I am really sorry for delayed reply. because when we have action header and collapsed true as a user I do not know we can collapse it or not.

[2020-02-10 18:49] pr3tori4n commented on #778
@kumarGayu I think so. It's an even that fires off at the item level. It's possible it might not fire off if the parent is deselecting manually an item in a single selection. Try it out and let me know if you have any issues. If it works can we close this issue?

[2020-02-11 17:44] asangma opened #815 "Question: Fabulous FAB?"
### Question
Should we make an actual FAB that wraps the `calcite-button` and positions it...or maybe add a FAB option to stuff like `panel`?

### Helpful Details
There are a number of cases already that would have to do basically [this](https://devtopia.esri.com/WebGIS/arcgis-webviewer-app/pull/1270), and having a consistent FAB experience would be a good thing.

[2020-02-11 18:26] asangma commented on #781
Looks good.

[2020-02-11 18:26] #781 closed

[2020-02-11 19:07] kumarGayu commented on #778
Sure (y)

[2020-02-11 22:24] driskull opened #818 "Enhancement: Rename text props we provide a default for to have `intl-` prefix"
### Description

Enhancement: Rename text props we provide a default for to have `intl-` prefix

### Acceptance Criteria

All properties that we provide default text in English be prefixed with `intl-` so that we can document the purpose of these properties and have them named consistently.

### Relevant Info

Also consider having a bundle file where we can reuse some of the common English strings

[2020-02-11 23:57] jcfranco commented on #784
Installed!

[2020-02-11 23:59] jcfranco commented on #784
@driskull I'll create a new refactor issue to start using the util.

[2020-02-12 00:51] #784 closed

[2020-02-12 07:44] driskull commented on #815
Would it be the button or the action?

A slot would make sense.

[2020-02-12 07:45] driskull commented on #800
Going to move this to backlog. We will consider mobile styles once we get mapviewer more stable.

[2020-02-12 07:45] #782 closed

[2020-02-12 07:46] driskull commented on #130
moved to backlog

[2020-02-12 23:01] driskull commented on #818
@jcfranco @asangma do we want to do this as a breaking change or as deprecations?

[2020-02-13 00:35] jcfranco commented on #818
I vote to deprecate and remove later.

[2020-02-13 05:09] driskull commented on #815
@asangma want me to take this one?

[2020-02-13 21:23] asangma commented on #815
Hey @driskull Yeah....would be cool if you took it. I think it'd be worth discussing some of the cases that can come from nesting and how that affects where the node is placed.

It would probably be good to use `calcite-button` and utilize its props for `round` and `floating`.

[2020-02-13 21:26] driskull commented on #815
Yep. Makes sense.

It will also be dependent on this: https://github.com/Esri/calcite-components/issues/334

[2020-02-13 21:55] driskull commented on #815
@asangma would we need to accept the following for the FAB?

- color
- appearance
- scale

Or would it always be solid blue medium?

[2020-02-13 22:03] driskull commented on #815
@asangma would we want the fab on the Flow & panel? anything else?

[2020-02-13 22:30] driskull commented on #818
## Props to change

### calcite-action-bar

- textExpand => localeExpand
- textCollapse => localeCollapse

### calcite-action-pad

- textExpand => localeExpand
- textCollapse => localeCollapse

### calcite-block

- textExpand => localeExpand
- textCollapse => localeCollapse

### calcite-block-section

- textExpand => localeExpand
- textCollapse => localeCollapse

### calcite-filter

- textLabel =>

[2020-02-13 23:17] jcfranco opened #822 "Refactor: Use `getSlotted` util to reduce boilerplate"
### Description

#784 introduced `getSlotted` to simplify getting slotted content.

### List of Changes

Use ☝️to reduce boilerplate slot querying.

### Areas of Impact

* [ ] `calcite-action-bar.tsx`
* [ ] `calcite-block.tsx`
* [ ] `calcite-flow-item.tsx`
* [ ] `calcite-panel.tsx`
* [ ] `calcite-pick-list-group.tsx`
* [ ] `calcite-pick-list-item.tsx`
* [ ] `calcite-pick-list.e2e.ts`
* [ ] `calcit

[2020-02-14 23:44] jcfranco opened #826 "Research: Look into using docs-json output target to improve Storybook integration"
### Background

Stencil 5.3 added support for web components, namely [`custom-elements.json`](https://github.com/storybookjs/storybook/tree/next/addons/docs/web-components#custom-elementsjson). This could be used in conjunction with Stencil's [JSON doc output](https://stenciljs.com/docs/docs-json) to help simplify our setup.

### Desired Outcome

Streamline the Stencil doc output + Storybook integ

[2020-02-14 23:49] jcfranco opened #827 "Doc: Add overview page for web component resources"
Adding a page with web component resources could help users start out with our components.

[2020-02-14 23:51] jcfranco opened #828 "Doc: URLs from Storybook notes are broken"
This is mainly because the notes inject the component `readme.md`s directly and don't adjust the relative URLs.

[2020-02-14 23:54] jcfranco opened #829 "Research: Automatically create notes for component dependencies"
### Background

Components from top-level stories should have their note sections automatically generated.

### Desired Outcome

The `readme.md` for each component lists its component dependencies. Each one should have a corresponding section under the `Notes` tab.

[2020-02-15 20:50] jcfranco commented on #826
This should probably wait until https://github.com/ionic-team/stencil/issues/2196. The current JSON doc output from Stencil does not give a lot of info for Storybook to work its magic.

[2020-02-18 16:28] asangma commented on #815
@driskull

For now, that should take care of our use cases.

[2020-02-18 16:45] asangma commented on #815
re:
- color
- appearance
- scale

I'm reluctant to do this. I think for now, we set those internally on the calcite-button until we have requests to expose those. In any case, seems like panel/flow-item would have a `fab` slot that we would use and that users could use if they wanna put something custom yeah?

[2020-02-18 17:48] jcfranco commented on #828
Installed.

Links should be fixed after the next doc update.

[2020-02-18 22:49] AdelheidF opened #834 "Bug: calcite-flow-item with header and scrolling content"
### Summary
If the panel has scroll bars the summary doesn't get enough space in the header.

![image](https://user-images.githubusercontent.com/44481292/74784155-2a65b980-525c-11ea-9e75-4e010ab72a19.png)![image](https://user-images.githubusercontent.com/44481292/74784293-76b0f980-525c-11ea-97bd-b8a51a8b4ea2.png)![image](https://user-images.githubusercontent.com/44481292/74784894-d065f380-525d-11e

[2020-02-19 18:56] kat10140 commented on #778
@kumarGayu closing. Let me know if this is still an issue

[2020-02-19 18:56] #778 closed

[2020-02-19 21:19] pr3tori4n commented on #767
@kat10140 I don't believe this was requested. It was requested the parents be selectable, but not that selecting a parent auto-selects the children. If that's desired, I'd suggest we open a new enhancement issue to cover that behavior.

[2020-02-19 21:22] pr3tori4n commented on #757
@kat10140 I suggest we close this issue for now and track the Stencil bug under the Wiki page:
https://github.com/Esri/calcite-app-components/wiki/Stencil-Bugs-Tracking-Progress

[2020-02-19 22:24] jcfranco opened #839 "chore: Remove Storybook build fixing script"
Remove script added by https://github.com/Esri/calcite-app-components/pull/840 when https://github.com/storybookjs/storybook/issues/9900 is fixed.

[2020-02-20 06:03] AdelheidF opened #841 "Enhancement: calcite-flow-item needs an onscroll event"
### Description
My component needs to close a popover if the user scrolls the content of a flow-item.
The document.click event does not catch this event and neither does the onscroll event directly on the flow-item or my content div of the flow-item.

### Acceptance Criteria

### Relevant Info

#### Which Component

#### Example Use Case

[2020-02-20 17:13] mitc7862 commented on #841
@AdelheidF Would it close anytime the user scrolls or only when the position of the popover is off-screen?

[2020-02-20 17:30] driskull commented on #841
@AdelheidF is the Popover inside of the content that is scrolling? If so, it should be able to hide it.

Another option would be using these attributes that get added to the Popover...

- data-popper-reference-hidden: This attribute gets applied to the popper when the reference element is fully clipped and hidden from view, which causes the popper to appear to be attached to nothing.
- data-popper

[2020-02-20 17:51] AdelheidF commented on #841
It sounds like any action outside of the popover should close it. So that's what it will do.

[2020-02-20 17:56] AdelheidF commented on #841
I would like to know when the user touches any point in the yellow area. The document.click event doesn't catch this.

<img src=https://user-images.githubusercontent.com/44481292/74963623-e4793480-53c6-11ea-9972-2ee54f4a3644.png width=250/>

[2020-02-21 18:54] pr3tori4n commented on #757
Unassigning myself.

[2020-02-21 18:56] kat10140 commented on #767
Oh, thats how i interpreted the last bullet of the issue. If that's not the case, we can close this one

[2020-02-21 19:11] pr3tori4n commented on #767
@kat10140 no worries. I believe that's meant to describe the hide/show behavior not the selection behavior. Closing.

[2020-02-21 19:11] #767 closed

[2020-02-21 19:13] pr3tori4n commented on #753
Adding @driskull as an assignee for any work needed after today.

[2020-02-21 19:52] driskull commented on #818
@jcfranco do you think you could take the block and filter?

[2020-02-21 21:59] AdelheidF commented on #834
Don't see this with 5.3.2 anymore.

[2020-02-21 21:59] #834 closed

[2020-02-21 22:28] AdelheidF commented on #795
This is the current look.

![image](https://user-images.githubusercontent.com/44481292/75077040-71e78200-54b6-11ea-914a-30d065df1a77.png)

[2020-02-21 22:28] #795 closed

[2020-02-21 22:31] AdelheidF commented on #801
The toggle itself can no loger get the focus. I assume this is the fix. So all good now.

![image](https://user-images.githubusercontent.com/44481292/75077165-d276bf00-54b6-11ea-9b9f-d489a9bb3377.png)

[2020-02-21 22:37] AdelheidF commented on #527
Still happening with 5.3.2. The bottom border of the focused block header is weird.
I assume it's the block + block-section-toggle combo.

![image](https://user-images.githubusercontent.com/44481292/75077293-25507680-54b7-11ea-85ed-39e195ee3d54.png)

![image](https://user-images.githubusercontent.com/44481292/75077417-87a97700-54b7-11ea-864b-669f0c3c1a2c.png)

[2020-02-22 00:20] kat10140 commented on #726
@asangma

[2020-02-22 00:21] kat10140 commented on #757
closing per harry's comment.

[2020-02-22 00:21] #757 closed

[2020-02-24 15:56] asangma opened #845 "Enhancement: Add a convenience for adding calcite-tooltip to Action"
### Description
Add an easy way for users to "turn on" and hydrate a **CalciteTooltip** in **Action**.

### Acceptance Criteria
Make it soops easy.

### Relevant Info
The word "impossible" has dropped in usage by 50% over the last hundred years.

#### Which Component
Action
Maybe add this to more components later as the need arises.

#### Example Use Case
All the Actions in a typical ActionBar.

@

[2020-02-24 17:40] jcfranco commented on #818
@driskull Sure thing.

[2020-02-24 17:42] jcfranco commented on #801
@AdelheidF Correct. 😄

[2020-02-24 17:49] AdelheidF commented on #801
Just as an FYI, this makes it weird in certain cases.
E.g. here the first and third toggle buttons are part of sections, the middle one is just a toggle button by itself.

Flow of focus:
![image](https://user-images.githubusercontent.com/44481292/75177337-cd01ba80-56ea-11ea-9152-489f1dd2b3a3.png)

![image](https://user-images.githubusercontent.com/44481292/75177359-d7bc4f80-56ea-11ea-89c5-cd56806e

[2020-02-24 19:05] kat10140 opened #846 "Refactor: Add styles to calcite-panel for 'start' and 'end'"
### Description
Our `calcite-panel` styles are still linked to `leading` and `trailing` properties on the component. After our meeting with the calcite-components team, we've decided to go with `start` and `end` for our props to keep it consistent across the board.  We need to adjust our styles to fit.

Note: for now we are KEEPING leading and trailing until they are fully removed.

Move Alan magi

[2020-02-24 19:06] asangma commented on #846
Yeyer! Looks like the start and end styles are in there, and I'll need to add the deprecated leading and trailing (back) in.

[2020-02-24 19:09] kat10140 commented on #846
🤙🏼

[2020-02-24 20:51] asangma commented on #846
@kat10140 MURGLED.

[2020-02-24 23:15] kat10140 commented on #846
@asangma i see leading and trailing but no start end?

[2020-02-25 22:38] jcfranco opened #849 "Bug: [Block] control slot layout issues"
### Summary

The control slot is positioned absolutely to avoid having it in the button element (prevent it from receiving keyboard mouse events), leading to odd layout when the block width is smaller than the control.

<img width="213" alt="Screen Shot 2020-02-25 at 2 33 31 PM" src="https://user-images.githubusercontent.com/197440/75293848-ecc4db80-57db-11ea-8c76-a925df17fe82.png">

https://githu

[2020-02-26 19:38] asangma opened #850 "Enhancement: FlowItem. Add slot for Panel's header-content"
### Description
Allow FlowItem to pass content directly to Panel's `header-content` slot.
Users should still be able to use the `heading` and `summary` attributes/props to hydrate Panel's `header-content`. But using the `header-content` at Flow Item would take precedence over those props.

### Acceptance Criteria
Don't break stuff.

#### Which Component
FlowItem

#### Example Use Case
"layer switc

[2020-02-27 21:21] asangma opened #857 "Bug: ActionBar in ShellPanel - collapse icon is wrong on the trailing/end side"
### Summary
<img width="298" alt="Screen Shot 2020-02-27 at 1 19 22 PM" src="https://user-images.githubusercontent.com/12503298/75487739-d8134f80-5963-11ea-826c-1e718b6afb94.png">

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1. See `/story/components-calcite-shell--basic`

### Relevant Info

@kat10140 @driskull @jcfranco Would be good get this in and release soon.

[2020-02-27 22:12] driskull opened #859 "Enhancement: Add tooling to test onscroll event for FlowItem and Panel #842"
### Description

Enhancement: Add tooling to test onscroll event for FlowItem and Panel #842

https://github.com/Esri/calcite-app-components/pull/842#pullrequestreview-366032621

CC ISSUE :https://github.com/Esri/calcite-components/issues/973

[2020-02-28 00:16] asangma commented on #857
@kat10140 Mind verfeeing?

[2020-02-28 00:44] kat10140 commented on #857
VERF!

[2020-02-28 00:44] #857 closed

[2020-02-28 01:22] AdelheidF commented on #841
Works well, thanks.

[2020-02-28 01:22] #841 closed

[2020-02-28 18:27] kat10140 commented on #828
@jcfranco there are some that link to other components that don't have their own storybook (eg block-section, flow-item, smaller comps) and so just go to the overview storybook page for our components. I don't think this is a great experience. Do you think it would be worth linking back to the readme's for those smaller non-storybook-doc'd components?

[2020-02-28 18:28] asangma commented on #815
Look a gud!

[2020-02-28 18:28] #815 closed

[2020-02-28 18:30] asangma commented on #846
VERFEED

[2020-02-28 18:30] #846 closed

[2020-02-28 19:11] kat10140 opened #862 "Bug: border width not consistent witih calcite-block-section toggle mode"
### Description
Per Bjorn:

Minor, but looks a little sloppy:
![cd19e880-597e-11ea-8ecb-b16e3d8341e3](https://user-images.githubusercontent.com/48069902/75579578-03a54100-5a1b-11ea-9fdd-4ca133f2bc92.png)

### Repro Steps

* https://qa-testing.mapsqa.arcgis.com/apps/mapviewer/index.html?webmap=bc20b4b7c7724365b09addf472d208d2
* click a layer
* Click Style options

### Relevant Info (e.g. Browser, O

[2020-03-01 06:28] jcfranco commented on #828
@kat10140 ☝️ should be fixed now. 😄

[2020-03-02 04:09] jcfranco commented on #753
Installed.

[2020-03-02 16:44] jcfranco commented on #862
Installed. @kat10140 plz verrrfeeee. 🙇 🎳 :bowtie:

[2020-03-02 18:22] kat10140 commented on #862
Verified!

[2020-03-02 18:22] #862 closed

[2020-03-02 18:27] kat10140 opened #866 "Bug: border width not consistent on action button focus style"
Similar to #862

Actions, collapsed and expanded have inconsistent border on focus:

![930a1000-5999-11ea-921f-7e9f5f52b450](https://user-images.githubusercontent.com/48069902/75705480-4ca20300-5c70-11ea-89f2-f8728afdea27.png)
![Screen Shot 2020-03-02 at 10 26 16 AM](https://user-images.githubusercontent.com/48069902/75705481-4e6bc680-5c70-11ea-9d8e-7cbc4a7c9912.png)

I am able to see this on Chro

[2020-03-02 18:45] kat10140 commented on #753
Verified!

[2020-03-02 18:45] #753 closed

[2020-03-02 19:06] arjavbadjatiya opened #868 "Research: FAB keyboard and screenreader usage"
### Background
The FAB helps mouse users get to the button quickly when they have dozens of layers in the layer list. However, keyboard users don't seem to be benefitting from the change. You still have to tab through all layers in the list before you can focus on the add layer button. It is not clear if there is a quicker way to get them to the FAB.

### Desired Outcome
This needs further explora

[2020-03-03 00:19] kat10140 commented on #828
yay! verf

[2020-03-03 00:19] #828 closed

[2020-03-03 21:58] kevindoshier opened #871 "Enhancement: When using tooltips with an action, browsers title popup shows up"
### Description

When using tooltips bound to an action, we dont want to see the default browser title show up, to do that now I set the "label" property of an action to an empty string but then in some  browsers we still see the browsers title popup appear empty, would be good if there was a way to signal the action to not add a "title" to the element

cc: @driskull

https://github.com/Esri/calci

[2020-03-04 21:18] jenn0003 opened #873 "Enhancement: calcite-pick-list and calcite-value-list with down/up arrow support"
### Description
Currently on dev: String + "is" returns strings with a radio button. User does not see the button until they click on an option.

Once clicked, the radio button appears. If the user clicks the down arrow, the scroll bar moves down. The expectation, and currently on production, is that the down arrow moves the radio selection to the next string.

Currently on dev, the user clicks th

[2020-03-04 21:25] AdelheidF commented on #873
created a separate issue for the scrolling: https://devtopia.esri.com/WebGIS/arcgis-components/issues/650

[2020-03-04 23:10] kat10140 opened #874 "Docs: compact mode on pick and value list"
### Description
we are deprecating this property. going in to remove this from the storybook knobs, as well as note on readme's that this is deprecated and remove any samples that include compact.

### Which Component
calcite pick list
calcite value list

### Resources

[2020-03-10 17:52] kat10140 commented on #874
dis is dun. closing

[2020-03-10 17:52] #874 closed

[2020-03-10 18:45] kat10140 commented on #871
@kevindoshier

[2020-03-11 15:54] kevindoshier commented on #871
Looks good

[2020-03-11 16:24] #871 closed

[2020-03-12 17:33] #492 closed

[2020-03-12 21:49] driskull commented on #859
Hey @jcfranco do you know how to test scroll events with Jest/Puppeteer? I couldn't get it to work.

Tried:

[code]

[2020-03-13 21:35] jcfranco commented on #839
Storybook issue is fixed and will be available on the next version (6.0.0).

[2020-03-17 15:52] jcfranco commented on #839
Installed.

[2020-03-17 15:53] jcfranco commented on #839
Closed via #880.

[2020-03-17 15:53] #839 closed

[2020-03-17 20:15] jcfranco commented on #822
Installed. @kat10140 Could you help me test the listed components? 🙇

[2020-03-18 21:47] #850 closed

[2020-03-18 21:56] asangma opened #882 "Bug: FlowItem single action"
### Summary
Single action shows in the dropdown.

### Actual Behavior
When adding a single calcite-action into the `menu-actions` slot, flow-item behaves like there are multiple actions and adds the `...` icon and puts the action into a dropdown.

### Expected Behavior
When there's only one action, it should appear in the header instead of the `...`

### Reproduction Steps

1. Add a single action

[2020-03-18 23:50] driskull commented on #845
@asangma after thinking about this, I'm not sure its a good idea.

I don't think we want to have a tooltip tied to an action so closely. We want users to be able to place the tooltip and set its content independently of the action.

We will create a utility in the calcite-components to more easily be able to setup tooltip events though.

[2020-03-18 23:50] #845 closed

[2020-03-19 16:42] asangma commented on #882
👀

[2020-03-19 16:59] asangma commented on #849
Block likes to use its container for its width. I think the example in the storybook creates a case that is unlikely in the wild. Setting width on the container shows what would more likely happen in an app.
<img width="811" alt="Screen Shot 2020-03-19 at 9 52 32 AM" src="https://user-images.githubusercontent.com/12503298/77093043-ad973e00-69c7-11ea-8296-28f86594338b.png">

As such I'm reluctant t

[2020-03-19 17:28] jcfranco commented on #849
Agreed 💯%!

In that case, should we just update the story to make it more realistic?

[2020-03-19 18:03] asangma commented on #849
Ya.

[2020-03-19 18:06] asangma commented on #882
Yeah bud!

[2020-03-19 18:06] #882 closed

[2020-03-19 18:10] asangma opened #886 "Enhancement: Simplify typographic hierarchy"
### Description
Use a more reductive approach to our typography. Rely less on sizes and weights.

### Acceptance Criteria
Better typography.

### Relevant Info
Map Viewer Beta UI is starting to look pretty chunky.

#### Which Component
All.

#### Example Use Case
Map Viewer Beta

Note: would be good to test this out fully in a fully fledged app.

[2020-03-19 19:53] asangma commented on #886
Preliminary look
![calcite-app-components-TYPOGRAPHY-UPDATE](https://user-images.githubusercontent.com/12503298/77109123-9fa1e700-69e0-11ea-81e5-a899456b6217.jpg)

[2020-03-19 19:56] asangma commented on #886
Facsimile in an app
![calcite-app-components-TYPOGRAPHY-UPDATE-MVB](https://user-images.githubusercontent.com/12503298/77109379-07f0c880-69e1-11ea-8e84-f3d697e87f24.jpg)

[2020-03-20 00:33] driskull commented on #873
@jcfranco is taking this.

[2020-03-24 16:08] asangma opened #889 "Enhancement: Refactor value-list and value-list-item to use sortable-list"
### Description
Might be nice if value-list could utilize calcite-sortable-list and calcite-handle.

### Acceptance Criteria
Consistent api and UI.

### Relevant Info

#### Which Component

- value-list
- value-list-item

#### Example Use Case

[2020-03-24 16:22] asangma commented on #889
@jcfranco Do you think we could also add a `disableSelect` property? (I know the name is all verb-y but we currently have `disableDeselect`.

We have cases where a value-list is mostly for displaying what items have been chosen and for allowing dnd reordering. And showing a selected state is non-relevant.

[2020-03-25 21:26] asangma opened #894 "Enhancement: Block - add a menu-actions slot like FlowItem"
### Description
Wiring up the same UX in Block is hard and often sees devs using calcite-dropdown and looks like this.
<img width="322" alt="Screen Shot 2020-03-25 at 2 22 01 PM" src="https://user-images.githubusercontent.com/12503298/77587035-6536bf00-6ea4-11ea-9e06-5ea101c7e07e.png">

Would be nice if Block could do what FlowItem does using the same pattern.
<img width="286" alt="Screen Shot 202

[2020-03-27 22:14] jcfranco opened #896 "Enhancement: [Block] Drop open/close icon"
### Description

The open/close icon is no longer needed in the updated block design.

### Acceptance Criteria

No more caret! 🥕

### Relevant Info

N/A

#### Which Component

Block

#### Example Use Case

N/A

cc @asangma

[2020-03-27 23:46] jcfranco commented on #873
Installed. @jenn0003 @AdelheidF Could you help verify this when released?

[2020-03-28 01:26] jcfranco commented on #896
Installed.

[2020-03-28 01:31] jcfranco commented on #849
Installed.

[2020-03-31 01:35] jenn0003 commented on #873
@jcfranco sure thing.  To clarify, we'll test the up and down arrow on the filter after the release?

[2020-03-31 15:51] jcfranco commented on #873
Yes to the testing part. Not sure if this is targeted for beta 5 or after.

[2020-03-31 15:56] jcfranco commented on #849
@kat10140 Can you help verify this one?

[2020-03-31 20:47] kat10140 commented on #896
verified!

[2020-03-31 20:47] #896 closed

[2020-03-31 20:52] kat10140 commented on #849
verified!

[2020-03-31 20:52] #849 closed

[2020-03-31 21:08] kat10140 commented on #818
looks good. any reason we don't have intlPlaceholder for filter? closing

[2020-03-31 21:08] #818 closed

[2020-03-31 21:31] driskull commented on #818
Because we don't supply a default value for it.

[2020-04-01 17:34] jcfranco opened #902 "Bug: flow-item & pick-list/value-list icons are not rendering"
### Summary

The latest release of [`calcite-components`](https://github.com/Esri/calcite-components/blob/master/CHANGELOG.md#v100-beta21---mar-31st-2020) dropped `calcite-icon`'s `filled` attribute and prevents rendering of the icon.

### Actual Behavior

`flow-item`'s back button & `pick-list-item`'s checked status icons are not rendering.

### Expected Behavior

!:point_up:

### Reproduction St

[2020-04-01 18:06] jcfranco commented on #902
Installed.

[2020-04-02 16:54] asangma commented on #866
@kat10140 I'm unable to reproduce.

[2020-04-02 16:54] jcfranco opened #909 "Tooling: Fix release workflow (versioning)"
## Summary

Currently, running `npm version <type>` ends in an error caused by linting on comit.

[code]

## Measure of Success

The above step ends successfully.

### Resources

N/A

[2020-04-02 17:36] asangma commented on #866
Oh...windows eh?

[2020-04-02 18:08] driskull opened #910 "Enhancement: Add tooltip knob to stories for action-bar & action-pad"
### Description

Add a storybook knob that accepts a dom node for the `tooltipExpand` property on the `calcite-action-bar` and `calcite-action-pad`.

https://github.com/Esri/calcite-app-components/pull/904/#pullrequestreview-386584312

#### Which Component

`calcite-action-bar` and `calcite-action-pad`.

[2020-04-03 02:53] jcfranco commented on #909
I can no longer reproduce this issue. 🤷‍♂

If this happens again, the `lint-staged` config override from 879c45a can be used to proceed with a release.

[2020-04-03 02:53] #909 closed

[2020-04-03 17:15] asangma commented on #886
Moving this to LSP for Beta 6.

![lsp](https://media.giphy.com/media/8tDnmyXB7YqEU/source.gif)

[2020-04-06 17:35] AdelheidF opened #919 "Bug: calcite-pick-list issues after upgrade"
### Summary
Still happening in 5.7.0 and beta.22. I think it started with 5.6.0.

The very first time in my browser session when I open the pick-list with check boxes all works fine. Any time after that I don't see check boxes.

First time:
<img src=https://user-images.githubusercontent.com/44481292/78587052-45cb5a80-77f1-11ea-96b0-5f035d7891d7.png width=200/>

After that:
<img src=https://user-im

[2020-04-07 07:14] jcfranco commented on #919
This bug is a regression caused by Stencil's new compiler, which the default since v1.11.0 (calcite-app-components picked it up in 5.6.0). FWIW, I think this has been an issue since 1.9.0, but went unnoticed because we weren't testing with the latest compiler flag. I think I've narrowed it down to the next compiler affecting the component lifecycle slightly and some assumptions made by the `Mutati

[2020-04-07 15:41] asangma commented on #111
Update. calcite-components is working on a mixin that we can use for this.

[2020-04-07 16:54] AdelheidF commented on #919
Yes, this solves the issue with the missing icons. But pick-list with multiple=false seems to have no effect. I still can select multiple items.

[2020-04-07 18:26] jcfranco commented on #919
@AdelheidF Thanks for testing. Luckily, I've installed a fix for this that addresses the underlying issue.

[2020-04-07 19:11] AdelheidF commented on #919
With newly released 5.7.1 calcite-app-components (tested locally) the issue with the pick-list are fixed, but now drag-n-drop doesn't work anymore in value-list. That worked with 5.7.0.

[2020-04-07 20:57] AdelheidF commented on #919
5.7.2 DND works again

[2020-04-07 21:49] AdelheidF commented on #919
verified all locally

[2020-04-07 21:49] #919 closed

[2020-04-07 22:37] jcfranco commented on #919
@AdelheidF Thanks! 🎉

[2020-04-09 15:52] jcfranco commented on #873
@jenn0003 This is on devext now. Would you mind testing it out? Thanks!

[2020-04-09 21:17] jcfranco opened #923 "Tooling: Add @stencil/eslint-plugin to linting"
## Summary

https://github.com/ionic-team/stencil-eslint/ would be a great addition to our linting process.

Thanks @dhrumil83 for catching this!

## Measure of Success

Code is linted using the Stencil plugin.

### Resources

https://www.npmjs.com/package/@stencil/eslint-plugin

[2020-04-10 01:08] jenn0003 commented on #873
The up/down arrow option for filtering works well on dev. Looks great!

[2020-04-10 01:15] jcfranco commented on #873
Awesome, thanks for verifying @jenn0003!

[2020-04-10 01:15] #873 closed

[2020-04-10 22:36] bsvensson opened #924 "Docs: document supported browsers"
### Description

I couldn't find any info about supported browsers. It would be nice to have that clearly documented like https://github.com/Esri/calcite-components/#browser-support

### Which Component

README.md

[2020-04-14 00:48] driskull commented on #498
@jcfranco do we have a stencil support issue for this? It might be good to check with them and see how we should proceed with this one.

[2020-04-14 19:35] bsvensson commented on #924
Thanks @driskull

https://github.com/Esri/calcite-app-components#browser-support looks good, but what about IE11? If it doesn't support it, should it say so?  The current write-up leaves me wondering... :)

[2020-04-14 19:56] driskull commented on #924
@bsvensson should list every browser or just go with if its not on the list then its not supported?

I think its ok that if its not on the list then its not supported. Do we really need to list Opera, opera mini? etc.

[2020-04-14 20:45] jcfranco opened #930 "Tooling: [Storybook] `createComponentHTML` not picking up fallback value"
## Summary

[`createComponentHTML`](https://github.com/Esri/calcite-app-components/blob/370a40beaaa3cdacafdb6093b30b12cc9943fd3a/.storybook/utils.ts#L63-L66) seems to require `contentHTML`. Otherwise, it displays `undefined` in the rendered template.

cc @driskull

## Measure of Success

`contentHTML` prop is optional and will display empty string instead of `undefined`

### Resources

N/A

[2020-04-14 21:34] bsvensson commented on #924
Fine with me :)

Closing.

[2020-04-14 21:34] #924 closed

[2020-04-21 16:41] kevindoshier opened #935 "Enhancement: calcite-shell - add slot for resizeable area in the middle bottom"
### Description
For the new table addition to the mapviewer we would like an slot added to the calcite-shell component that positions itself at the middle bottom, and is resizeable, you can see a design for this is in slide 4 of this powerpoint here

![image](https://user-images.githubusercontent.com/11093161/79890436-56183380-83b4-11ea-95c5-ce2fc2754e48.png)

There should be a place for a title,

[2020-04-21 16:49] jcfranco opened #936 "Tooling: previewChangelog enhancements"
## Summary

The `previewChangelog` NPM script requires all tags to be fetched for it to generate the changelog accordingly.

cc @kat10140

## Measure of Success

1. Tags are fetched automatically before generation.
2. Only the most recent changes should be output to minimize noise.

### Resources

[2020-04-21 19:24] driskull commented on #935
@asangma @kevindoshier some questions:

- Is it always resizable or would that need to be an option?
- The `...`  is built into the FeatureTable right? Same with the title?
- What would be the name of this slot? `shell-bottom`?

Sounds like we just need a slot that is resizable when populated.

[2020-04-21 19:27] kevindoshier commented on #935
@driskull - yeah that would be nice I think if its configurable to be resizeable or not, maybe also have preset sizes?  Not sure on that but like a s, m l?

For the title, I missed that part, we would want the title, and action slot just like the flow has, so we could add actions to the "..." menu, and a title.

[2020-04-21 19:47] AdelheidF opened #937 "Enhancement: list with check and sorting"
### Description

For the table in map viewer Beta. A way to sort and hide/show fields in one list. Maybe we could just enhance calcite-pick-list.

![image](https://user-images.githubusercontent.com/44481292/79907274-2fff8d00-83ce-11ea-89e7-ba6257ae6ef7.png)

### Acceptance Criteria

### Relevant Info

#### Which Component

#### Example Use Case

[2020-04-22 00:07] #822 closed

[2020-04-22 18:16] asangma opened #938 "Tooling: Consider nightly builds"
## Summary
It's cool.
## Measure of Success
Successfulness
### Resources
Franco is the resource.

[2020-04-22 21:43] driskull commented on #935
@asangma can you help create a design for this? I'm not sure what parts are the FeatureTable and what needs to be a bottom-panel.

[2020-04-22 23:36] ekim2 commented on #935
After talking with the Charts team, they also want to use this slot for charts. Possibilities include:

- more than one chart displayed (Could it be a matrix, say 2x2 of charts?)
- a chart and a table
- Would we be able to have more than one of these slots? Say a table in one slot, then a set of charts displayed in a slot above.

[2020-04-22 23:40] driskull commented on #935
I think we'll allow a slot for putting stuff in the bottom of the shell and it will be up to the app to toggle what is currently shown there.

I'm not sure if we should build in the resizing or if we would add a `shell-panel-bottom` or something to handle the actions and resizing functionality.

@jcfranco @asangma we'll need to discuss in our next meeting or during a MapMaker meeting.

[2020-04-22 23:45] driskull commented on #935
We can deprecate the `tip-manager` slot and just go with a slot for putting things in the bottom.

We might just be able to build `resizing` into the `calcite-panel` and then that could be used to handle the resizing part as well as the title and actions.

[2020-04-23 04:34] jcfranco commented on #923
Closed via #932

[2020-04-23 04:34] #923 closed

[2020-04-23 15:43] jcfranco commented on #930
This was actually installed in KOO. @driskull Can you verify?

[2020-04-23 16:10] #930 closed

[2020-04-23 23:10] kat10140 commented on #172
dis done

[2020-04-23 23:10] #172 closed

[2020-04-23 23:22] asangma opened #940 "Enhancement: Storybook and demo fix for picklist and valuelist"
### Description
In PickList and ValueList demos, the circle icon is often mistaken for a radio button.

### Acceptance Criteria
Kill the radio star.

### Relevant Info

#### Which Component
Pick and Value List demos.

[2020-04-23 23:26] asangma commented on #940
![Screen Shot 2020-04-23 at 4 23 22 PM](https://user-images.githubusercontent.com/12503298/80159197-3c771780-857f-11ea-9f65-dd7cf45e3fca.png)

[2020-04-23 23:28] asangma commented on #940
![Screen Shot 2020-04-23 at 4 27 47 PM](https://user-images.githubusercontent.com/12503298/80159296-7b0cd200-857f-11ea-98f4-3d612b888a08.png)
![Screen Shot 2020-04-23 at 4 28 07 PM](https://user-images.githubusercontent.com/12503298/80159304-7ea05900-857f-11ea-9f04-b80d26380bbc.png)

[2020-04-23 23:34] kat10140 opened #941 "Bug: loading state on block header all funky"
### Summary
loading state is all off the the side now:
<img width="246" alt="Screen Shot 2020-04-23 at 4 30 20 PM" src="https://user-images.githubusercontent.com/48069902/80159501-fe2e2800-857f-11ea-858d-3ebcdc9e8135.png">

### Actual Behavior
off center

### Expected Behavior
center

This may have been an effect of the refactor to use grid

[2020-04-23 23:44] asangma commented on #940
But maybe not banana.

[2020-04-24 21:50] subgan82 commented on #935
Charts also will leverage this slot to show one or more charts

[2020-04-24 22:49] kat10140 commented on #886
This looks good on my local demos and storybook!

[2020-04-24 22:49] #886 closed

[2020-04-27 22:10] asangma opened #945 "Enhancement: Implement focus mixin to match calcite-components"
### Description
calcite-components has standardized :focus styles and animations. Update relevant styles to match.

### Acceptance Criteria
Aligned styles.

### Relevant Info

#### Which Component
Probably all.

#### Example Use Case

[2020-04-28 17:18] driskull commented on #935
For now, we will add a slot to handle this. We will setup a discussion for how data tables should work in the new map viewer and come up with a design.

[2020-04-28 21:50] asangma commented on #945
I believe the PR handled #866 as well.

[2020-04-28 23:10] kat10140 commented on #945
![Screen Shot 2020-04-28 at 4 08 50 PM](https://user-images.githubusercontent.com/48069902/80546547-c69df200-896a-11ea-9ba1-1759eefadf52.png)
Tip manager is the only one that looks kinda weird
@asangma

[2020-04-28 23:16] kat10140 commented on #940
lewks gewd

[2020-04-28 23:16] #940 closed

[2020-04-28 23:27] kat10140 commented on #866
this is fixed in alan's pr for fixing focus mixin. closing

[2020-04-28 23:27] #866 closed

[2020-04-28 23:28] kat10140 commented on #902
verified!

[2020-04-28 23:28] #902 closed

[2020-04-29 13:58] asangma commented on #940
Thanks @kat10140 !

[2020-04-29 13:58] asangma commented on #866
Yeyer! @kat10140

[2020-04-29 14:45] subgan82 opened #949 "Bug: Trailing letter gets wrapped when using calcite-value-list in safari browser"
### Summary

This looks like  a styling issue coming from `calcite-value-list-item`.

https://github.com/Esri/calcite-app-components/blob/master/src/components/calcite-pick-list-item/calcite-pick-list-item.scss#L54

https://github.com/Esri/calcite-app-components/blob/master/src/scss/mixins/_utilities.scss#L21

**Code**
![1](https://user-images.githubusercontent.com/1017712/80609606-ea5e4800-89fd-1

[2020-05-01 21:43] asangma commented on #945
Cool. I'll have a look.

[2020-05-01 21:46] asangma opened #952 "Enhancement: FAB sticky in panel container with h-scroll"
### Description
When using the `fab` slot in Panel and there is horizontally scrolling content, the fab gets scrolled away.

We'll probs see this in the new CalciteShellCenterRow component.

BAD
![fab-issue](https://user-images.githubusercontent.com/12503298/80844000-803ed200-8bba-11ea-86dd-457acbc46bc4.gif)

GOOD
![fab-good](https://user-images.githubusercontent.com/12503298/80844015-892fa380-8bb

[2020-05-01 23:14] asangma commented on #952
@kat10140 Pease see the `shell/demo-app-advanced-center-row.html` demo to test this.

[2020-05-05 14:58] asangma opened #955 "Enhancement: shell-center-row. Move bg-color and border styles from .content to :host"
### Description
A couple styles are in this components shadow DOM.
I think it'd be good to move those styles to the `host` so that app devs can have little more control over ShellCenterRow in case they want to something like this:
![image](https://user-images.githubusercontent.com/12503298/81080793-03577500-8ea6-11ea-815d-eccaf67c7736.png)

I'm open to discussing whether this is a good pattern or

[2020-05-05 15:02] asangma opened #956 "Enhancement: shell-center-row. Attempt to use max-height"
### Description
Currently CalciteShellCenterRow defines a height in percentage based on its `heightScale` property. This allows panels and flow-items to retain proper scrolling behavior.

It would be good for this component to use max-height in the same way that detached panels do.

### Acceptance Criteria
Make height more responsive to less content, e.g. if `heightScale` is set to `l` but the con

[2020-05-05 15:13] asangma commented on #955
Mind you...I'm not stoked on that xp 👆🏽but I think it'd be good to be able to reset the bg-color and border if need be.

[2020-05-05 16:27] driskull commented on #955
@asangma can't we just flexbox the slotted `calcite-shell-center-row` components so that they take up the space available?

[2020-05-05 17:11] asangma commented on #956
After further exploration, doing this could cause a *perceived* bug.
If the component is `heightScale="s"` and the content is shorter than a `max-height` and the app has a toggle to make `heightScale="m"`, the component will appear to not change when that toggle is hit, and it would likely be perceived as a bug.

Moving to Backlog in case this comes up again.

[2020-05-05 17:20] asangma commented on #955
We could. I think if someone wants add columns inside the row component, they can style a div to do that and put it into the default slot.

I am thinking though that maybe we set the bg-color to transparent as you suggested in a related conversation. We could also want to nix the border on center-row. Would need to nix the border from shell-panel to match.

[2020-05-05 17:40] driskull commented on #955
I'm ok with that. As long as we're consistent

[2020-05-05 18:01] asangma commented on #955
Cool.

[2020-05-06 03:38] AdelheidF opened #957 "Bug: calcite-block-section - CSS issue with RTL"
### Summary
When in RTL mode there is padding on the left of the toggle button that is not there in LTR. This means my toggle buttons don't align nicely.

LTR:
<img src=https://user-images.githubusercontent.com/44481292/81136290-02f3c400-8f10-11ea-978b-7bf46629d8c3.png width=250/>

RTL:
<img src=https://user-images.githubusercontent.com/44481292/81136321-16069400-8f10-11ea-9d7b-cee06af6a2c2.png wi

[2020-05-06 15:31] asangma opened #958 "Enhancement: FlowItem should give access to Panel's header-leading-content slot"
### Description
Right now, in **FlowItem**, we are taking over **Panel’s** 'header-leading-content' slot with the back button when there are more than 1 FlowItem’s in a Flow.

What do y’all think about retaining access to **Panel**’s `header-leading-content` slot available in **FlowItem**? We’d add the back-button as it’s own thing (i.e. not using a slot) or just “overload” the `header-leading-con

[2020-05-06 16:35] driskull commented on #958
I would say just use the center slot `header-content`

[2020-05-06 19:01] AdelheidF opened #959 "Bug: calcite-pick-list: two issues with RTL"
### Summary
2 issues
1.) open menu not fully visible in RTL
2.) search magnifying icon on wrong side in RTL

LTR:
<img src=https://user-images.githubusercontent.com/44481292/81216645-1b0b2800-8f90-11ea-8520-8fd535de3069.png width=200/>

RTL:
<img src=https://user-images.githubusercontent.com/44481292/81216692-2c543480-8f90-11ea-9312-43820cd1ac20.png width=200/>

[code]
### Actual Behavior

### Exp

[2020-05-06 22:02] asangma commented on #958
Can they do that in FlowItem?

[2020-05-06 22:16] driskull commented on #958
Not currently, we only allow a string for that right now. We could add another slot.

[2020-05-06 22:27] asangma commented on #959
@AdelheidF Looks like it's a calcite-components issue. I posted an issue there.

[2020-05-06 22:28] asangma commented on #959
Correction, the DropDown issue appears to be calcite-app-components. I'll look at the search icon.

[2020-05-06 22:49] asangma commented on #959
@jcfranco It looks for the search icon in calcite-filter, the styles are there to place it correctly in RTL but calcite-filter isn't checking for RTL. ¯\_(ツ)_/¯

[2020-05-06 22:51] asangma commented on #958
I'll add a bullet to our sync.

[2020-05-06 22:57] asangma commented on #957
👀

[2020-05-07 16:17] jcfranco commented on #936
Added new script to preview the changelog since last release (`previewChangelog:latest`)!

[2020-05-07 17:52] asangma commented on #959
Assigning back to me.

[2020-05-07 19:49] asangma opened #965 "Enhancement: Add nesting example to pick-list story"
### Description
PickList allows for nesting. It uses `pick-list-group` and requires a `pick-list-item` inside that group to be in the `parent-item` slot. This might not be intuitive, so a story would halp.

### Acceptance Criteria

### Relevant Info

#### Which Component
pick-list, pick-list-group

#### Example Use Case

[2020-05-07 20:10] kat10140 commented on #936
@jcfranco This is erroring out for me on master :/ i have pulled and `npm i`....
saying git touch isn't a command

[2020-05-07 20:19] kat10140 commented on #941
<img width="234" alt="Screen Shot 2020-05-07 at 1 18 55 PM" src="https://user-images.githubusercontent.com/48069902/81340827-5af00f00-9065-11ea-8f1d-e833b72beb1e.png">
 is this. meant to be on the side? @asangma

[2020-05-07 20:20] jcfranco commented on #936
Whoops! That's from a plugin I have installed. Assigning back to me. Sorry about that. 😅

[2020-05-07 20:31] kat10140 commented on #952
yay! vurf

[2020-05-07 20:31] #952 closed

[2020-05-08 00:12] asangma opened #967 "Enhancement: ActionPad. Add horizontal orientation"
### Description
Add a property that will allow users to set the orientation of the ActionPad to horizontal.

### Acceptance Criteria
![image](https://user-images.githubusercontent.com/12503298/81356310-bf22cb00-9085-11ea-93c9-850985db2584.png)
![image](https://user-images.githubusercontent.com/12503298/81356316-c34ee880-9085-11ea-9686-96f4f2022201.png)

### Relevant Info
| vs –

#### Which Compone

[2020-05-08 00:18] driskull commented on #967
Would this ever make it to the `action-bar`?

[2020-05-08 15:24] asangma commented on #955
Verfee please.

[2020-05-08 17:16] driskull commented on #967
@asangma @jcfranco can you help name this property?

We could go with:

- `layout` of `horizontal/vertical` but we already have a deprecated layout property so this would be a breaking change.
- `orientation` of `portrait/landscape` or `horizontal/vertical`?
- `direction` of `row/column` or `horizontal/vertical`. May sound too similar to `dir` attribute?

My vote would be toward `layout` or `direc

[2020-05-08 18:36] asangma commented on #959
@kat10140 VERFS!

[2020-05-08 18:38] asangma commented on #941
Ya.

[2020-05-08 18:39] kat10140 commented on #941
okee verfee

[2020-05-08 18:39] #941 closed

[2020-05-08 18:50] jcfranco commented on #967
I like `layout` and it's also the consistent option.

[2020-05-08 18:57] driskull commented on #967
Ok cool. We can talk about it at the next meeting. I could remove all deprecated things and we would be at V 6.0

[2020-05-08 20:43] kat10140 commented on #955
ferf!!

[2020-05-08 20:43] #955 closed

[2020-05-08 20:49] kat10140 commented on #959
ferfs!!!

[2020-05-08 20:50] #959 closed

[2020-05-08 20:54] kat10140 commented on #945
yew!

[2020-05-08 20:54] #945 closed

[2020-05-08 21:03] kat10140 commented on #726
im closing this. kumar please reach out if this is still an issue

[2020-05-08 21:03] #726 closed

[2020-05-08 22:24] jcfranco commented on #936
Installed. @kat10140 Can you test again?

[2020-05-08 22:30] driskull commented on #967
Decision was to use `layout` and remove all deprecations and do a major release.

[2020-05-09 00:19] kat10140 commented on #936
yay lookin good!! verf.

[2020-05-09 00:19] #936 closed

[2020-05-11 19:58] jcfranco opened #973 "Research: Use storyshots to automate a11y testing"
### Background

https://github.com/Esri/calcite-app-components/pull/963 enabled a tab to show a11y results that can be used to surface issues across use cases and different knob combinations. This relies on manually testing at the moment, but maybe https://github.com/storybookjs/storybook/tree/master/addons/storyshots/storyshots-puppeteer#axetest could be used to do automated a11y testing.

### De

[2020-05-12 15:37] asangma commented on #958
@kat10140 Easiest way to test this one is to inspect "Item Three" and "Item Two" in `demos/flow/basic.html`.
![image](https://user-images.githubusercontent.com/12503298/81714286-c4886880-942b-11ea-9544-5750422e7e20.png)
Bill helps.

[2020-05-12 16:04] jcfranco commented on #910
@kat10140 Can you help verify once the doc updates (next release)? 🙇‍♂️

[2020-05-12 16:30] kat10140 commented on #910
yap! 😀

[2020-05-12 16:53] kat10140 commented on #958
Looks like the back button (calcite-action) is using that slot, if that's what i'm looking for?

[2020-05-12 21:28] asangma opened #978 "Enhancement : PickList & PickListItem. Add "appearance" prop with "clear" as available option."
### Description
Update PickList and PickListItem to have a transparent bg-color.
<img width="240" alt="Screen Shot 2020-05-12 at 2 24 28 PM" src="https://user-images.githubusercontent.com/12503298/81747146-70e24300-945c-11ea-9d42-2bb6748fa116.png">

#### User Stories
User wants to create a PickList that is visually distinct from other PickLists such as for a list of options that will trigger a dri

[2020-05-12 21:50] asangma commented on #978
@driskull @jcfranco @kat10140 Could use some discussion on how this thing would work. Like would it wrap PickList and PickListItem like ValueList does?

And does it and Flow need to know anything about each other?

[2020-05-12 23:23] driskull commented on #978
@asangma why does this need to be a new component?

Couldn't the pick-list just handle this without needing to integrate with a flow-item? It can just control a flow item when clicked, right?

[2020-05-13 16:02] jcfranco commented on #802
Related `calcite-components` issue: https://github.com/Esri/calcite-components/issues/577

[2020-05-14 15:45] asangma commented on #978
@driskull yeah...def would like to meet to discuss.

[2020-05-14 16:25] driskull commented on #978
![deal](https://media.giphy.com/media/Xoc3XpBrElaYo/giphy.gif)

[2020-05-14 21:35] asangma commented on #616
I think this is no longer a thing. Gonna close. We can reopen or create a new one if this comes back up.

[2020-05-14 21:35] #616 closed

[2020-05-14 21:36] asangma commented on #111
No longer need this as we have broadly implemented custom focus states. See #945

[2020-05-14 21:36] #111 closed

[2020-05-14 21:38] driskull opened #980 "Enhancement: Modify value-list to support layer-list design"
### Description

- support layer-list design

https://codepen.io/mtb-alan/pen/PoqQOBJ

### Acceptance Criteria

- Slot for leading actions (drag handle & tree action)
- Slot for trailing actions (visibility and menu icon)
- Modify styles to handle selected state with left border

### Relevant Info

#### Which Component

- calcite-value-list
- calcite-value-list-item

#### Example Use Case

Compone

[2020-05-14 22:39] AdelheidF opened #981 "Bug: calcite-action - label property seems to have no purpose"
### Summary
calcite-action - label property seems to have no purpose.

<img src=https://user-images.githubusercontent.com/44481292/81992266-f1897680-95f7-11ea-852c-bdb9cbaf8303.png width=350/>

It doesn't appear on hover and it's not populated automatically from text. It's not creating an arial-label either.

(1)
<img src=https://user-images.githubusercontent.com/44481292/81992463-56dd6780-95f8-11

[2020-05-14 22:46] driskull commented on #981
@AdelheidF it creates the `aria-label` in the shadow dom on the button.

[2020-05-14 22:47] driskull commented on #981
@kat10140 can we just update the doc for label to not say on hover?

[2020-05-14 23:01] kat10140 commented on #958
VURF!

[2020-05-14 23:01] #958 closed

[2020-05-14 23:02] kat10140 commented on #957
verf!

[2020-05-14 23:02] #957 closed

[2020-05-14 23:02] kat10140 commented on #981
for sure @driskull

[2020-05-14 23:36] asangma commented on #978
Updated first comment.

[2020-05-18 17:57] driskull commented on #980
notable changes:

## calcite-value-list

- We would probably need to deprecate `dragEnabled` in favor of `dragEnabled` on each individual list-item so that some can be dragged and others not. Thoughts? @asangma

## calcite-value-list-item

- We would probably want to add a `loading` prop to this so that it can be easily toggled. Thoughts? @asangma
- If we want to automatically include the tree ico

[2020-05-18 18:03] driskull commented on #980
@asangma would it be possible to use the `calite-dropdown` for the places we have the `[...]` button? Is there a transparent version of it?

[2020-05-18 23:43] asangma commented on #978
@driskull We should discuss how a user would turn off the icon. Also, I'm starting to think about a wrapper thing again.

[2020-05-19 16:11] asangma commented on #937
@AdelheidF Is the sorting for ordering the field columns in the FeatureTable? I believe Jon said this could be done directly in the table, i.e. without needing to use a separate UI.

[2020-05-19 16:15] asangma commented on #956
Rather than keep it in the backlog, I'm gonna close this one.

[2020-05-19 16:15] #956 closed

[2020-05-19 16:20] AdelheidF commented on #937
Yes

[2020-05-19 16:20] #937 closed

[2020-05-19 16:21] jcfranco commented on #498
Installed. @driskull Can you help verify?

[2020-05-19 16:22] asangma commented on #216
@kat10140 Assigning to you to try and reproduce.

[2020-05-19 17:00] asangma commented on #130
@driskull @jcfranco @kat10140
What're your thoughts on a helper or utility that would make it easy for users to set shell-panels to auto collapse or be mutually exclusive?

This would be aimed at tablet sized responsiveness.

I think for phone sized, should we consider a way to make it easier for users to identify elements to render or not render based on viewport sizes?