[2019-05-28 18:25] driskull opened #1 "Setup Stencil doc generation"
Setup Stencil doc generation

[2019-05-28 18:25] driskull opened #2 "Positioning interface + for FloatingPanel & ActionPad"
Positioning interface + for FloatingPanel & ActionPad

![image](https://user-images.githubusercontent.com/1231455/58502417-53c53f00-813b-11e9-8d2e-2a693fb01853.png)

[2019-05-28 18:27] driskull opened #3 "New Component: calcite-shell and calcite-shell-panel"
**Related Issue:** calcite-shell component #3 and #2

# Summary

Add CalciteShell and CalciteShellPanel- New Components

This is the shell or frame of the application which can house panels, content, header, footer and a floating panel.

![image](https://user-images.githubusercontent.com/1231455/58502489-76efee80-813b-11e9-9b9e-e2b0c1b78ced.png)

Please see [this slidedeck](https://slides.com/asan

[2019-05-28 20:28] driskull opened #4 "Action & ActionBar - Stencil.js"
This is installed and ready for styling

# calcite-action

## Properties

| Property      | Attribute      | Description | Type      | Default |
| ------------- | -------------- | ----------- | --------- | ------- |
| `active`      | `active`       |             | `boolean` | `false` |
| `indicator`   | `indicator`    |             | `boolean` | `false` |
| `label`       | `label`        |

[2019-05-28 20:29] driskull opened #5 "ActionPad - Stencil.js"
This is installed and ready for styling.

Need information on positioning https://github.com/ArcGIS/calcite-app-components/issues/2

[2019-05-28 20:29] driskull opened #6 "New Component: calcite-flow and calcite-flow-item"
API Design

[code]

# calcite-flow

## Methods

### `back() => Promise<any>`

#### Returns

Type: `Promise<any>`

# calcite-flow-panel

## Properties

| Property         | Attribute          | Description | Type      | Default                                                                          |
| ---------------- | ------------------ | ----------- | --------- | ------------------------------

[2019-05-28 20:29] driskull opened #7 "Tip Component - Stencil.js"
### Description
A dismissible window that displays information for an end-user.

### User Stories
#### Jake
Jake is a developer who uses Calcite-components to build apps.
1. As a developer using the Calcite-tip component, I'd like the ability to control when a tip is hidden or shown programatically so I can utilize my own business logic to determine when a tip is appropriate to show or hide.
1. As

[2019-05-28 20:32] driskull opened #8 "Block - Stencil.js"

[2019-05-28 20:34] driskull opened #9 "Component: PickList and PickListItem components"
A Picker component that allows for the following:

- Multiple selection
- Drag and drop reordering
- A separate "Filter" input component to allow filtering the list

Derived from: https://devtopia.esri.com/WebGIS/ui-components-js/issues/6

#### User Stories
User wants to use this multiple select item and receive all that items as an event call back.

### Acceptance Criteria <small>(a.k.a. Requirem

[2019-05-28 20:37] driskull opened #10 "Localization support (linguijs)"
https://devtopia.esri.com/WebGIS/ui-components-js/issues/47

https://github.com/lingui/js-lingui/tree/master/examples
https://lingui.js.org/index.html also has more details on this in the Guides.

[2019-05-28 20:38] driskull opened #11 "Port wiki"
https://devtopia.esri.com/WebGIS/ui-components-js/wiki

[2019-06-06 16:37] kumarGayu opened #12 "Multi Select Menu for Charts"
![Screen Shot 2019-05-28 at 12 41 49 PM](https://user-images.githubusercontent.com/9862218/59050066-4ba58780-883e-11e9-8b26-7cd3777ec8c9.png)
![Screen Shot 2019-05-28 at 12 41 23 PM](https://user-images.githubusercontent.com/9862218/59050068-4ba58780-883e-11e9-9473-443d1da58c07.png)

@asangma for now let this stay in app components if there is a need we can port this to calcite-components. Please

[2019-06-06 19:46] jcfranco opened #13 "Set up prettier"
## For consistency!

![tenor](https://user-images.githubusercontent.com/197440/59061766-15c1cc80-8859-11e9-822a-3c743a1e23fd.gif)

[2019-06-06 20:08] driskull opened #14 "Setup autoprefixer"
Setup autoprefixer

[2019-06-06 20:20] driskull opened #16 "Setup TypeScript and TSLint in package"
Setup TypeScript and TSLint in package

[2019-06-06 21:40] driskull opened #17 "Github: Setup issue templates"
Github: Setup issue templates

[2019-06-06 21:41] driskull opened #18 "Github: Setup labels"
What labels would be helpful for us? Should we have the same as the API?

[2019-06-06 21:44] driskull opened #19 "Decide release schedule + milestones"
Decide release schedule + milestones

[2019-06-06 23:54] jcfranco opened #23 "Clean up stencil.config.ts typing"
#14 uses `any` to work around an incompatible typing from the postcss plugin. This can be removed once https://github.com/ionic-team/stencil-postcss/pull/16 lands.

[2019-06-07 17:54] driskull opened #25 "Tooling: Setup gh pages with docs and examples"
## Summary

Setup gh pages with docs and examples

## Measure of Success

**Pain point:**

Users cannot see the docs from the web nor see examples

**Desired outcome:**

Users can view examples and see docs

[2019-06-07 17:59] #1 closed, assigned to driskull

[2019-06-07 17:59] #14 closed, assigned to driskull

[2019-06-07 18:00] #13 closed, assigned to driskull

[2019-06-07 19:12] jcfranco opened #26 "Define component theming pattern"
From https://github.com/ArcGIS/calcite-app-components/wiki/2019-Weekly-Meeting#2019-06-07

cc @driskull @pr3tori4n

[2019-06-07 20:59] #18 closed, assigned to jcfranco, pr3tori4n

[2019-06-10 22:22] #16 closed, assigned to driskull

[2019-06-11 20:32] driskull opened #29 "Tooling: setup proper dependency on `calcite-components`"
## Summary

Currently, the cacite-components NPM dependency doesn't have any fies in it when you do an NPM install.

## Measure of Success
**Pain point:** There are no files in dependency
**Desired outcome:** `/node_modules/calcite-components/` has files in it we can use.

[2019-06-11 23:02] driskull opened #31 "Tooling: Add Component example"
## Summary

 Create example Component

## Measure of Success
**Pain point:** We should have an example class we can use for creating a new components. we can define how the class is organized and how the parts are grouped with comments.
**Desired outcome:** A clean simple example gist or file we can use.

...

[2019-06-13 21:01] pr3tori4n opened #34 "New Component: Tip Manager"
### Description
A container for tips that allows you to scroll through one tip at a time, similar to a carousel.

### User Stories
#### Jake
Jake is a developer who uses Calcite-components to build apps.
1. As an app developer, I want a tip bucket where I can add general purpose tips that don't fit elsewhere in the app.

#### Tom
Tom is an end user who is using an App that Jake built.
1. As an end

[2019-06-13 22:22] #11 closed, assigned to asangma

[2019-06-13 22:23] #29 closed, assigned to nobody

[2019-06-13 22:26] #17 closed, assigned to pr3tori4n

[2019-06-14 16:36] kumarGayu opened #35 "New Component: List component"
### Description
![image](https://user-images.githubusercontent.com/9862218/59523684-c433c600-8e86-11e9-9d87-5ff2aaa650a9.png)

should list all inputs and selected and check boxes.

#### User Stories
User wants to use this multiple select item and receive all that items as an event call back.

### Acceptance Criteria <small>(a.k.a. Requirements)</small>
#### Desired Behavior
1. user should be able

[2019-06-14 21:01] #19 closed, assigned to jcfranco, driskull, pr3tori4n

[2019-06-17 21:11] jcfranco opened #37 "Tooling: Automated accessibility testing"
## Summary

Automating base accessibility tests for each component would help keep a baseline of accessible components.

## Measure of Success

**Pain point:** Running accessibility tests manually.
**Desired outcome:** Automatic testing of accessibility for all components in e2e test suite.

### Resources <small>(e.g. links to libraries or code snippets)</small>

https://www.npmjs.com/package/jest

[2019-06-17 23:23] #35 closed, assigned to nobody

[2019-06-17 23:27] #12 closed, assigned to nobody

[2019-06-17 23:52] driskull opened #39 "Question: rename calcite-app-components to calcite-shell-components"
### Question

Should we rename `calcite-app-components` to `calcite-shell-components` ?

### Helpful Details
**Topic:** Should we rename `calcite-app-components` to `calcite-shell-components` ?
**Context:**  `calcite-app-components` somewhat generic. This would narrow our components to being used with the `calcite-shell`. Would that be a good thing or too restrictive?

[2019-06-18 21:03] jcfranco opened #44 "Tooling: Avoid Prettier + TSLint conflicts"
## Summary

There are some conflicting out-of-the-box rules from Prettier and TSLint. Conflicting ones should be disabled for a consistent formatting experience 👓 💅.

## Measure of Success

**Pain point:** Conflicting Prettier/TSLint formatting.
**Desired outcome:** No warnings/errors after formatting code with either tool.

### Resources <small>(e.g. links to libraries or code snippets)</small>

[2019-06-18 23:02] driskull opened #45 "Theming Architecture"
Related to: https://devtopia.esri.com/WebGIS/arcgis-js-api/issues/21372

Goal: Allow a dev to set theme in one place at the highest level while also retaining the flexibility to set a theme on an individual component

We need to prototype:

- CSS variable inheritance (Franco)
- ~~Component theme @Prop inheriting from their parent by default~~ (Matt) - **Looked into this and seems like an inferior

[2019-06-19 17:13] pr3tori4n opened #46 "Tooling: Setup a git hook to lint prior to code being pushed."
## Summary
Linting is an easy step to miss. A git hook will ensure it gets executed.
## Measure of Success
**Pain point:** People are forgetting to lint their code
**Desired outcome:** Linting is automated so people don't need to worry about it.

### Resources <small>(e.g. links to libraries or code snippets)</small>
[husky](https://github.com/typicode/husky)
[Git hooks](https://githooks.com/)

[2019-06-19 19:50] #44 closed, assigned to driskull

[2019-06-19 19:50] #31 closed, assigned to driskull

[2019-06-19 19:50] #23 closed, assigned to driskull

[2019-06-20 18:18] asangma opened #51 "Enmancement: [ActionBar] Add collapse/expand as default last calcite-action-group"
### Description
Add `calcite-action-group justify-bottom` by default with a single action to toggle the `expanded` attribute.

### Acceptance Criteria <small>(a.k.a. Requirements)</small>
#### Desired New Behavior
* ActionBar has expand/collapse button by default.
* Dev user can disable this action.
* Dev user can still add either more actions to the bottom group or add new bottom justified groups

[2019-06-20 20:26] driskull opened #54 "Enhancement: Tests for Action/ActionBar/ActionPad"
### Description

Write tests for Action, ActionBar, ActionPad.

### Acceptance Criteria <small>(a.k.a. Requirements)</small>

Da tests.

[2019-06-21 23:34] #54 closed, assigned to driskull

[2019-06-21 23:37] driskull opened #56 "Enhancement: use `textString` as `@Prop` for all strings (text-string)"
### Description

Enhancement: use `textString` as `@Prop` for all strings

### Acceptance Criteria <small>(a.k.a. Requirements)</small>
#### Desired New Behavior

Currently, we use `@Prop labels` or the like for strings. Now, each string should be its own property starting with `text` for example `textClose`

### Relevant Info <small>(e.g. Dependencies, Blockers)</small>

Teams discussion:

https:

[2019-06-24 16:02] #46 closed, assigned to jcfranco

[2019-06-24 22:24] driskull opened #58 "Enhancement: Flow - Menu keyboard navigation"
### Description

Enhancement: Flow - Menu keyboard navigation

### Acceptance Criteria <small>(a.k.a. Requirements)</small>
#### Desired New Behavior

Add ability to navigate the action menu in the Flow header by using the arrow keys.

- The escape key should close the menu
- The down arrow key should focus the next menu item and back to the first if its the last item
- The up arrow key should foc

[2019-06-26 02:56] #51 closed, assigned to asangma

[2019-06-26 18:10] pr3tori4n opened #59 "Research: Modifying a custom elements light dom is not working in Edge"
### Background
- Web Components in Edge and IE are supported via a polyfill.
  - [Stencil.js browser support notes](https://stenciljs.com/docs/browser-support)
  - [A general polyfill exists](https://www.webcomponents.org/polyfills) but it's unclear if Stencil uses this or something else.
- [Stack Overflow Question](https://stackoverflow.com/questions/56778410/using-stencil-js-modifying-a-custom-e

[2019-06-27 18:05] pr3tori4n opened #62 "Research: Sharing data between and component file and it's test files."
### Background
- Brittle tests waste time and add frustration to the developer process.
- Hard coding values in a test file makes them brittle.
- [A stencil component file can only contain a single export.](https://stenciljs.com/docs/module-bundling#one-component-per-module).

### Desired Outcome
- What's a convention we can use to share primitive data (e.g. strings) between component files and te

[2019-06-28 16:56] #56 closed, assigned to jcfranco, driskull, pr3tori4n

[2019-06-28 17:04] #25 closed, assigned to driskull

[2019-06-28 20:55] #45 closed, assigned to driskull

[2019-06-28 22:24] jcfranco opened #63 "Tooling: Add TSLint rule to ensure consistent spacing between class members"
## Summary

Automate newline formatting.

Stems from https://github.com/ArcGIS/calcite-app-components/pull/48#discussion_r298646793.

## Measure of Success

**Pain point:** Having to manually check newline formatting.

**Desired outcome:** Automate newline usage between class members.

### Resources <small>(e.g. links to libraries or code snippets)</small>

* https://palantir.github.io/tslint/rule

[2019-07-01 17:17] #62 closed, assigned to pr3tori4n

[2019-07-03 16:54] pr3tori4n opened #68 "Chore: Uncomment spec tests once Stencil import bug is fixed"
## Update the following file(s):
[Tip Manager Spec File](https://github.com/ArcGIS/calcite-app-components/blob/hrobbins/tip-manager-34/src/components/calcite-tip-manager/calcite-tip-manager.spec.ts)

## Blocked by [Stencil Issue #1669](https://github.com/ionic-team/stencil/issues/1669)
There's a bug in Stencil where unit tests (e.g. `.spect.ts` files) are failing due to ES6 named imports not being

[2019-07-05 22:42] pr3tori4n opened #70 "Enhancement: Accessibility pass on components"
### Description
Let's take a pass an ensure our markup is semantic, and that we're using proper aria roles, labels and states.

### Acceptance Criteria <small>(a.k.a. Requirements)</small>

#### Desired Change
1. All interactive elements use an appropriate tag, such as `<button>` or `<a>`
  - Address styling adjustments tag changes may introduce.
1. Add [aria `role` attributes](https://developer.m

[2019-07-09 20:10] #63 closed, assigned to pr3tori4n

[2019-07-09 21:46] pr3tori4n opened #72 "Enhancement: Tip Manager - Solidify logic for add/remove behavior creating conflicts"
### Description
The Tip Manager responds to changes to the tips nested inside. As of now it detects additions/deletions to the list of tips. Some edge-case scenarios can arise that left unmanaged lead to a poor UX. We should nail down the best UX for these scenarios. Depending on the ideal - we may be able to consolidate code between initialLoad logic, and when one of these modifications occur.

#

[2019-07-11 22:02] driskull opened #75 "Enhancement: Tip - Remove use of data attribute for group title"
### Description

Currently, the `Tip` component relies on a data attribute `data-group-title`.

Using a custom attribute would be a better best practice. There is also no documentation or reference in the code that a user is expected to set this data attribute.

### Acceptance Criteria

Use a custom attribute starting with `text` instead of a data attribute since it is not data, but a text label.

[2019-07-11 22:30] #34 closed, assigned to pr3tori4n

[2019-07-12 17:13] driskull opened #76 "Enhancement: Tip - `dismissible` attribute experience"
### Description

Currently, the `dismissible` property on the `calcite-tip` component is true by default.

#### Issue 1:  The property was not reflecting to the DOM.

Because the property wasn't reflecting to the DOM, a user wouldn't know if the tip was dismissible because the attribute was not displayed on the DOM. I think for boolean attributes, we should always reflect to the DOM if necessary.

[2019-07-12 18:36] #39 closed, assigned to jcfranco, asangma, pr3tori4n

[2019-07-18 15:52] #76 closed, assigned to pr3tori4n

[2019-07-19 17:49] #59 closed, assigned to nobody

[2019-07-19 22:49] jcfranco opened #82 "Research: Automated CHANGELOG/BREAKING_CHANGES doc generation"
### Background

For documentation purposes, it would be useful to have an automated way of keeping track of changes/breaking changes.

### Desired Outcome

`CHANGELOG.md` and/or `BREAKING_CHANGES.md` auto generated from, ideally, commit messages.

[2019-07-22 23:52] #2 closed, assigned to driskull, asangma

[2019-07-23 16:16] jcfranco opened #83 "Enhancement: Add SvgIcon helper"
### Description

This icon pattern is showing up often in a few components:

[code]

Signifying the need for a helper to DRY up some code.

Proposal:

[code]

### Acceptance Criteria

Adding a functional component to aid consume calcite-ui-icons.

[2019-07-23 18:15] kat10140 opened #84 "Documentation - Calcite App Components V1"
Documentation for calcite-app-components V1:
- general snippet about what the component does
- methods and properties and general uses for public consumption
- note dependencies on other components

Components:
- [x] Action
- [x] ActionBar
- [x] ActionPad
- [x] Block - block content md still needs to be done but all others are done
- [x] FloatingPanel
- [x] FlowManager
- [x] FlowManagerItem
- [x]

[2019-07-24 00:05] jcfranco opened #87 "Question: Should <calcite-block-section> be its own component?"
### Question

Should `<calcite-block-section>` be its own component? Currently, it's block-specific, but would there be use cases where the same design would apply in a non-block context?

### Helpful Details

**Topic:** Possible new component.

**Context:** Stemmed from Block PR: https://github.com/ArcGIS/calcite-app-components/pull/78#discussion_r305558525

cc @pr3tori4n

[2019-07-24 17:10] #10 closed, assigned to pr3tori4n

[2019-07-24 21:02] #8 closed, assigned to driskull

[2019-07-29 19:20] #70 closed, assigned to jcfranco, pr3tori4n

[2019-07-29 22:47] #7 closed, assigned to asangma

[2019-07-29 22:47] #6 closed, assigned to asangma

[2019-07-29 22:47] #5 closed, assigned to asangma

[2019-07-29 22:48] #4 closed, assigned to asangma

[2019-07-30 16:26] #83 closed, assigned to driskull

[2019-07-30 17:15] driskull opened #93 "Enhancement: Create unit test for position class"
### Description

Enhancement: Create unit test for position class

### Acceptance Criteria

Unit test.

#### Desired New Behavior

Tests

### Relevant Info

https://github.com/ArcGIS/calcite-app-components/pull/38#discussion_r308827754

[2019-07-30 18:37] driskull opened #94 "Bug: Inconsistent design between Bock/Section expand icon"
### Summary

Bug: Inconsistent design between Bock/Section expand icon

### Actual Behavior

The expanded state of the block points up.
The expanded state of the section points down.

### Expected Behavior

Both state should be consistent

### Reproduction Steps

1. View the block sample page

### Relevant Info

![image](https://user-images.githubusercontent.com/1231455/62156610-32f6a280-b2c0-11e9

[2019-07-30 20:02] pr3tori4n opened #95 "Enhancement: Remove custom Click event in favor of native Dom Event"
### Description
Calcite-Action has a custom event it fires when its clicked. This can be replaced with a native event and works better in some cases than the custom event.
### Acceptance Criteria

#### Desired New Behavior
Deprecate the use of `calciteActionClick`
### Relevant Info
[The Stencil docs encourage the use of native Dom Events on web components.](https://stenciljs.com/docs/events)
### H

[2019-07-30 21:21] driskull opened #97 "Bug: Block header icon should use calcite-action OR button should honor theme color"
### Summary

Block header icon should use calcite-action OR button should honor theme color

Code:

[code]

[2019-07-30 22:13] #94 closed, assigned to asangma, mitc7862

[2019-07-30 22:14] pr3tori4n opened #100 "Bug: Tips are showing their close button in Tip Manager in Edge"
### Summary
https://arcgis.github.io/calcite-app-components/demos/calcite-tip-manager.html
View this link in Edge. You'll see an inner `X` icon that dismisses an individual tip.
### Actual Behavior
In Edge, Tips are dismissible in a tip manager.
### Expected Behavior
The individual tips should not be dismissible within the tip manager.
### Reproduction Steps

1. https://arcgis.github.io/calcite-ap

[2019-07-30 22:17] asangma opened #101 "Bug: calcite-action text-align in RTL"
### Summary
Need to unset text-alignment for button so that text in `.text-container` aligns correctly in RTL.

### Actual Behavior
Text remains aligned left in RTL.

### Expected Behavior
Text should align right in RTL.

### Reproduction Steps

1. View RTL section in `demos/calcite-block.html`

### Relevant Info
Should be able to set `text-align` to `unset` at the :host or button level and browse

[2019-07-31 14:32] jcfranco opened #104 "Fix axe issues on demo page"
[axe](https://www.deque.com/axe/) finds the following issues on the demo page (Home tab):

* `<html>` element must have a lang attribute
* Document must have one main landmark
* All page content must be contained by landmarks
* Elements must have sufficient color contrast

Stems from https://github.com/ArcGIS/calcite-app-components/pull/99#pullrequestreview-268697869

cc @driskull

[2019-07-31 14:39] asangma opened #105 "Enhancement: Clean-up Sass and CSS"
### Description
General Sass cleanup and organizagion

### Acceptance Criteria
- [x] Scope global CSS vars to :root
- [x] Put vars in correct files
- [x] remove unnecessary `:host` selectors
- [x] remove unused class names from `resources.ts` files
- [x] move any CSS objects to a `resources.ts` file

#### Out of Scope
Theming stuff.

### Helpful Details

**Which Component:**
All components.

cc @d

[2019-07-31 14:43] asangma opened #106 "Bug: block-section e2e test is busted"
### Summary
block-section e2e is broken.

### Actual Behavior
Test fails.

### Expected Behavior
Test passes

### Reproduction Steps

1. npm run test

### Relevant Info
Test is expecting a value for a `text-label` attribute but should be looking at `text`.

cc @jcfranco @pr3tori4n

[2019-07-31 15:16] asangma opened #109 "Bug: action-bar expand/collapse icons are reversed by default"
### Summary
**action-bar** checks for a `primary` attribute and sets expand/collapse icons accordingly.

![image](https://user-images.githubusercontent.com/12503298/62224292-427ef580-b36b-11e9-91b6-731c5b7cd268.png)

### Actual Behavior
This works nicely inside **shell** but when the **action-bar** has no `primary` attribute, e.g. when it's used by itself (demos/calcite-action-bar/), the expand/co

[2019-07-31 16:08] #75 closed, assigned to driskull

[2019-07-31 16:13] asangma opened #111 "Enhancement: Create design prototype for Custom focus style"
### Description
Add styles for focus states.

### Acceptance Criteria
- [ ] look better than browser default
- [ ] retain accessibility
- [ ] work for the different types of controls (input, button, etc.)

#### Desired New Behavior
Each interactive element will have a custom and theme-friendly `:focus` style.

#### Desired Change to Look and Feel
Make it less fuzzy. Make it look slick. Make it wor

[2019-07-31 16:17] #101 closed, assigned to asangma

[2019-07-31 16:19] #106 closed, assigned to asangma

[2019-07-31 18:35] asangma opened #115 "Enhancement: Add dark-theme toggle to demos"
### Description
Add a quick way to switch demo into dark theme. Or add a dark theme section to each demo.

### Acceptance Criteria
Join the dark side.

#### Desired New Behavior
It's dark.

#### Desired Change to Look and Feel
Darkness.

#### Out of Scope
Going to the light.

### Relevant Info
It's less light.

### Helpful Details
Dark is darker than light.

**Which Component:**
All the components

[2019-08-01 16:57] jcfranco opened #117 "Enhancement: Simplify `calcite-block`"
### Description

*simple use case: header and simple content*

[code]

*advanced use case: header w/ control and simple content*

[code]

**Note:** This will require doc’ing the control slot

### Acceptance Criteria

#### Desired New Behavior

No longer require providing `calcite-block-content` and `calcite-block-header`. This would be handled internally to streamline usage.

#### Desired Change t

[2019-08-01 18:17] jcfranco opened #119 "Bug: Toggling block or section not hiding elements in Edge"
### Summary

Found in https://github.com/ArcGIS/calcite-app-components/pull/118

![edge-toggling-bug](https://user-images.githubusercontent.com/197440/62316847-4a16cb00-b44d-11e9-9f12-8f9ff3db3bf9.gif)

### Actual Behavior

Clicking on a header or section will end up moving shifting elements around, but content will not be hidden.

### Expected Behavior

Block or section content should be hidden.

[2019-08-01 22:32] #97 closed, assigned to jcfranco, asangma

[2019-08-01 22:48] driskull opened #122 "Bug: TipManager add/remove tip bugs"
### Summary

TipManager demo might need updating. Sometimes i get this weird render issue and the “remove last tip” button doesn’t seem to work.

was a couple things. Had to update the remove because it broke when it targeted a tip inside a group.
Beyond that, there was a bug where if removing the currently shown tip, and another after it became the new tip in that index - the tips weren't updatin

[2019-08-01 22:50] driskull opened #123 "Enhancement: Action - support indicator styling"
### Description

`indicator` prop on `calcite-action` does nothing.

### Acceptance Criteria

#### Desired New Behavior

It should show a dot in the top right of the button.

@asangma do we need a `layout` prop for action too?
   - Probably not, just RTL styling

![image](https://user-images.githubusercontent.com/1231455/62332355-156a3a00-b474-11e9-81c4-2ee876834e4a.png)

[2019-08-01 23:02] driskull opened #126 "Enhancement: TipManager - Arrow key navigation support"
### Description

TipManager arrow key navigation support

Using the arrow keys while a tip is the active element should allow for pagination.

### Acceptance Criteria

- Right/Up arrow moves to next tip
- Left/Down arrow moves to previous tip

### Helpful Details

**Which Component:** TipManager
**Example Use Case:** User clicks on a tip or a tip is within focus and can use the arrow keys to pagin

[2019-08-01 23:34] asangma opened #127 "Enhancement: Tip - add generic slot to allow custom content"
### Description
The structure of the Tip is nice. It would also be good to let users do something like put a big image in the info area.

### Acceptance Criteria
- user can add their own html into the content/info area
- user can add an image and not have to use the thumbnail attribute
- still work in Tip Manager

#### Desired New Behavior
User (developer) should be able to utilize the Tip to hous

[2019-08-02 23:44] asangma opened #129 "Bug: Action indicator does not respond to RTL"
### Summary
After #124, indicator on **action** works but doesn't respond to RTL.
This should only be relevant when **action** has `text-enabled`.

### Actual Behavior
When `text-enabled` & RTL, indicator is on top of the the text.

### Expected Behavior
Indicator should trail text.
![Screen Shot 2019-08-02 at 4 43 15 PM](https://user-images.githubusercontent.com/12503298/62403808-b7f1ee00-b544-11

[2019-08-02 23:50] #123 closed, assigned to driskull

[2019-08-02 23:50] #109 closed, assigned to asangma

[2019-08-02 23:51] #105 closed, assigned to asangma

[2019-08-03 00:10] #119 closed, assigned to pr3tori4n

[2019-08-05 15:29] #122 closed, assigned to driskull

[2019-08-05 16:21] #95 closed, assigned to jcfranco

[2019-08-05 16:29] asangma opened #130 "Enhancement: Design better responsive pattern for Shell"
### Description
Shell should be _more_ responsive. In smaller viewports, the content area where the map or scene view will normally live, can get too narrow, especially when both leading and trailing panels are open.

### Acceptance Criteria
When in iPad size viewports, the content area doesn't feel so cramped.

#### Desired New Behavior
TBD

#### Desired Change to Look and Feel
Less cramped conte

[2019-08-05 16:34] asangma opened #131 "Question: Hotkey integration?"
### Question
Should we do it?

### Helpful Details
https://github.com/github/hotkey

**Topic:**
Hotkeys.

**Context:**
Erthang.

[2019-08-05 17:37] driskull opened #133 "Enhancement: Block content needs text color defined"
### Description

Block content needs text color defined

### Acceptance Criteria

The text color is light when dark theme is used on a block

#### Desired New Behavior

A variable is set to `color` for block content

![image](https://user-images.githubusercontent.com/1231455/62483621-fe299600-b76c-11e9-9a38-ab59f3a53a42.png)

[2019-08-05 17:38] driskull opened #134 "Enhancement: Homepage demo needs a description and more content"
### Description

Homepage demo needs a description and more content

### Acceptance Criteria

There is content about what these components are and their purpose. Could be content reused from readme.

### Helpful Details

https://arcgis.github.io/calcite-app-components/

[2019-08-05 17:39] driskull opened #135 "Enhancement: move calcite-tip-group into root folder (for consistency)"
### Description

move `calcite-tip-group` into root folder (for consistency)

[2019-08-05 17:42] driskull opened #136 "Bug: background color vars not working in edge"
### Summary

background color vars not working in edge

### Actual Behavior

In Edge, some color vars are not working. I'm not sure if the variables arent being loaded correctly from Sass or if the issue is with the CSS variables.

### Expected Behavior

The `calcite-action` should have a background color by default in Edge.

### Reproduction Steps

1. Open the following URL in edge. https://arcgi

[2019-08-05 17:46] driskull opened #137 "Enhancement: Improve demo pages"
### Description

Demos need
 - example code to go along with examples
 - descriptions at top of file
 - links to documentation file or some way to inject the markdown file into the HTML
 - Codepen links to samples?

### Acceptance Criteria

Demos contain a description of the component, its purpose and how to use it. Code samples should be shown and the documentation for the component should be ava

[2019-08-06 17:08] #117 closed, assigned to kat10140

[2019-08-06 17:16] jcfranco opened #139 "Bug: Shell footer not honoring theme"
### Summary

See cyan box in screenshot below:

<img width="1563" alt="Screen Shot 2019-08-06 at 10 12 12 AM" src="https://user-images.githubusercontent.com/197440/62560978-064c0900-b833-11e9-954d-4296fdf3cf2d.png">

### Actual Behavior

Dark theme font color not being honored.

### Expected Behavior

Footer text color to contrast and fit theme.

### Reproduction Steps

See Dark theme example from

[2019-08-06 17:17] #26 closed, assigned to jcfranco

[2019-08-06 17:39] #3 closed, assigned to jcfranco

[2019-08-06 18:22] jcfranco opened #140 "Doc: Named slots"
Stems from https://github.com/ArcGIS/calcite-app-components/pull/110#issuecomment-518772688:

- `calcite-action-bar`
  - `bottom-actions`: A slot for adding `calcite-action`s that are to be placed at the bottom of the action bar above the collapse/expand button.
- `calcite-block` has a `control` slot for inlining a single HTML control (a type of input element) in a header. See https://arcgis.githu

[2019-08-06 20:49] #133 closed, assigned to asangma

[2019-08-08 17:36] jcfranco opened #147 "Bug: `interfaces.d.ts` is excluded from dist"
### Summary

Supporting declaration file is being excluded from the build. I think it's because Stencil will include generated `d.ts` files.

After quick testing, renaming it to `interfaces.ts` does the right thing and preserves the existing behavior.

Created Stencil issue: https://github.com/ionic-team/stencil/issues/1797

### Actual Behavior

`dist/types/components/interfaces.d.ts` is missing.

[2019-08-08 18:57] #135 closed, assigned to pr3tori4n

[2019-08-08 18:59] #100 closed, assigned to pr3tori4n

[2019-08-08 19:42] #147 closed, assigned to kat10140

[2019-08-09 18:11] kat10140 commented on #84
looks like i cant change labels on here anymore? can this issue be closed?

[2019-08-09 18:13] #84 closed

[2019-08-09 19:26] jcfranco opened #152 "Research: Travis CI Integration"
### Background

Having tests run automatically on the repo would help catch regressions earlier.

### Desired Outcome

Use [Travis CI](https://travis-ci.com/) to take care of this.

[2019-08-09 23:00] driskull opened #153 "Research: Manual Testing of components"
### Background

Research: Manual Testing of components once in beta

### Desired Outcome

Components work on all supported browsers and mobile devices

## Components

- [ ] "calcite-action"
- [ ] "calcite-action-group"
- [ ] "calcite-action-bar"
- [ ] "calcite-action-pad"
- [ ] "calcite-block"
- [ ] "calcite-block-section"
- [ ] "calcite-demo-nav"
- [ ] "calcite-example"
- [ ] "calcite-flow"
- [ ]

[2019-08-09 23:28] driskull commented on #139
@asangma I think this is the last issue for V1.

[2019-08-09 23:35] driskull commented on #153
- Am I missing any devices/browsers we want to test?
- How do we want to split up testing

[2019-08-12 16:26] ekenes opened #154 "Bug: Floating panel doesn't allow user to scroll content that overflows"
### Summary

This was discovered during Map Maker testing. The floating panel doesn't allow user to scroll content that overflows longer than the container height.

### Actual Behavior

Content expands, but isn't navigable.

### Expected Behavior

The user is able to scroll to additional content if it cannot fit within the height of the content inside the panel.

### Reproduction Steps

This issue

[2019-08-12 16:54] ekenes commented on #154
cc @asangma

[2019-08-12 17:29] kat10140 commented on #134
@driskull should i just do this manually or are yall still looking into a script?

[2019-08-12 17:30] driskull commented on #134
I think this should be done manually.

[2019-08-12 17:54] kat10140 commented on #134
@driskull sry this was referencing https://github.com/Esri/calcite-app-components/issues/137 😆 i'll go ahead and do that one manually as well

[2019-08-12 17:55] driskull commented on #134
Oh, for #137 we can probably just link to the readme files for now. Demos shoud link to readme and readme should link to demos.

[2019-08-13 16:54] kat10140 commented on #137
@driskull can this one be closed? or do we want to keep it open for later when we add code snippets/codepen links

[2019-08-13 17:02] driskull commented on #137
We can close it if we create a separate issue for the snippets/codepen links. Otherwise we can leave it open.

[2019-08-13 17:54] jcfranco opened #157 "Bug: Block control slot example is broken"
### Summary

The label wrapping the Block's control messes up slot distribution.

### Actual Behavior

Control isn't rendered in the header as expected.

### Expected Behavior

The control slot is meant to be visible at all times as part of the Block header.

### Reproduction Steps

1. Go to https://esri.github.io/calcite-app-components/demos/calcite-block.html
2. Notice the *Header + control* exa

[2019-08-13 18:17] jcfranco commented on #157
Installed. @driskull Could you verify on the GH pages?

[2019-08-13 18:24] jcfranco opened #159 "Enhancement: Add control slot for Block section"
### Description

Based on Block designs, section headers can also have a control:

![1f3cc900-4ee7-11e9-9f1e-feea2f945dd0](https://user-images.githubusercontent.com/197440/62966628-3c9e0100-bdbc-11e9-9329-6a991277e559.png)

### Acceptance Criteria

An element inside a section with a slot name of `control` should be placed on the section header per the design.

#### Desired New Behavior

Add suppor

[2019-08-13 18:24] driskull commented on #157
I see the input control now.

[2019-08-13 18:24] #157 closed

[2019-08-13 20:34] driskull opened #161 "Research: Research best way for a user to set an app component to loading/blocked state"
### Background

Research best way for a user to set an app component to` loading`/`disabled`/`blocked` state

#### Use Case

User clicks on an action within a panel or a flow which fires off some asynchronous task. During the task, we want to display to the user that something is happening and disable further navigation until the task is complete in order to not mess up the task from completing an

[2019-08-13 20:42] jcfranco commented on #161
Another option could be to introduce a component/utility similar to the 3.x's [`busyIndicator`](https://developers.arcgis.com/javascript/3/jsapi/esri.dijit.util.busyindicator-amd.html), which takes care of blocking a target element by placing an overlay, and loading indicator until disabled.

[2019-08-13 20:47] driskull commented on #161
yeah, I think this would be the busy indicator: https://github.com/Esri/calcite-components/tree/master/src/components/calcite-progress

[2019-08-13 20:54] jcfranco commented on #161
It's not the same though. `calcite-progress` just shows the indicator, whereas the util has some extra features to easily block different areas on a page.

[2019-08-13 20:58] driskull commented on #161
Yep, we could use a utility component to block areas. Or maybe just add a class on the `calcite-progress` to adjust styling and set pointer events to none?

[2019-08-14 18:36] driskull commented on #9
I think more requirements gathering is needed for filter. Looking at the issue, there are not any requirements listed for the filter component.

Filter questions: @asangma @jcfranco @pr3tori4n

- Should the filter accept a dataset as a property or a nodeList (elements) as child content?
  - Related: Should the filter return a modified dataset or should the filter result in a custom property change

[2019-08-14 19:25] kevindoshier opened #162 "Enhancement: disabled property on `calcite-action`"
### Description
Can there be a disabled property on calcite-action to grey the action out?
### Acceptance Criteria

#### Desired New Behavior

#### Desired Change to Look and Feel

#### Out of Scope

### Relevant Info

### Helpful Details

**Which Component:**
**Example Use Case:**
For instance the `Edit` action in map maker should be disabled if there are no editable layers

cc: @driskull @jcfran

[2019-08-14 21:46] driskull commented on #162
@asangma ready for styling

[2019-08-15 17:35] kevindoshier opened #164 "Enhancement: allow the content slot of calcite-shell-panel to be hidden, but action bar remain visible"
### Description
The use case I have is I need to toggle the visibility of the "content" slot when actions from the action bar are triggered, right now Im not able to do that
### Acceptance Criteria

#### Desired New Behavior

#### Desired Change to Look and Feel

#### Out of Scope

### Relevant Info

### Helpful Details

**Which Component:**
`<calcite-shell-panel>`
**Example Use Case:**

![image](

[2019-08-16 17:48] driskull opened #170 "Enhancement: Styling for disabled CalciteAction"
### Description

Enhancement: Styling for disabled CalciteAction

### Acceptance Criteria

Zee stylez

#### Desired New Behavior

Fresh look

#### Desired Change to Look and Feel

👀

#### Out of Scope

Non styling

### Relevant Info

https://github.com/Esri/calcite-app-components/issues/162

### Helpful Details

Make it look goods

**Which Component:**

calcite-action

**Example Use Case:**

A use

[2019-08-16 21:13] kevindoshier opened #171 "Enhancement: Set height of `calcite-shell` .main content container to 100%"
### Description
Set height of `calcite-shell` .main content container to 100%
### Acceptance Criteria

#### Desired New Behavior

#### Desired Change to Look and Feel

#### Out of Scope

### Relevant Info

### Helpful Details

**Which Component:**
**Example Use Case:**

cc: @driskull

[2019-08-16 21:45] kevindoshier commented on #171
Actually its already there, just needed to update the package

[2019-08-16 21:45] #171 closed

[2019-08-19 16:34] jcfranco opened #172 "Doc: Add project guidelines"
### Description

In order to help promote best practices and conventions, we need to centralize information in a document. The `calcite-example` has been indirectly used as a way to keep track of some of these conventions, but having a dedicated document would be more adequate.

The doc should cover things that we currently have no automated way of calling out/fixing. Anything else should be left

[2019-08-19 16:56] driskull opened #173 "Doc: Create wiki page for onboarding to the project"
## Summary

Doc: Create wiki page for onboarding to the project

## Measure of Success

A wiki page that could be used to create a reveal presentation

Should include things like:

- Background
- Purpose
- Instructions
- Pieces
- Development
- How it fits into calcite world
- Etc

**Desired outcome:**

An onboarding wiki page

[2019-08-19 17:06] jcfranco commented on #136
Verified on https://esri.github.io/calcite-app-components/demos/calcite-action.html.

[2019-08-19 17:06] #136 closed

[2019-08-19 17:10] #134 closed

[2019-08-19 17:28] #129 closed

[2019-08-19 17:32] jcfranco commented on #104
As of today, axe reports the following:

`calcite-flow`

<img width="777" alt="Screen Shot 2019-08-19 at 10 22 40 AM" src="https://user-images.githubusercontent.com/197440/63286235-6cda1980-c26c-11e9-8e9e-6cc76c0b7f44.png">

`calcite-shell`

<img width="1379" alt="Screen Shot 2019-08-19 at 10 22 03 AM" src="https://user-images.githubusercontent.com/197440/63286223-6350b180-c26c-11e9-8df9-d36991529

[2019-08-19 17:36] asangma commented on #139
So, if you put a component in there, the theme is honored. Do we want generic styles inside our components? Seems overly prescriptive...?

[2019-08-19 17:37] kevindoshier commented on #164
This looks good now, thanks

[2019-08-19 17:37] #164 closed

[2019-08-19 17:43] driskull commented on #104
The first one is remedied by putting an anchor inside the content. So not really an aXe issue.

I'm not sure where the SVGs are coming from in the second example. They are not in the HTML.

[2019-08-19 17:48] driskull commented on #139
@asangma if the background color variable is being set, it seems like the color one should be too.

"child" components probably shouldn't set the `background-color` or `color`. Only parent ones should.

[2019-08-19 17:57] driskull commented on #104
@jcfranco the svg's are coming from the two arcgis maps.

![image](https://user-images.githubusercontent.com/1231455/63287788-140c8000-c270-11e9-9632-32036e5e2a6c.png)

I'm not sure why these empty SVG's exist, do you?

[2019-08-19 20:49] asangma opened #175 "Enhancement: Centralize foreground and background style"
### Description
Refactor Sass so that we set the foreground and background colors in one place.
Could be a mixin or styles set on `:host` in **_base.scss**.

**Which Component:**
All.

Follow up from #174 #139

[2019-08-19 20:52] asangma commented on #139
Installed.

[2019-08-19 21:05] asangma opened #176 "Enhancement: Make it super easy to toggle panels"
### Description
Make it easy to toggle panels off...maybe also add a "preview" thing that

1. sees what panels are open
1. closes all panels
1. reopens what panels were open

### Acceptance Criteria
Kevin and Adelheid can do it easily.

#### Desired New Behavior
Easy way to wire up panel/panel content toggling.

### Relevant Info
Getting a fair bit of feedback expressing desires to hide panels or

[2019-08-19 22:07] asangma opened #177 "Tooling: Trigger style rebuild with includes and partials?"
## Summary
Can we trigger a style rebuild when includes and partials change?

## Measure of Success

**Pain point:**
When updating, e.g. **_color.scss**, the test apps don't update with changes.

**Desired outcome:**
Changes to partials and includes are reflected in the test apps without having to also save component Sass files or restarting the build.

### Resources

[2019-08-19 22:32] asangma commented on #162
@driskull Can I close this since we have #170?

[2019-08-19 22:33] driskull commented on #162
sure

[2019-08-19 22:33] asangma commented on #162
cool

[2019-08-19 22:33] #162 closed

[2019-08-19 23:07] #170 closed

[2019-08-20 00:00] driskull commented on #104
Created issue: https://devtopia.esri.com/WebGIS/arcgis-js-api/issues/new?assignees=&labels=bug%2C+4.x&template=bug-4.x.md&title=Bug+-+

[2019-08-20 16:12] driskull opened #179 "Enhancement: Add event for when a component is closed"
### Description

Add event for when a component is closed

cc @AdelheidF

### Acceptance Criteria

Add a consistent event for the component being closed/hidden

#### Out of Scope

Anything other than the event

### Relevant Info

### Helpful Details

**Which Component:**

Applies to:

- [x] `calcite-floating-panel`
- [x] `calcite-tip-manager`
- [x] `calcite-tip`

**Example Use Case:**

A user want

[2019-08-20 17:18] jcfranco commented on #139
Verified locally.

[2019-08-20 17:18] #139 closed

[2019-08-20 17:37] jcfranco commented on #104
@driskull Thanks for looking into this. Closing as verified!

[2019-08-20 17:37] #104 closed

[2019-08-20 17:39] driskull opened #181 "Bug: Doc - "secondary-panel" slot should be "contextual-panel""
### Summary

Bug:  Doc - "secondary-panel" slot should be "contextual-panel"

### Reproduction Steps

1. See demo for shell and notice the slot is named "contextual-panel", not "secondary-panel".

[2019-08-20 18:05] driskull opened #182 "Bug: Resolve error when using both `calcite-components` and `calcite-app-components`"
### Summary

Bug: Resolve error when using both `calcite-components` and `calcite-app-components`

https://teams.microsoft.com/l/message/19:fd15b51dacd24e70895ec1218a54ae06@thread.skype/1566323822537?tenantId=aee6e3c9-711e-4c7c-bd27-04f2307db20d&groupId=56fae21a-9407-4943-859f-a9bfcf0bbad3&parentMessageId=1566323822537&teamName=Calcite&channelName=Calcite%20Components&createdTime=1566323822537

##

[2019-08-20 18:15] driskull opened #183 "Enhancement: rename `calcite-floating-panel`"
### Description

rename `calcite-floating-panel` to indicate that it is tied to a `calcite-shell-panel`.

### Acceptance Criteria

`calcite-floating-panel` is renamed to indicate that it is positioned to a `calcite-shell-panel`

### Relevant Info

Adelheid was confused about the `calcite-floating-panel` and how it is positioned.

I think it would help if the name indicated that it belongs to a `ca

[2019-08-20 18:16] kat10140 commented on #183
i vote `calcite-shell-floating-panel`

[2019-08-20 18:35] driskull opened #184 "Enhancement: Shell - center content should go under panels"
### Description

Shell - center content should go under panels.

### Acceptance Criteria

#### Desired New Behavior

Center content goes behind panels and panels do not affect the layout of the center content.

We may want a mode to test the differences between how it works now and the new way but I'm kinda leaning towards the new way and not the current behavior.

#### Out of Scope

### Relevant

[2019-08-20 18:36] driskull commented on #184
cc @asangma since we talked about this before!

[2019-08-20 18:40] driskull commented on #183
Sounds good. Can we proceed with that name @kat10140 ?

[2019-08-20 18:50] AdelheidF opened #185 "Bug: calcite-floating-panel appears on wrong side"
### Summary
[code]

As positionElement I use the content of a flow item.

### Actual Behavior
floating panel appears on right side of contextual panel

### Expected Behavior
floating panel appears on left side of contextual panel

[2019-08-20 19:46] macandcheese opened #186 "Enhancement: Implied clickable areas aren't always clickable"
🚨 Nitpicky design issue alert

### Description
There are a lot of "dead areas" between and around buttons, caused by spacing and border radius. Because buttons are "clear", I think this will lead to a lot of rage clicking around the edges of buttons as users try to figure out just where they can click.

![Screen Shot 2019-08-20 at 12 34 43 PM](https://user-images.githubusercontent.com/4733155/6337

[2019-08-20 20:17] jcfranco opened #187 "Bug: <calcite-action> indicator is positioned differently if it has text"
### Summary

<img width="460" alt="Screen Shot 2019-08-20 at 1 10 41 PM" src="https://user-images.githubusercontent.com/197440/63380919-658a3d00-c34c-11e9-931d-867d92e7a8f2.png">

Notice how the indicator goes below the vertical center for actions without text (dashed dark red).

### Actual Behavior

☝️

### Expected Behavior

All indicators to be vertically aligned.

### Reproduction Steps

1. Go

[2019-08-20 21:02] kat10140 commented on #183
@driskull yap im on it

[2019-08-20 21:17] #181 closed

[2019-08-20 21:21] jcfranco commented on #179
Verified locally.

[2019-08-20 21:21] #179 closed

[2019-08-20 21:29] kat10140 commented on #183
![Screen Shot 2019-08-20 at 2 27 58 PM](https://user-images.githubusercontent.com/48069902/63385949-c880d180-c356-11e9-921c-da9ed97cc399.png)
do you want me to go ahead and change the slot names and the headers for the demo and everything associated with floating panel?

[2019-08-20 21:33] driskull commented on #183
yeah

[2019-08-20 22:25] kat10140 commented on #140
Can you verify please @jcfranco ?

[2019-08-20 22:25] kat10140 commented on #140
(do we need to go through the same process here like we do for sdk stuff?)

[2019-08-20 22:53] #183 closed

[2019-08-20 22:56] driskull commented on #173
closing in favor of #172

[2019-08-20 22:56] #173 closed

[2019-08-20 22:57] driskull commented on #186
👍 clickable area should be considered

[2019-08-20 23:36] pr3tori4n commented on #72
@franco @driskull @asangma Moving to Milestone BMO since this is already marked installed.

[2019-08-21 00:06] jcfranco opened #190 "Bug: dist is including calcite-components"
### Summary

`calcite-components` are being bundled in the build code.

### Actual Behavior

Extra component files included in `dist/`.

### Expected Behavior

Only `calcite-app-components` to be bundled.

### Reproduction Steps

1. Clone the repo
2. Check out `v.1.0.0` tag
3. Run `npm run build`
4. See `dist/collection/cjs/` folder.
5. Note the extraneous component files are included.

### Releva

[2019-08-21 16:28] jcfranco commented on #140
@kat10140 I'm not familiar with the SDK process. 😄

[2019-08-21 16:31] jcfranco commented on #140
Verified.

[2019-08-21 16:31] #140 closed

[2019-08-21 16:34] jcfranco opened #192 "Use JSDoc to have Stencil generate slot doc"
Doc for slots was manually added in #140, but there is a way to use JSDoc and have the compiler generate the doc (see https://github.com/ionic-team/ionic/blob/master/core/src/components/toolbar/toolbar.tsx#L10-L14).

The doc should be rewritten to leverage this capability.

[2019-08-21 17:56] jcfranco commented on #177
Installed.

[2019-08-21 17:56] jcfranco commented on #182
Installed.

[2019-08-21 17:57] jcfranco commented on #190
Installed.

[2019-08-21 17:58] kevindoshier commented on #182
@jcfranco - thanks, can you update the tag, then I can test in the app

[2019-08-21 18:42] AdelheidF opened #196 "Bug: Doc for calcite-shell-floating-panel is missing slot"
### Summary
https://github.com/Esri/calcite-app-components/tree/master/src/components/calcite-shell-floating-panel

is missing doc for slot.
e.g. `slot="shell-floating-panel"`

[2019-08-21 18:43] driskull commented on #196
false alarm

[2019-08-21 18:43] #196 closed

[2019-08-21 18:49] kevindoshier commented on #182
Looks good

[2019-08-21 18:51] pr3tori4n commented on #9
@asangma There's some discussion around the best way to house the list of selectedRows. Originally I was using a Set since it eliminated dupes for me, but now i'm using a plain object, so I can get key:value pairs. A plain object doesn't keep track of the order items are added to it. Is that a requirement? If so we'll probably switch to using a Map. The downside of a Map is it doesn't support dot

[2019-08-21 20:13] asangma commented on #9
@pr3tori4n I'm good with whatever as long as a configuration list can receive items in the same order in which they were selected in the selection list.

E.g.
Browse/selection list contains
- A
- B
- C

User wants to add C and A to another configuration list. User clicks C then A.

Configuration list should look like
- C
- A

Hope that helps.

[2019-08-21 20:25] driskull opened #197 "Bug: RTL calcite-tip-manager pagination icons point wrong direction"
### Summary

RTL calcite-tip-manager pagination icons point wrong direction

### Actual Behavior

Buttons should not point towards each other.

### Expected Behavior

Buttons point outward

### Reproduction Steps

1. View sample app and change html dir to rtl

![Screen Shot 2019-08-21 at 1 24 03 PM](https://user-images.githubusercontent.com/1231455/63465964-2117a380-c417-11e9-9965-8ae2ebac6c6a.png

[2019-08-21 21:31] AdelheidF commented on #185
I made sure that my built code has the latest changes.
E.g. I checked that
...\arcgis-components\node_modules\@esri\calcite-app-components\dist\collection\components\calcite-action-pad\calcite-action-pad.css contains this
[code]

and when I switch my panel to be contextual I still see the floating panel open on the right side.

![image](https://user-images.githubusercontent.com/44481292/63469892-1

[2019-08-21 21:32] driskull commented on #153
Issue with action bar text in mobile:
![image](https://user-images.githubusercontent.com/1231455/63470053-7a380500-c420-11e9-95b9-63255f0a4069.png)

[2019-08-21 21:36] asangma commented on #153
Icons in Action sometimes aligned wrong.
See the ellipses here:
![IMG_194B5D4C1A27-1](https://user-images.githubusercontent.com/12503298/63470247-fe8a8800-c420-11e9-8730-5ecb92c836c1.jpeg)

[2019-08-21 21:37] kat10140 commented on #153
Bug: Flow on chrome/windows
When clicking example link in 2nd flow item RTL- takes user back to top and removes first LTR flow.

[2019-08-21 21:43] kat10140 commented on #153
Styling issue: ALAN PLEASE STYLE!!! padding on Shell - shell floating panels
TY :D

[2019-08-21 21:49] driskull commented on #185
@AdelheidF can you change the `calcite-shell-panel` layout to `trailing`?

[2019-08-21 21:49] driskull commented on #185
It should be trailing since the panel is on the right side.

[2019-08-21 21:49] pr3tori4n opened #199 "Bug: Calcite-Flow Too Wide on Mobile Device"
### Summary
Flow Container bleeds off the edge of the screen. This is in portrait mode.

### Expected Behavior
Container doesn't extend off the edge of the screen.
### Reproduction Steps

1. On a mobile device, Go to: https://esri.github.io/calcite-app-components/demos/calcite-flow-item.html

### Relevant Info
Browser: Chrome
Mobile OS: Android
Viewport: 360px by 512px

[2019-08-21 21:54] AdelheidF commented on #185
![image](https://user-images.githubusercontent.com/44481292/63471281-8bcedc00-c423-11e9-91d4-faea724fb10d.png)

Same effect. the floating panel opens on the right side.

[2019-08-21 21:56] driskull commented on #185
removing all tips should handle gracefully and not show anylonger.

[2019-08-21 21:57] driskull commented on #185
Talk about empty state on tip manager.

[2019-08-21 21:59] driskull commented on #185
If not more than 1 tip, do not show pagination

[2019-08-21 22:01] driskull commented on #185
TipManager should have a min-height

[2019-08-21 22:03] driskull commented on #153
removing all tips should handle gracefully and not show anylonger.

Talk about empty state on tip manager. If tipmanager doesn't have a tip, Needs a developer empty state. So it should empty but be min-height

If not more than 1 tip, do not show pagination

TipManager should have a min-height

[2019-08-21 22:05] pr3tori4n opened #200 "Bug: Scrolling in Flow Manager on Mobile is bad UX"
### Summary
Scrolling on mobile involves swiping up or down on the screen. When trying to vertically scroll the page, if the flow container takes up most of the screen, you're only able to scroll the internal container. You have to get to the very top or bottom of that inner window before you can continue to scroll up/down the page itself.
### Actual Behavior
Flow Container hijacks the vertical sc

[2019-08-21 22:06] driskull commented on #153
nav bar doesn't span full width on mobile

[2019-08-21 22:09] driskull commented on #185
hmm that should work. I'll stop by or create a demo to reproduce.

[2019-08-21 22:16] jcfranco commented on #153
#### General

* Add note to mention shell only supports tablet as smallest size

#### IOS (Safari)

**`calcite-action`**

* Tapping text actions does not change color, white ones do

Tapped white action

![IMG_2151](https://user-images.githubusercontent.com/197440/63472307-8030e480-c426-11e9-80e6-140bbdc9189a.jpeg)

Tapped blue action

![IMG_2152](https://user-images.githubusercontent.com/197440/6

[2019-08-21 22:19] pr3tori4n opened #201 "Enhancement: Refactor Heading properties to use slotted content"
### Description
In some components, we're currently baking in heading levels in the shadow dom. The heading levels chosen are guesswork, as the location of the component in a consuming application may lead to different desired heading levels used within.

### Acceptance Criteria
1. Developers can pass in the heading level appropriate for their content, along with the heading text via a default or

[2019-08-21 22:27] #182 closed

[2019-08-21 22:39] pr3tori4n commented on #199
![image](https://user-images.githubusercontent.com/12614215/63473318-e0755580-c429-11e9-90f5-525fb5ed1b88.png)

[2019-08-21 22:41] driskull commented on #185
@jcfranco do I need to update the release number to get it to Adelheid?

[2019-08-21 22:42] jcfranco commented on #185
You need to use the release scripts, otherwise there's no distributable to ship.

[2019-08-21 22:45] driskull opened #202 "Bug: every component should be able to be hidden by attribute"
### Summary

The following should be available on every component.

[code]

### Actual Behavior

its not on every component

### Expected Behavior

Every component can be hidden with the `hidden` attribute

### Relevant Info

Can we put this in the common SCSS file?

[2019-08-22 01:40] driskull commented on #184
@asangma I think there is only styling involved in this so I'll assign to you at first.

I think the viewer app will have to calculate the width of each panel to determine the view padding to set.

[2019-08-22 02:24] AdelheidF commented on #185
Seems to work OK.

[2019-08-22 02:24] #185 closed

[2019-08-22 02:29] AdelheidF commented on #185
But I have to use position-type, not placement as the doc says. Same for action-pad.

[2019-08-22 14:53] asangma opened #204 "Question: TipManager. Does it need the add/remove stuff?"
### Question
The UX of the TipManager assumes that there are a set number of tips in the manager when the app starts up. There shouldn't be tips coming and going in the tip manager while user is using the app.

I also don't know if we should encourage adding and removing tips dynamically.

This is different than there being an updated collection of tips when the app opens. This is normal for when

[2019-08-22 23:44] asangma opened #205 "Enhancement: Switch mode for BlockSection"
### Description
Switch mode for BlockSection would result in the same expand/collapse behavior but would remove the triangle on the flex-start side and add a switch to the flex-end side.

**Which Component:**
BlockSection

### Mockups

![image-1](https://user-images.githubusercontent.com/197440/64465426-744d4f80-d0c1-11e9-8e4c-86f35f78fae8.png)

![image](https://user-images.githubusercontent.com/1

[2019-08-23 00:06] AdelheidF opened #206 "Research: floating-panel and action-pad positioning"
### Background

Currently floating-panel and action-pad have to be children for a shell-panel to be placed inside their correct slots. But if components contained inside shell-panels want to manage these themselves this is not possible.

e-mail:

I’m thinking we need to keep the slots at root level of the `calcite-shell-panel` unless we want to decouple these from the panel and rely on another pos

[2019-08-23 00:12] driskull commented on #206
Another option:  we could create a floating-panel/action-pad outside of the shadow DOM in a hidden state for each panel.

[2019-08-23 00:18] driskull commented on #206
@asangma @jcfranco please chime in here

[2019-08-23 15:23] jcfranco commented on #206
Would a utility similar to [`dijit/popup`](https://dojotoolkit.org/reference-guide/1.10/dijit/popup.html) fix this? That’s the only thing I can think of to reliably position elements without having to worry about their placement.

[2019-08-23 15:43] jcfranco opened #207 "Tooling: Add utilities for common tests"
## Summary

There are common tests across components that can be easily extracted out (e.g., asserting a component renders and is visible, asserting properties are configured to be reflected)

## Measure of Success

Have a module of component testing utilities.

**Pain point:** Duplicating code for the same type of test across components.

**Desired outcome:** !:point_up:

### Resources

[2019-08-23 17:02] jcfranco commented on #205
@kat10140 Can you triage this one?

[2019-08-23 17:12] driskull opened #208 "Bug: `position-type` should be `placement`"
### Summary

 we should be using placement but the css uses position-type

### Actual Behavior

 The `calcite-action-pad` and `calcite-floating-panel` should use a `placement` property but the CSS is referencing `position-type`.

### Expected Behavior

The components should use `placement` in their CSS

[2019-08-23 18:14] kat10140 commented on #153
Matt, what browsers?

[2019-08-23 18:15] driskull commented on #153
all browsers, even desktop if resized

[2019-08-23 18:17] kat10140 opened #210 "Bug: Action-bar text in mobile"
### Summary
When expanded, `action-bar` text in all mobile ios browswers is showing up vertical rather than horizontal.

Matt says:  this is because of the `max-width: 15vw;` in the `calcite-action-bar.scss`

### Actual Behavior
![actonbar ](https://user-images.githubusercontent.com/48069902/63614310-8c887f00-c597-11e9-8399-8571e67092ae.png)

### Expected Behavior
horizontal expanded text

### Rep

[2019-08-23 18:27] kat10140 commented on #210
This is also happening similarly in desktop when the browser is resized.
![Screen Shot 2019-08-23 at 11 23 01 AM](https://user-images.githubusercontent.com/48069902/63614682-82b34b80-c598-11e9-8590-1b222fb0b327.png)

[2019-08-23 18:33] kat10140 opened #211 "Bug: Ellipses action icon aligned wrong in flow iOS"
### Summary
Alignment is wrong on click of action icon for flow in iOS Safari.

### Actual Behavior
![63470247-fe8a8800-c420-11e9-8730-5ecb92c836c1](https://user-images.githubusercontent.com/48069902/63615260-c2c6fe00-c599-11e9-90f3-924d20dee190.jpeg)

### Expected Behavior
symmetry

### Reproduction Steps

1. Go to https://esri.github.io/calcite-app-components/demos/calcite-flow.html on Safari iO

[2019-08-23 19:05] kat10140 opened #212 "Bug: Flow removal on Windows"
### Summary
Clicking on link in 2nd flow item of RTL takes user back to top of page and removes the first LTR flow. Windows/Chrome.

### Expected Behavior
Nothing to happen when the sample link is clicked.

### Reproduction Steps

1. On a windows machine, go to https://esri.github.io/calcite-app-components/demos/calcite-flow.html#. Click `Add Flow` on RTL panel.  Click example link in the 2nd bloc

[2019-08-23 20:29] kat10140 commented on #212
verified. closing

[2019-08-23 20:29] #212 closed

[2019-08-23 20:34] kat10140 opened #213 "Bug: Nav bar doesn't span full width on iOS"
### Summary
Nav bar doesn't span full width on iOS

### Actual Behavior
![Image from iOS](https://user-images.githubusercontent.com/48069902/63622019-602a2e00-c5aa-11e9-8670-cfadbe98f08d.png)

### Expected Behavior
spaaaaan

### Reproduction Steps

1. Go to https://esri.github.io/calcite-app-components/ on mobile device. Look at nav.

### Relevant Info

[2019-08-23 20:37] asangma commented on #213
@kat10140 I dunno if I'm the one to fix this one.

[2019-08-23 20:37] asangma commented on #210
@kat10140 Might need this to be Abracadaniel.

[2019-08-23 20:39] kat10140 opened #214 "Bug: removing all tips tip-manager"
### Summary
Removing all tips should handle gracefully.

If tip-manager doesn't have a tip, it needs a developer empty state. So it should empty but be min-height. (it should have a min height)

If not more than 1 tip, do not show pagination.

### Actual Behavior
![Screen Shot 2019-08-23 at 1 36 42 PM](https://user-images.githubusercontent.com/48069902/63622271-10983200-c5ab-11e9-9635-844c3565618b

[2019-08-23 20:41] driskull commented on #213
Gonna assign to harry since its his nav design.

[2019-08-23 20:45] asangma commented on #201
Spoke with @mitc7862 and @jimmieego about heading in PickerItem, and we may not need it to be a heading.

[2019-08-23 20:54] asangma commented on #210
FYI. I think this might also be an issue Action.

[2019-08-23 20:55] kat10140 opened #215 "add note to mention that shell only supports tablet as smallest size"
reminder for Katy since closing down other issue

[2019-08-23 20:57] kat10140 commented on #210
wut

[2019-08-23 21:13] kat10140 opened #216 "Bug: calcite-action tapping behavior"
### Summary
Tapping text actions does not change color, white ones do.

(note: on hover on mac/chrome the white changes to off white, though not when clicked- not sure if this behavior is supposed to happen or not)

### Actual Behavior
Tapped blue action
![63472309-8030e480-c426-11e9-872a-37216832162f](https://user-images.githubusercontent.com/48069902/63623927-d2e9d800-c5af-11e9-94e6-8ed62c270abb

[2019-08-23 21:18] kat10140 opened #217 "Bug: Block content styling"
### Summary
- Padding on 'sectionless' block content.

### Actual Behavior
![63472250-60012580-c426-11e9-8ac8-658752beb42c](https://user-images.githubusercontent.com/48069902/63624260-b8fcc500-c5b0-11e9-890d-f758f680fb73.jpeg)
![63472208-44961a80-c426-11e9-9a72-b341b6d1754b](https://user-images.githubusercontent.com/48069902/63624266-bac68880-c5b0-11e9-9f0e-b41760976416.jpeg)

### Expected Behavio

[2019-08-23 21:23] kat10140 opened #218 "Bug: tip-manager spacing weird"
### Summary
Spacing looks different:

Chrome 👇
<img width="1669" alt="63472058-d3566780-c425-11e9-930d-e955b0351b04" src="https://user-images.githubusercontent.com/48069902/63624443-2f012c00-c5b1-11e9-879d-c0b1e83c58e0.png">

Edge 👇
<img width="1317" alt="63472059-d3566780-c425-11e9-9ec4-7e63b5f6a053" src="https://user-images.githubusercontent.com/48069902/63624454-3b858480-c5b1-11e9-9d0c-a5d71107

[2019-08-23 21:27] kat10140 commented on #153
disregarding `shell-panel` primary content padding bc alan said it's not an issue. all other issues have been made and assigned.

[2019-08-23 21:27] #153 closed

[2019-08-23 21:31] kat10140 opened #219 "Research: Katy do ipad testing"
figure out the password to the ipad and do testing/make relevant issues!

[2019-08-23 21:34] pr3tori4n commented on #214
@kat10140 @asangma If I put a min-height, and nothing else, then it's just an empty-white box when there are no tips in there. It looks broken still.
![image](https://user-images.githubusercontent.com/12614215/63625006-27428700-c5b3-11e9-848f-b4bc493a3f1e.png)

I have 2 competing suggestions.
1. We could add a message like "No tips available".
2. We hide the tip manager completely.

Does one of th

[2019-08-23 21:50] pr3tori4n commented on #214
Branch: `hrobbins/bug-tip-manager-no-tips-214`

[2019-08-23 22:51] pr3tori4n commented on #197
@driskull In a rtl environment, should the right-side button be `previous tip` and the left-side button be `next-tip`?

[2019-08-23 22:58] pr3tori4n commented on #127
@asangma this is already possible using the info slot. The slot will accept any valid html, including an img tag, table tag or another custom component.

[2019-08-23 23:02] driskull commented on #197
yep. that sounds right.

[2019-08-23 23:28] driskull opened #223 "Enhancement: Add events to notify app when panel size has changed"
### Description

Add events to notify app when panel size has changed

### Acceptance Criteria

There are events to notify an app when these properties change

#### Desired New Behavior

There are events to notify an app when these properties change

### Relevant Info

The application knows when the size of a shell panel has changed. Things that can effect its width are:

- collapsed
- action bar

[2019-08-23 23:44] driskull commented on #206
From meeting:

- Positioning will be more like a tooltip
- Remove slots for `action-bar` and `floating-panel` from `calcite-shell-panel`
- An app author will create the action-bar or floating panel and place it in the shell or body of the document.
- Child components will need to emit an event to notify the app to change the content of a floating panel/action pad and close other open panels/action

[2019-08-23 23:46] driskull commented on #206
@asangma is the calcite team considering a tooltip component? If so, this may be able to handle what we need.

[2019-08-24 00:10] AdelheidF commented on #206
I thought we agreed that we don't want to do this. Didn't we say it's not so bad if two actionPads or floatingPanels are open at the same time? The user can close them.
Could the child component create that actionPad or floatingPanel anywhere in the document and remove it when it gets destroyed? Tooltips don't need to be created by the app either.

[2019-08-24 15:19] kevindoshier commented on #206
I agree with @AdelheidF is there a technical reason why the app needs to create and manage the floating panel/action pad for the component instead of the component doing this?  How would scene viewer consume the popup config which in the current design uses a floating window?

[2019-08-26 16:54] asangma opened #226 "Bug: ActionBar - actions not getting text-enabled"
### Summary
When manually adding `expanded` to ActionBar, child Actions do not receive `text-enabled` in the same way as when using the expand/collapse button.

### Expected Behavior
Put `expanded` attribute on `action-bar` and have all `action` get the `text-enabled` attribute.

cc @kat10140

[2019-08-26 21:06] kat10140 opened #231 "Bug: shell display on iPad"
### Summary
Shell demo on iPad is just slightly off with padding on the right side.

![IMG_0028](https://user-images.githubusercontent.com/48069902/63723565-9cf46000-c80a-11e9-841f-29b82da55b68.PNG)

### Reproduction Steps

1. Go to https://esri.github.io/calcite-app-components/demos/calcite-shell.html on iPad, notice the demo is slightly offcenter & user has to scroll

### Relevant Info
iPad chro

[2019-08-27 17:48] pr3tori4n opened #233 "Bug: Calcite-Flow-Item Test Fails Intermittently."
### Summary
The last test in the file "back button / showBackButton" is failing intermittently when running the full test suite. It's failing on the line `await backButtonNew.click();` - see screenshot below.

### Actual Behavior
Test sometimes fails. Sometimes doesn't. No code changes in between runs.
### Expected Behavior
Test passes or fails consistently.
### Reproduction Steps
1. Checkout mast

[2019-08-29 23:05] kat10140 opened #237 "Add loading prop to all components"
Add a loading property to all calcite app components.

Alan can then add styling as needed for da ~ lOaDiNG StAtE ~

[2019-08-30 14:50] jcfranco commented on #237
Are we sure we don't want to introduce a utility or component that handles this instead of adding a loading property/state to all components?

Similar examples:

https://ionicframework.com/docs/api/loading
https://jscore.esri.com/javascript/3/jsapi/esri.dijit.util.busyindicator-amd.html

[2019-08-30 22:01] jcfranco commented on #159
Closing based on ☝️.

[2019-08-30 22:01] #159 closed

[2019-09-03 16:13] asangma commented on #237
@jcfranco I'm cool with that. Can I assign it to you for that? I would just need to know how to style stuff.

[2019-09-03 17:25] jcfranco commented on #205
@asangma Do you have an updated mockup for this?

[2019-09-03 20:34] jcfranco commented on #161
I think we'd need something more flexible, no? There's only so much a class can do.

[2019-09-03 20:39] driskull commented on #161
Maybe. I was just thinking of a simple solution.

- It could be its own `CalciteState` component that could wrap anything and apply a loader or block things.
- It could be a utility that we have on each component we want to expose to it.

[2019-09-03 20:57] pr3tori4n commented on #161
@driskull @jcfranco is there a simple way to see what a user sees today while waiting for things to fully load? You have any screenshots or a demo page you can share?

[2019-09-03 21:08] driskull commented on #161
@kat10140 and @asangma  can you help with the requirements and then @pr3tori4n can work on an API design before any coding work.

[2019-09-04 18:12] kevindoshier opened #239 "Bug: In firefox, using the itemBrowser in a calcite-panel doesnt show overflow correctly"
### Summary
In firefox, using the itemBrowser in a calcite-panel doesnt show overflow correctly

if i set a style of min-height:0 on this element in the calcite-app-components it seems to fix it

https://github.com/Esri/calcite-app-components/blob/a027414e148a37361e40a9d970f2dea19e4681ea/src/components/calcite-shell/calcite-shell.tsx#L64

### Actual Behavior

### Expected Behavior

### Reproductio

[2019-09-04 21:36] pr3tori4n commented on #197
@driskull please verify.

[2019-09-04 21:37] pr3tori4n commented on #213
@kat10140 Please verify.

[2019-09-04 21:38] pr3tori4n commented on #127
@asangma Please verify

[2019-09-04 21:45] #197 closed

[2019-09-04 21:58] kat10140 commented on #214
@driskull @asangma Matt- I think you said to keep it min height with just an empty white box if I'm remembering correctly. I like Harry's suggestion of adding a 'no tips' message

[2019-09-04 23:19] driskull commented on #214
I'm not sure we need a no tips message because then we have to add a prop to take in that text.

@asangma said that having no tips isn't a valid use case anyway so we can just leave it empty.

[2019-09-04 23:23] kat10140 commented on #214
that's right

[2019-09-04 23:54] pr3tori4n commented on #214
In that case would it be better to just hide it completely? I'm having trouble seeing the benefit of keeping it around with a min-height.

[2019-09-05 17:13] asangma commented on #214
No empty state. Retain the TipManager if it's set to be visible.

UX shouldn't have a TipManager with no tips, but the dev may be in the middle of building an app and could benefit from know where/how the TipManager will work without having to have tips in there.

[2019-09-05 17:17] asangma commented on #161
TLDR: At the moment, we only need to have a property to use for TBD styling.

Styling will need to adapt to each component and the moment for the user (loading vs processing), so I think step one would be to have a property that can be used to add styles on a per-component basis.

[2019-09-05 17:21] jcfranco opened #244 "Research: Improve version update and publishing process"
### Background

The current process for creating a release still requires a bit of manual work (running NPM scripts to prepare the distributable and pushing to GH, and then releasing on GH with proper labels and change notes). This is going to be more notable if we start updating the version more frequently.

### Desired Outcome

Introduce a simpler/automated way to create releases.

cc @kat10140

[2019-09-05 17:22] asangma commented on #161
@jcfranco

Agreed. I think a property or class is a good start though.
Also, the main loader states we have are
- an animated graphic (hopefully doable via CSS)
- a loader bar like we have on the LayerList.
- skeleton screen type animation (low priority)

The skeleton screen would be the most complex one, and based on research we did, it only offers marginal improvements to the experience of waiti

[2019-09-05 17:34] pr3tori4n commented on #214
Ok. PR opened for review.
https://github.com/Esri/calcite-app-components/pull/241

[2019-09-05 23:17] pr3tori4n opened #245 "Question: Should we use a custom attribute for direction related CSS selectors?"
### Question
We have a utility class we're using. Would it be better to use a custom attribute?
### Helpful Details

**Topic:** right-to-left styling

**Context:** We need a selector to use for direction specific styling.

My two cents: a custom attribute would be more flexible, since it's a bad practice to add a class to the <Host> element.

[2019-09-05 23:19] driskull commented on #245
IMO an extra dom node for presentation in the shadow DOM is less intrusive than a custom attribute on the custom element that would be documented and exposed to the user in the light DOM.

[2019-09-05 23:59] pr3tori4n commented on #245
It wouldn't need to be an @Prop so it wouldn't be documented.
The only people who would see this are developers looking at the dev console in the browser. That a big deal?

[2019-09-06 00:44] driskull commented on #245
If it doesn't use a prop, then it isn't a valid custom attribute and we would be invalidly adding it to the node.

If we expose it, they may set it and we wouldn't want them to.

Could the utility class be set on a node that already exists? or on multiple nodes if necessary?

[2019-09-06 16:40] kat10140 opened #246 "Enhancement: Tip Manager Scrolling Accessibility"
### Description
As of now, we have the ability to key through tips with the up and down arrow keys on the keyboard, but do not have a keyboard friendly way to scroll through the text with the internal scrollbar.

Let's think of a way to accomplish this.

[2019-09-06 19:07] pr3tori4n commented on #245
Maybe there's some confusion here. What I'm saying is we add the property in the render function. It wouldn't be configurable by the implementer. That would still be a valid custom attribute, in the context of web components.

In this case there's not a simple alternative. An alternate attribute is the simplest workaround. Trying to keep it a class is more difficult.

@jcfranco you have any though

[2019-09-06 19:34] driskull commented on #245
It wouldn't, because it wouldn't be defined on the web component.

I disagree. This is the use case for a class since it is just used for a selector, not an attribute.

[2019-09-06 20:45] jcfranco commented on #245
@pr3tori4n Do you have some pseudocode you can share? I'm having trouble visualizing your proposal.

[2019-09-06 22:33] pr3tori4n commented on #161
List of Components that need loading props:
* action
* block
* flow
* flow-item
* shell-panel
* pickList
* valueList

[2019-09-06 22:33] pr3tori4n commented on #161
Not doing skeleton screens. Sticking to spinners/loading bars. Will be component specific designs.

[2019-09-06 22:40] kat10140 opened #248 "Enhancement: Add loading state and styles - multiple components"
### Description
For following components:
- [ ] action
- [ ] block
- [ ] flow
- [ ] flow item
- [ ] shell panel
- [ ] pick list
- [ ] value list

#### Desired New Behavior
Have loading property thats a boolean. False by default. When loading is true, there should be a loading visual.

#### Desired Change to Look and Feel
Loading visual.

[2019-09-06 23:46] kat10140 opened #249 "Enhancement: Renaming Picker to Pick-List!!"
ITS SO MUCH BETTER!

[2019-09-06 23:51] kat10140 commented on #249
bye nose picker!

[2019-09-09 16:22] driskull commented on #93
This is no longer necessary as positioning will be handled by third party library

[2019-09-09 16:22] #93 closed

[2019-09-09 17:26] asangma opened #252 "Enhancement: PickList support hierarchy"
![image](https://user-images.githubusercontent.com/12503298/64551827-d341dd00-d2ea-11e9-8163-fa5d1a634609.png)

### Description
PickList would be able to display PickItems that have children.
This is related to what would be the "layer picker" in Map Viewer Beta
![image](https://user-images.githubusercontent.com/12503298/64551967-1b60ff80-d2eb-11e9-856b-ffe4de1dd1b9.png)

### Acceptance Criteria
S

[2019-09-09 17:27] asangma commented on #252
@driskull Will the standard checkbox hierarchy behavior work with how our GIS layers work?

[2019-09-09 17:31] driskull commented on #252
@asangma I'm not sure. Is this just for selection? If so I think so. If its for visibility than probably not.

[2019-09-09 17:32] asangma commented on #252
@driskull 100% for selection...nothing else.

[2019-09-09 18:11] driskull commented on #154
Assigning to @asangma for styles

[2019-09-09 22:00] kat10140 commented on #200
@asangma would this be you or matt?

[2019-09-09 22:13] asangma commented on #199
I don't know if this is an issue.
The width is being set by the demo app.
[code]

@pr3tori4n Please try removing the width rule and see if the issue persists.

[2019-09-09 22:15] driskull commented on #200
This is a non issue since there will be no scrolling when the shell takes 100% width and height.

[2019-09-09 22:16] asangma commented on #199
![flow-item](https://user-images.githubusercontent.com/12503298/64570205-b9b58b00-d314-11e9-9e96-eafaf33519ec.gif)

[2019-09-09 22:51] #200 closed

[2019-09-09 23:11] jcfranco commented on #172
@kat10140 No. 😄

[2019-09-09 23:20] jimmieego opened #253 "Bug: Block heading does not have clear focus state"
### Summary

When I set keyboard focus to the block header in Chrome, I only see the bottom focus outline.

### Actual Behavior

![image](https://user-images.githubusercontent.com/5437651/64572760-888d8880-d31d-11e9-99f5-0a6cb51e5a97.png)

### Expected Behavior

Something like this would be good:

![image](https://user-images.githubusercontent.com/5437651/64572796-ace96500-d31d-11e9-9856-8b0a41bc1

[2019-09-10 04:12] AdelheidF commented on #208
This looks good, tested it locally.

[2019-09-10 06:20] #208 closed

[2019-09-10 14:55] asangma opened #254 "Bug: Content BG Color is wrong"
### Summary
`--calcite-app-background-content` color is too dark. It should probably be one level lighter to match arcgis-js-api widget gray bg color.

See [here](https://github.com/Esri/calcite-app-components/blob/master/src/assets/styles/_color.scss#L15).

It's currently `--lighter-gray` and should be `--lightest-gray`.

### Related
https://devtopia.esri.com/WebGIS/arcgis-js-api/issues/22913

[2019-09-10 22:15] asangma commented on #254
Any objections?

[2019-09-10 23:34] asangma opened #257 "Enhancement: Update calcite-ui-icons to 2.5.0"
### Description
Update to the 2.5.0 version.
Do I need to post an issue for this?

cc @jcfranco

[2019-09-10 23:54] driskull commented on #257
Something simple like this a PR is better :)

But i'll take care of it. It's just changing the package.json right?

[2019-09-10 23:55] asangma commented on #253
We can use `outline-offset` until we have a custom focus state re #111.
Any issues with this team?
@driskull @jcfranco @pr3tori4n @kat10140

[2019-09-11 01:09] pr3tori4n commented on #248
API Design
[code]
[code]

The proposition is to add a `loading` property which should be reflected. And add CSS based on the existence of the loading attribute.

[2019-09-11 04:56] driskull commented on #248
API looks good. Will there be any common styles or a funtional component all of these will use?

[2019-09-11 15:54] driskull commented on #257
@asangma installed.

[2019-09-11 16:46] driskull opened #258 "Bug: CalciteTipManager tabindex property should not be used"
### Summary

Bug: CalciteTipManager tabindex property should not be used.

The @Prop() name "tabindex" is a reserved public name. Please rename the "tabindex" prop so it does not
           conflict with an existing standardized prototype member. Reusing prop names that are already defined on the
           element's prototype may cause unexpected runtime errors or user-interface issues on various

[2019-09-11 20:52] driskull opened #259 "Bug: A shell with only a contextual panel displays on the incorrect side"
### Summary

Bug: A shell with only a contextual panel displays on the incorrect side

### Actual Behavior

The contextual panel appears on the left side of the shell

### Expected Behavior

A user must have a primary panel. In the primary panel, they can specify a `layout` of `trailing`.

### Reproduction Steps

1. Open the shell demo page
2. Remove the primary panel node

### Relevant Info

[2019-09-11 20:52] driskull commented on #259
cc @AdelheidF

[2019-09-11 20:57] asangma opened #260 "Question: Height rules for "extra" divs?"
### Question
Our apps are sometimes placing multiple things inside e.g. **calcite-shell-panel**. They do this by returning a single div with the multiple things inside.

This often causes a **calcite-flow** to not be the full height of the panel. Should we do stuff like

**calcite-shell-panel.scss**

[code]

Or maybe a helper/utility class
[code]

@jcfranco @driskull @pr3tori4n @kat10140

cc @Adel

[2019-09-11 21:00] driskull commented on #260
They shouldn't do that or they should set that div to 100% height.

If they do need to create a div, can't they add a common class on it for 100% height?

I don't think we wnat to mess with the `::slotted()` selector for this.

[2019-09-11 21:12] AdelheidF commented on #260
OK, I will set height to 100%.

[2019-09-11 21:26] asangma commented on #260
Understood.
My thought is it seems like the "return multiple components inside a div" will be a common thing. But if we don't feel like we need to have a selector that accommodates that, aight.

[2019-09-11 21:39] driskull commented on #260
It seems like a component that just sets a div to 100% height would be overkill. I think just a common class within the application would get the job done.

[2019-09-11 22:42] asangma commented on #260
K. I was also thinking a class, but yeah, I guess that's outside of general component practices.

Thanks! Closing

[2019-09-11 22:42] #260 closed

[2019-09-11 22:50] asangma opened #262 "New Component: FAB"
### Description
A button for adding new things. It could be an extension or configuration of Action.

#### User Stories
As a map author I want easy access to the "add layer" workflow. I want to be able to do this from within the LayerList but I don't want to scroll all the way to the bottom, and having it at the top is weird.

### Acceptance Criteria
* button can be set to "float" at the bottom of

[2019-09-12 15:42] pr3tori4n opened #263 "Enhancement: Simple Shell Component Demo"
### Description
Create a demo of the shell component by itself. Existing shell demos are utilitizing a majority of the other components, making it difficult to see what the shell by itself does.

### Acceptance Criteria
1. A shell demo that uses the fewest amount of supporting components possible (e.g. add necessary second-class components to render a useful shell, but don't add any slots beyond t

[2019-09-13 15:50] AdelheidF commented on #206
Looks good. Using it now for floating panel and action pad.

[2019-09-13 16:14] #206 closed

[2019-09-13 23:26] driskull opened #265 "Create calcite-panel component and use it within calcite-flow-item"
### Description

Create `calcite-panel` component and use it within `calcite-flow-item`

`calcite-panel` component that has the following:

- Named slot for leading header button
- Named slot for header content
- Named slot for trailing header button
- Generic slot for content
- Named slot for footer content

#### Desired New Behavior

- Create `calcite-panel` component that is dismissible
- Remov

[2019-09-13 23:27] driskull opened #266 "Enhancement: Move popover to calcite-components"
Enhancement: Move popover to calcite-components

[2019-09-14 00:03] pr3tori4n commented on #214
@kat10140 please verify.

[2019-09-14 00:05] pr3tori4n commented on #126
@driskull  please verify.

[2019-09-14 00:06] pr3tori4n commented on #9
@asangma  please verify.

[2019-09-14 00:13] pr3tori4n commented on #161
@driskull we have a plan for loading for the near future. Do we also need a separate plan for blocked and disabled?

[2019-09-16 17:31] asangma commented on #187
By design. Problem?

[2019-09-16 17:41] jcfranco commented on #187
@asangma Not problem at all. Just seeking clarification.

Verified with the demo page.

[2019-09-16 17:41] #187 closed

[2019-09-16 19:58] asangma commented on #9
Looks good. Are we doing a separate issue for styling?

[2019-09-16 20:32] pr3tori4n commented on #9
@asangma separate branch for sure. We can use this same issue if that's easiest.

[2019-09-16 20:46] asangma commented on #9
Mind creating an issue to style this thang? You or @kat10140? :)

[2019-09-16 20:54] pr3tori4n opened #268 "Enhancement: PickList Styles"
### Description
Add styles for the PickList and it's child components.
### Acceptance Criteria
- [ ] PickList is styled
- [ ] PickListItem is styled
- [ ] PickListGroup is styled
#### Desired Change to Look and Feel
* Whatever Alan wants.
#### Out of Scope
* ValueList

[2019-09-16 20:54] pr3tori4n commented on #9
@kat10140 @asangma
https://github.com/Esri/calcite-app-components/issues/268

[2019-09-16 22:14] driskull commented on #161
Seems like we would need a plan for `disabled` but I'm not sure we need anything for `blocked`. Wouldn't blocked be either disabled or loading? Need to define that use case.

[2019-09-16 22:15] #126 closed

[2019-09-16 22:17] driskull commented on #126
👍

[2019-09-16 23:21] driskull commented on #265
@asangma do we want a separate panel for this or would it be better if a user used the `calcite-flow-item` here and put a close button as the menu action?

Just thinking about consistency and how this is different

[2019-09-17 15:35] asangma commented on #265
That might be a good idea.
`flow-item`'s footer is optional, but the heading is currently centered. If we can restyle it so that the heading aligns flex-start when it's the first flow, this could work.

[2019-09-17 15:35] asangma commented on #265
But then devs would need to know to use a `flow-item` for this case yeah? Seems a bit unintuitive and also could lead to a lot of hand-rolled "floating panels".

[2019-09-17 16:02] driskull commented on #265
Yeah.

Maybe I can just have the two of them share a functional component so they are at least consistent in their design and architecture.

[2019-09-17 18:41] driskull commented on #266
Opened PR here: https://github.com/Esri/calcite-components/pull/145

[2019-09-17 20:07] driskull opened #269 "Tooling: Remove classnames dependency"
## Summary

Tooling: Remove classnames dependency

## Measure of Success

Tooling: Remove classnames dependency

**Pain point:**

Unnecessary dependency

**Desired outcome:**

Dependency removed

### Resources

https://github.com/Esri/calcite-components/pull/145#pullrequestreview-289404468

[code]

[2019-09-17 21:37] driskull commented on #265
Thought about this a little more. I think I want to create a more generic `calcite-panel` component that has the following:

- Header
- Heading
- Named slot for leading header button
- Named slot for trailing header button
- Generic slot for content
- Named slot for footer content

Then the `calcite-flow-item` could use this internally.

For the "floating-panel" we could use the generic `calcite-p

[2019-09-17 21:53] kat10140 commented on #214
Verified

[2019-09-17 21:53] #214 closed

[2019-09-17 21:55] kat10140 opened #272 "Doc: Pick-list and sub components"
Document the pick-list along with pick-list-group, pick-list-item in readme's

[2019-09-17 21:57] kat10140 commented on #249
Installed.

[2019-09-17 21:59] kat10140 commented on #223
@driskull how do i verify this?

[2019-09-17 22:01] kat10140 commented on #213
@pr3tori4n this doesn't seem to be working in landscape mode, and in portrait, the nav doesn't show up at all

[2019-09-17 22:02] #210 closed

[2019-09-17 22:15] driskull commented on #223
@kat10140 you can test the `calciteActionBarToggle` event on the `calcite-action-bar` and the `calciteShellPanelToggle` on the `calcite-shell-panel`.

[2019-09-17 22:40] kat10140 commented on #223
Verified

[2019-09-17 22:40] #223 closed

[2019-09-17 22:43] kat10140 commented on #205
@asangma

[2019-09-17 23:11] asangma commented on #265
Do we need the **leading header button**?

[2019-09-17 23:17] driskull commented on #265
Yes, for the back button on the flow item.

[2019-09-17 23:45] asangma commented on #265
Oooohhh...nice.

[2019-09-18 14:52] asangma commented on #205
Whoop! Let this one slip by.
I'll get you something more explicit than the above.

[2019-09-18 15:16] jcfranco commented on #192
Installed.

[2019-09-18 16:26] pr3tori4n opened #274 "Bug: PickList preselected items aren't sent in the event emitter"
### Summary
If a list is configured with pre-selected items, then they are not part of the internal state.
### Actual Behavior
Preselected items don't get added to the list of selected items.
### Expected Behavior
Preselected items get added to the list of selected items on initial load.
### Reproduction Steps

1. Setup a PickList with some of the items having the selected attribute.

[2019-09-18 16:53] asangma commented on #205
Image on the left shows the section on/open. Image on the right shows the section off/closed.
![Screen Shot 2019-09-18 at 9 50 23 AM](https://user-images.githubusercontent.com/12503298/65168787-1b9f8000-d9fa-11e9-9952-e3b56320e58f.png)

[2019-09-18 16:53] #249 closed

[2019-09-18 16:55] asangma commented on #205
Basically it's the same as a normal section except that
* the graphic is a switchhopefully from calcite-components

[2019-09-18 17:34] pr3tori4n commented on #269
Why do you want to remove the classnames library? It's super useful, and incredibly small.
https://bundlephobia.com/result?p=classnames@2.2.6

[2019-09-18 17:36] driskull commented on #269
1. Consistency with `calcite-components`. They won't be using it.
2. We don't need it. We can just use an object and remove a dependency.

[2019-09-18 18:16] driskull commented on #269
@pr3tori4n @jcfranco VOTE TIME.

Do we do this or not?

My reasoning for removing this is stated above

- Consistency with `calcite-components` so we don't have to remove its use if we port a component.
- We can do what it does, its just different formatting
  - slightly less clean
  - but doesn't need a dependency or import in the file

[2019-09-18 18:18] driskull opened #276 "Bug: TipManager direction property is being used as a className"
### Summary

Bug: TipManager direction property is being used as a className

https://github.com/Esri/calcite-app-components/pull/270/files#diff-5920fe4ed9a333d0281e2bb47b7c0e79L252

### Expected Behavior

Class object is used for classnames.

[2019-09-18 19:37] jcfranco commented on #269
I vote to keep.

+ There's at least one other dependency that `calcite-components` doesn't have that would affect porting (`sortablejs`).
+ Maybe this is just me, but I'd assume any sort of port would require changes.
+ Pretty straightforward to `unclassnamesify`™.
+ Not a lot of porting going on at the moment.
+ 👍 to @pr3tori4n's [comment](https://github.com/Esri/calcite-app-components/issues/269

[2019-09-18 19:41] driskull commented on #269
Ok! it has been decided

[2019-09-18 19:41] #269 closed

[2019-09-18 21:03] pr3tori4n commented on #213
@kat10140 can you let me know what the screen width is in landscape mode? I have the desktop nav beginning once the screen size is 600px. We may need to increase that.

Can you take a screenshot and show me what you're seeing in portrait mode?

[2019-09-18 21:16] kat10140 commented on #213
@pr3tori4n- iPhone 6s res is 750 x 1334
Here are screenshots of both right now:
![Image from iOS (2)](https://user-images.githubusercontent.com/48069902/65186557-b316ca00-da1e-11e9-8223-6e3f3c42b4d8.png)
![Image from iOS (1)](https://user-images.githubusercontent.com/48069902/65186558-b5792400-da1e-11e9-9837-c542c5d7ece4.png)

[2019-09-18 23:47] dhrumil83 opened #278 "Enhancement: Calcite value list needs an event for re-ordering"
### Description
Calcite pick list needs an event for re-ordering

### Acceptance Criteria
Client needs to know when fields were re-arranged, and maybe what was changed

#### Desired New Behavior
New event: calcitePickListOrderChange

**Which Component:**
calcite pick list

[2019-09-18 23:49] kat10140 opened #279 "Enhancement: Pick-list and Value-list separation"
## Description
We are separating removing the "configuration mode" from *pick-list* and creating *value-list* as a separate component.

The main reasons for separating capabilities into two separate components are
* to have a cleaner story
  - the two modes can have mutually exclusive capabilities as well as shared capabilities
  - this is confusing for the developer user...and for us
* to allow f

[2019-09-18 23:49] pr3tori4n opened #280 "Enhancement: Add a disabled state to PickList Items"
### Acceptance Criteria
#### Desired New Behavior
* Disabled items in the pick-list should not be clickable.
#### Desired Change to Look and Feel
* disabled items in the pick list should gray out
#### Out of Scope

### Relevant Info
This is a request from Adelheide.

### Helpful Details

**Which Component:** `<calcite-pick-list-item>`
**Example Use Case:** A user wants to allow multi-select, but o

[2019-09-18 23:49] kat10140 commented on #279
@asangma Please QA this before I send it over to Harry

[2019-09-19 03:17] driskull commented on #262
@asangma it seems like this could just be a different style of `calcite-button` maybe?

The positioning isn't handled by the button itself, right?

[2019-09-19 03:20] driskull commented on #279
Would be nice to have an issue for the API design of this

[2019-09-19 03:20] driskull commented on #252
So this will need a `calcite-pick-list-group`?

[2019-09-19 03:21] driskull commented on #245
What's the status of this?

[2019-09-19 03:23] driskull commented on #248
This is related to https://github.com/Esri/calcite-app-components/issues/237 so we need to figure out the right approach.

[2019-09-19 16:56] pr3tori4n commented on #161
@driskull can we split the conversation around disabled into another issue?

[2019-09-19 16:57] pr3tori4n commented on #245
backburner for a bit. I'll open a PR soon.

[2019-09-19 16:58] driskull commented on #161
Sure

[2019-09-19 17:27] pr3tori4n commented on #252
There's already a group component. We can probably enhance that to support something like this.

[2019-09-19 18:58] pr3tori4n commented on #245
@jcfranco
https://github.com/Esri/calcite-app-components/pull/285

[2019-09-19 21:28] pr3tori4n commented on #278
@dhrumil83 what do you envision as the trigger for this event? Is this for drag and drop?

[2019-09-19 21:31] driskull opened #286 "Enhancement: CalciteActionBar groups should be responsive in some manner"
### Description

Enhancement: CalciteActionBar groups should be responsive in some manner #286

### Helpful Details

Currently, the calcite-action-bar isn't responsive to window height so if the window height is small then the other actions at the bottom are cut off.

[2019-09-19 21:32] driskull opened #287 "Enhancement: CalciteFloatingPanel needs a maxheight defined"
### Description

Enhancement: CalciteFloatingPanel needs a maxheight defined

### Helpful Details

When the window height is small the calcite-floating-panel doesn't scroll and gets cut off.

[2019-09-19 21:56] driskull commented on #287
![floating-panel-responsive](https://user-images.githubusercontent.com/1231455/65284149-9bf2dd80-daed-11e9-9bb1-adbcb49d7415.gif)

cc @kevindoshier incase he is notified of this.

[2019-09-19 21:56] driskull commented on #286
![action-bar-responsive](https://user-images.githubusercontent.com/1231455/65284189-b2009e00-daed-11e9-8551-2a4ba9bb9551.gif)

cc @kevindoshier incase he is notified of this.

[2019-09-19 21:57] kevindoshier commented on #287
Nice!  thanks i noticed that today too

[2019-09-19 22:18] asangma opened #288 "Enhancement: PickListItem rename textHeading to textLabel"
### Description
Rename the "textHeading" prop to be "textLabel" in order better match the DOM.

### Acceptance Criteria
- change the prop name
- retain backward compat. for a bit

#### Desired New Behavior
Name change.

#### Desired Change to Look and Feel
No change.

### Relevant Info
From PR : https://github.com/Esri/calcite-app-components/pull/283#discussion_r326396675

**Which Component:**
Pic

[2019-09-19 22:19] asangma commented on #268
MURGLED!
@kat10140 Assigning to you to for UI QA.

[2019-09-19 22:49] asangma opened #289 "Bug: PickListItem e2e fix"
### Summary
[e2e test](https://github.com/Esri/calcite-app-components/blob/master/src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts#L14) is failing. Needs a fixin'.

### Actual Behavior
Test fails.
### Expected Behavior
Test passes.
### Reproduction Steps

1. npm run test

### Relevant Info
May have happened during this PR #283

[2019-09-19 22:49] asangma commented on #289
cc @driskull @kat10140

[2019-09-19 23:24] driskull commented on #58
Can't fix this until we get the option of setting the `delegatesFocus` on the shadow dom.

calling `.focus()` on a `calcite-action` doesn't do anything because the focus needs to be called on the button element inside.

https://developers.google.com/web/fundamentals/web-components/shadowdom

[2019-09-19 23:44] pr3tori4n commented on #279
@asangma can you share the use case for the label editing? Will the app need an event fired when the label is changed?

[2019-09-20 17:43] driskull commented on #279
Design looks good 👍

[2019-09-20 17:53] kat10140 commented on #279
Meeting notes 9/20: API design review
- lets not doc the method. later can look into the properties approach.
- value list will render a pick list under the hood as strategy a.
  - add a hook when value list wraps pick list (assuming strat a works well)
  - fallback: keep split
- don't need groups for value list
- issue on reusable grouping comp?

[2019-09-20 21:19] driskull opened #291 "Enhancement: CalcitePickList remove id attribute being set"
### Description

Enhancement: CalcitePickList remove id attribute being set

I think we can just use the guid string that is generated to be set as the group string on the Sortable instance.

**Which Component:**
**Example Use Case:**

[2019-09-20 21:22] driskull opened #292 "Enhancement: CalciteBlock host element `aria-expanded`"
### Description

Extremely minor: the `aria-expanded` attribute is being set on the host.

If we are going to set it on the host, we should make sure that it's not being set by the user.

The other option would be to move it to the `article` internal to the component.

[2019-09-20 21:26] #226 closed

[2019-09-20 21:30] kat10140 commented on #218
@asangma made any progress on this?

[2019-09-20 21:46] dhrumil83 commented on #278
@pr3tori4n yes. drag and drop to re-order fields.

[2019-09-20 22:24] #266 closed

[2019-09-20 22:24] kat10140 commented on #266
verified!!!!!!!!!!!!

[2019-09-20 22:39] pr3tori4n commented on #278
Ok. Can you elaborate on your use case? Re-ordering with drag and drop won't affect selection order - so I want to make sure selection ordre isn't something you're expecting a change in.

[2019-09-23 16:04] pr3tori4n commented on #233
I haven't seen this in a while. Closing.

[2019-09-23 16:04] #233 closed

[2019-09-23 16:05] asangma commented on #176
@kat10140 Would you mind assigning this?

[2019-09-23 17:39] pr3tori4n commented on #258
@driskull installed please verify.

[2019-09-23 17:43] #258 closed

[2019-09-23 20:00] asangma commented on #72
👍

[2019-09-23 20:00] #72 closed

[2019-09-23 22:54] driskull opened #298 "Enhancement: CalcitePickListItem is setting properties & classes on the Host"
### Description

The `CalcitePickListItem` should not be setting `classes` on the Host element where a user could remove them. These should be internal to the component itself and not exposed to the user so they cannot modify them or see them.

The following are also being set on the host element which should be removed to internal DOM

- role
- aria-checked
- tabindex

The `selected` attribute is

[2019-09-24 15:04] asangma commented on #262
@driskull I think it could be a version of the `calcite-app-action`. It has the similar behavior of icon-only and icon+text (text-enabled).

We could possibly wrap calcite-app-action.

It also has the inline mode and FAB mode. As you suggested, it might be cool to have it automatically switch modes depending on how much content there is in its container, i.e. scrolling.

For now though, it might b

[2019-09-24 15:05] asangma commented on #262
@kat10140 Assigning to you also until we have a designated dev.

[2019-09-24 17:17] asangma commented on #252
@pr3tori4n
Thinking more on this, it might mean that a `pick-list-item` would need to accept a `pick-list-group`?

[2019-09-24 17:49] asangma opened #301 "Enhancement: Add compact mode for pick-list"
### Description
Add a compact mode for pick-list and pick-list-item.
I think value-list might be able to leverage some of this too.

### Acceptance Criteria
Ability to render the pick-list with no checkbox or radio button icon.

#### Desired New Behavior
pick-list with no checkbox or radio button icon.

#### Desired Change to Look and Feel
pick-list with no checkbox or radio button icon.

#### Out

[2019-09-24 17:50] asangma commented on #301
![image](https://user-images.githubusercontent.com/12503298/65536941-2bffa100-deb9-11e9-81ed-03814e01c2a2.png)

[2019-09-24 23:28] driskull commented on #262
@asangma we might not need a new component here.

We could

- Add an option to the action to auto expand on focus/hover
- Position the calcite-action using sticky positioning.

[2019-09-24 23:44] pr3tori4n commented on #252
Yea...we may need another grouping mechanism. Let me play with it and see what we can do with what we have.

[2019-09-25 00:03] pr3tori4n commented on #252
@kat10140 This enhancement is a complex one. I think it deserves a kick-off meeting where I can gather some more details from ya'll on how this should work.

[2019-09-25 00:10] kat10140 commented on #252
sure

[2019-09-25 06:36] driskull commented on #262
Sticky icky: https://medium.com/@elad/css-position-sticky-how-it-really-works-54cd01dc2d46

https://codepen.io/elad2412/pen/MZZVjw

[2019-09-25 18:08] driskull opened #302 "Enhancement: CSS avoid using shorthand flex"
### Description

Avoid using CSS shorthand flex for elements to avoid cross browser inconsistencies.

https://github.com/Esri/calcite-app-components/pull/296#discussion_r327743418

### Acceptance Criteria

Flex shorthand is replaced in all components

https://github.com/Esri/calcite-app-components/pull/296#discussion_r327743418

### Helpful Details

**Which Component:** All
**Example Use Case:** N

[2019-09-25 18:10] driskull opened #303 "Enhancement: Investigate using flexbox stretch instead of 100% height"
### Description

Enhancement: Investigate using flexbox stretch instead of 100% height

https://github.com/Esri/calcite-app-components/pull/296#discussion_r327741171

The following components are using 100% height.

![image](https://user-images.githubusercontent.com/1231455/65627789-f7591b80-df84-11e9-9a62-a1c8f91c5894.png)

Can we investigate using flexbox instead of the 100% height?

### Accepta

[2019-09-25 23:49] kat10140 commented on #213
@asangma can you comment on this for landscape?  you do have to scroll on landscape. should we just have a hamburger menu for landscape mode as well?

[2019-09-25 23:50] driskull commented on #213
Yeah, we need to redesign the nav. We're running out of room :)

[2019-09-26 18:07] pr3tori4n commented on #199
@kat10140 Please verify.

[2019-09-27 16:45] driskull commented on #265
@asangma installed. Can you double check CSS is good?

[2019-09-27 17:36] annelfitz opened #306 "Bug: Keyboard Users should be able to scroll content inside of a tip manager"
### Summary
When tabbing through the tip manager, the user should be able to use the up and down arrow keys to scroll through the content of the tip manager. Currently when the overall div of the tip manager is in focus, the up and down and left and right buttons navigate the user through each of the tips, when it should support scrolling. The user should just be able to navigate through the tips

[2019-09-27 17:41] annelfitz opened #307 "Bug: User should not be able to use arrow keys on tip manager navigation buttons"
### Summary
For the navigation buttons in the tip manager, the user should only be able to interact with these buttons using the space bar or the enter key. These should not respond to the arrow keys.

### Actual Behavior
When focused on the right arrow nav button, if you hit the left arrow key, it will go back. The function of this button should only be to view tips on the right, so we should avo

[2019-09-27 18:02] annelfitz opened #308 "Bug: Collapsible Block needs full focus outline"
### Summary
Currently the collapsible block focus outline is not showing up when it is collapsed. You can still use the "return" button to expand the content, but it is not showing a focus outline. After expanding it, there is just one line of the focus outline that is seen - shown in the following image:
<img width="328" alt="Screen Shot 2019-09-27 at 10 59 18 AM 1" src="https://user-images.githu

[2019-09-27 18:18] annelfitz opened #309 "Bug: Picklist - Secondary action button should not be used to check/uncheck box"
### Summary
The user should only be able to use the space bar to check/uncheck the box when focused on the entire element. When focused specifically on the secondary action button, you should not be able to check/uncheck the box.

### Actual Behavior
When focused specifically on the secondary action button, you can check/uncheck the box by using the space bar

### Expected Behavior
When focused sp

[2019-09-27 18:26] annelfitz opened #310 "Bug: Clicking the picklist secondary action icon should focus the surrounding button"
### Summary
When you click on the icon of the secondary action in the Picklist, it will not focus on the action button. You have to click in the area surrounding the icon in order for it to be selected/focused. Hopefully the following GIF helps explain what I'm seeing:
![picklist_icon](https://user-images.githubusercontent.com/51344676/65792821-65cee280-e119-11e9-9eca-286ece396f80.gif)

### Actual

[2019-09-27 18:36] annelfitz opened #311 "Bug: Calcite-flow-item menu needs to be more accessibility friendly"
### Summary
The calcite-flow-item menu-button needs to follow the guidelines found at this link: http://w3c.github.io/aria-practices/#menubutton
Specifically look into the `aria-haspopup` and `aria-expanded`

Also, when the user opens the menu and then continues tabbing through the page, the menu should close automatically.

### Actual Behavior
Menu stays open when focus is removed

### Expected B

[2019-09-27 18:41] annelfitz commented on #310
This is not just a problem here - also noticed in calcite-action-pad. cc/ @driskull

[2019-09-27 18:46] driskull commented on #310
Seems like we need `user-select: none` on SVG elements inside the `calcite-action`.

[2019-09-27 20:12] driskull commented on #310
Installed

[2019-09-27 20:14] driskull commented on #311
related to #58

[2019-09-27 20:15] driskull commented on #311
Can't do this yet due to stencil limitations

[2019-09-27 20:15] driskull commented on #58
Summary
The calcite-flow-item menu-button needs to follow the guidelines found at this link: http://w3c.github.io/aria-practices/#menubutton
Specifically look into the aria-haspopup and aria-expanded

Also, when the user opens the menu and then continues tabbing through the page, the menu should close automatically.

Actual Behavior
Menu stays open when focus is removed

Expected Behavior
Menu sho

[2019-09-27 20:15] #311 closed

[2019-09-27 20:17] jimmieego commented on #308
Related: https://github.com/Esri/calcite-app-components/issues/253

[2019-09-27 22:31] driskull opened #313 "Enhancement: CalciteAction text modes"
### Description

Enhancement: CalciteAction text display modes

Makes #262 unnecessary.

#### Desired New Behavior

API Proposal:

[code]

#### Desired Change to Look and Feel

- "hidden" will never show the text.
- "visible" will always show the text.
- "interactive" will show the text when element is hovered or focused.

[code]

cc @pr3tori4n @jcfranco @asangma for feedback.

[2019-09-30 16:25] asangma commented on #286
@driskull would we collapse to a `...` and on clicking that, use an ActionPad?

[2019-09-30 16:37] driskull commented on #286
@asangma would each group be collapsed?

[2019-09-30 18:04] pr3tori4n opened #317 "Enhancement: Improve Filter Label Accessibility"
Boulder:

From aXe:

[code]

_Originally posted by @driskull in https://github.com/Esri/calcite-app-components/pull/142_

[2019-09-30 18:05] pr3tori4n opened #318 "chore: Fix PickList Demo id duplicates"
sand: aXe is complaining about these ids not being unique.

_Originally posted by @driskull in https://github.com/Esri/calcite-app-components/pull/142_

[2019-09-30 18:12] pr3tori4n commented on #245
@jcfranco any update?

[2019-09-30 18:25] annelfitz commented on #310
Verified locally. Looks good

[2019-09-30 18:25] #310 closed

[2019-09-30 20:14] driskull commented on #245
This is something that should be handled internal to the component with a class.

- We shouldn't pollute the host with attributes that are not apart of the component's API.
- Attributes are for configuring elements or adjusting their behavior. This is just being used as a selector.

[2019-09-30 20:21] driskull commented on #286
What if each group acted like an tab (and had its own icon) if all being open doesn't fit?

Each group would need an icon configured for this though.

[2019-09-30 20:37] driskull commented on #154
Floating panel is gone now. Seems like this would need to be applied on the `calcite-popover` in calcite-components. Maybe just setting a `max-height` and `overflow-y:auto`

[2019-09-30 20:39] driskull commented on #237
Shouldn't each component that needs it have a `loading` property that a user can toggle loading on?

Internally, it should use the `calcite-loader` or `calcite-progress` in some way.

[2019-09-30 20:40] driskull commented on #237
duplicate of #248. closing

[2019-09-30 20:40] #237 closed

[2019-09-30 20:40] driskull commented on #248
Shouldn't each component that needs it have a loading property that a user can toggle loading on?

Internally, it should use the calcite-loader or calcite-progress in some way.

[2019-09-30 23:16] driskull commented on #313
Installed.

[2019-09-30 23:41] asangma commented on #262
Sticky doesn't love `flex`.

[2019-09-30 23:54] asangma commented on #262
If we want a dynamic version of this that auto-switches from an inline _style_ to a sticky one (i.e. bigger and with a bg-color & box-shadow) we'll prolly need a partial js solution.

[2019-10-01 00:00] driskull commented on #262
If we want an action that's bigger, we should be able to do it with just a class. Just like if you wanted a bigger button or a button with a different background.

[2019-10-01 00:30] asangma commented on #286
It's a good idea. Will be interesting for Map Viewer Beta team to figure out those icons.
TBH, a lot of this would be solve by moving some of the buttons to the right action-bar. 😬

[2019-10-01 00:33] asangma commented on #248
I think yes a prop.
And yes some (possibly all) will use loaders from calcite-components.

The prop will allow for additional steeze as needz.

[2019-10-01 16:12] driskull commented on #307
I can take this one

[2019-10-01 16:15] driskull commented on #306
I can take this

[2019-10-01 16:57] driskull commented on #308
This is because the `calcite-block` has `overflow:hidden`. Removing that fixes it and doesn't seem to cause any issues. @jcfranco can you confirm if that would be ok to do?

[2019-10-01 16:58] asangma commented on #9
is this still a thing?

[2019-10-01 17:28] kat10140 commented on #262
Meeting notes 10/1/19:
- decide if we want to start bringing properties/modified styles in
- right now calcite comps is doing that with size color theme.
- should we allow properties to affect styling or go with classes?
  - do we fall in line with what calcite comps is doing?

https://github.com/Esri/calcite-components/tree/master/src/components/calcite-switch#properties

[2019-10-01 18:01] driskull commented on #262
We need to decide if we want to allow styling via attributes/properties. It would allow for more consistency without having to do anything at a framework/application level but will make it more difficult for a user to override styles.

The theme property is a little different because it only modifies CSS variables for color and not sizing or positioning differently.

Part of me thinks that consist

[2019-10-01 18:21] jcfranco commented on #308
Installed.

[2019-10-01 18:29] pr3tori4n commented on #9
@kat10140 can you verify this?

[2019-10-01 18:36] pr3tori4n commented on #161
@asangma @kat10140 Can we consider this item done? We have an issue for implementing loading state.

[2019-10-01 18:43] pr3tori4n commented on #274
@kat10140 please verify.

[2019-10-01 18:44] pr3tori4n commented on #276
@driskull did you fix this?

[2019-10-01 18:45] driskull commented on #276
yes

[2019-10-01 18:47] driskull commented on #276
@pr3tori4n I assigned it to you for verification

[2019-10-01 18:47] driskull commented on #276
JC can you verify?

[2019-10-01 19:15] pr3tori4n commented on #280
@kat10140 Please verify.

[2019-10-01 19:26] pr3tori4n commented on #289
@asangma please verify.

[2019-10-01 19:27] pr3tori4n commented on #291
This will be part of the valueList split PR: #290

[2019-10-01 19:31] pr3tori4n commented on #298
[Classes should not be set on the host.](https://developers.google.com/web/fundamentals/web-components/best-practices#do-not-self-apply-classes.)
The direction class is resolved by this PR:
https://github.com/Esri/calcite-app-components/pull/285/files
The highlight class is resolved by this PR:
https://github.com/Esri/calcite-app-components/pull/290

The remaining props on the host are not a probl

[2019-10-01 19:32] pr3tori4n commented on #317
@driskull can you share how you are running axe? Is this a devDependency we can add and introduce an npm script for?

[2019-10-01 20:01] alocke commented on #308
@jcfranco I don't think you meant to assign this to me.

[2019-10-01 20:02] jcfranco commented on #308
@alocke My bad! 😅

[2019-10-01 20:05] driskull commented on #317
I'm using aXe toolbar for chrome.
I think there is some way we could automate this. I think franco had an issue open somewhere.

[2019-10-01 22:08] driskull opened #327 "Research: Investigate potential Stencil.js bug with TipManager rendering"
### Background

https://github.com/Esri/calcite-app-components/pull/321#discussion_r330285333

Research: Investigate potential Stencil.js bug with TipManager rendering

It appears that the `key=""` should not be necessary for this component to re-render in this instance.

### Desired Outcome

Find out if its a bug or if we're doing something wrong in the component.

[2019-10-01 22:15] pr3tori4n commented on #327
I don't think this is an issue for our repo - just open a bug in Stencil and add it here:
https://github.com/Esri/calcite-app-components/wiki/Stencil-Bugs-Tracking-Progress

[2019-10-02 15:58] jcfranco commented on #327
@pr3tori4n Noted. This issue is mostly for future reference and to remind me to investigate and prepare a test case.

BTW, I narrowed it down and using SVGs somehow is affecting render updates. I have a reproducible test here that I'll submit to StencilJS:

<details>
<summary>rendering bug test case</summary>

[code]
</details>

[2019-10-02 16:19] jcfranco commented on #327
Created issue: https://github.com/ionic-team/stencil/issues/1917 and updated the Stencil bug tracking wiki.

[2019-10-02 16:19] #327 closed

[2019-10-02 16:44] driskull opened #328 "Enhancement: Style CalciteAction with 'textDisplay="interactive"'"
### Description

Enhancement: Style CalciteAction with 'textDisplay="interactive"'

### Acceptance Criteria

Styling with animation for the interactive `textDisplay` that only shows text when the `calcite-action` is hovered or focused.

#### Desired New Behavior

N/A

#### Desired Change to Look and Feel

Styling with animation for the interactive `textDisplay` that only shows text when the `calci

[2019-10-02 16:51] driskull commented on #298
A `rtl` attribute is not an attribute we want to express on the host. This is only needed internally so it should be an internal class.

[2019-10-02 16:54] driskull commented on #287
No longer relevant since we don't have this component anymore

[2019-10-02 16:54] #287 closed

[2019-10-02 16:58] driskull commented on #262
So we would be adding Properties to the `calcite-action` to make it:

- Sized bigger (Maybe follow `calcite-component` sizing?)
- Pill shaped

We already added a `textDisplay` Property to make it:

- Auto show text on hover/focus (needs animation styling still)

@asangma is that correct?

[2019-10-02 17:00] driskull commented on #259
@asangma is it a valid use case to just have a `contextual` panel? or should we just close this as `known issue` or `invalid`?

[2019-10-02 17:01] driskull commented on #253
duplicate of #308

[2019-10-02 17:01] #253 closed

[2019-10-02 17:02] driskull commented on #246
duplicate of #306

[2019-10-02 17:02] #246 closed

[2019-10-02 17:04] driskull commented on #231
resolved with full width demo example.

[2019-10-02 17:04] #231 closed

[2019-10-02 17:13] driskull commented on #176
I think the `calcite-panel` that is `dismissible` helps with this. They could easily checked which are dismissed

[2019-10-02 17:15] #154 closed

[2019-10-02 17:21] driskull commented on #239
Seems to be functioning now.

[2019-10-02 17:21] #239 closed

[2019-10-02 17:23] jcfranco commented on #245
Thanks for the demo PR @pr3tori4n!

I think we should look at the pros/cons for each approach (please correct me if I'm wrong or if there's something I missed):

#### Custom attribute

*pros*

- simplifies the util CSS since it only targets the host

*cons*

- needs to be set on the host
- needs to use non-standard custom attribute
- may cause some confusion `<calcite-foo dir=rtl rtl />`
  - can b

[2019-10-02 17:35] jcfranco commented on #292
I'm not sure this is valid. `aria-expanded` is set on the host based on the state of the component. The user shouldn't be setting it and they are, the component will override so that the value is correct.

Ionic components do this too: https://github.com/ionic-team/ionic/blob/8a88dd25b66e72f30d2d3325ac3d3abe53396f74/core/src/components/checkbox/checkbox.tsx#L150-L154

[2019-10-02 17:38] jcfranco commented on #245
WRT setting stuff on the host, I think there are valid use cases. Ionic components do this. Here's an example where a component sets [classes, role and aria-attributes on the host](https://github.com/ionic-team/ionic/blob/8a88dd25b66e72f30d2d3325ac3d3abe53396f74/core/src/components/checkbox/checkbox.tsx#L150-L163).

[2019-10-02 17:44] driskull commented on #292
Ok. I'm fine with leaving this.

My suggestion was to just move this to the internals of the component so a user doesn't see it on the custom element and doesn't have the ability to change it.

[2019-10-02 17:50] driskull commented on #245
I'm ok with leaving the `role/aria-` attributes but a best practice for web components is to not self apply classes.

[2019-10-02 17:54] jcfranco commented on #245
I'd prefer not applying classes too. I just wanted to note that Stencil/Ionic already do this.

[2019-10-02 17:55] asangma commented on #218
I need help understanding the issue.

[2019-10-02 18:15] jcfranco commented on #292
Do you know how we can test if both approaches give the same a11y hints to screen readers? The Accessibility tab from Chrome Dev Tools only reports `aria-expanded` when its on the host.

[2019-10-02 18:16] pr3tori4n commented on #245
I don't really see how these are cons. Is there a measurable negative impact these introduce I"m not seeing? What's the harm in having a custom attribute on the host?

Main pro of custom attribute is:
* It can go on the host, while adding a class is to the host is an anti-pattern.
Other pro:
* Avoids the creation of additional HTML elements.

This is a limitation, not really a pro. The custom attr

[2019-10-02 18:17] driskull commented on #292
I know the `aXe` toolbar supports shadowDom but I'm not sure if the built in `accessibility` tab does.

[2019-10-02 18:31] driskull commented on #245
- It's confusing to the user.
  - User shouldn't be able to modify it or know about it.
  - competes with `dir`.
  - We shouldn't pollute the host with custom attributes that are not apart of the component's API.
- It isn't a valid custom attribute. It won't be added to `observedAttributes` on the element or documented in any fashion.

- Adding a custom attribute that isn't defined as one on the c

[2019-10-02 18:46] kat10140 commented on #218
actually the spacing seems to be fine/consistent on my windows machine on all browsers. @jcfranco i believe you found this bug at the testing party, any comment?

[2019-10-02 19:28] jcfranco commented on #276
Verified on https://esri.github.io/calcite-app-components/demos/calcite-tip-manager.html. Inspected shadow DOM and direction is no longer applied as a class.

[2019-10-02 19:28] #276 closed

[2019-10-02 19:51] jcfranco commented on #286
Using https://esri.github.io/calcite-app-components/demos/calcite-action-bar.html, I decreased the height of the action bar container and a scroll bar appears when sized too small. @asangma @driskull Can either of you confirm this is the expected behavior?

<img width="93" alt="Screen Shot 2019-10-02 at 12 48 09 PM" src="https://user-images.githubusercontent.com/197440/66076585-00149900-e513-11e9-

[2019-10-02 20:01] driskull commented on #286
Yes, this is expected for now. Until we can come up with a better way to responsively handle when icons don't all fit.

[2019-10-02 20:02] jcfranco commented on #286
Thanks! Closing as verified then.

[2019-10-02 20:02] #286 closed

[2019-10-02 20:17] jcfranco commented on #218
Note the text alignment is off in Edge. There is a different font-family being used there, so I'm not sure if that's the culprit.

**FF/Chrome/Safari**

<img width="1659" alt="Screen Shot 2019-10-02 at 1 07 14 PM" src="https://user-images.githubusercontent.com/197440/66077957-ea54a300-e515-11e9-8eaa-9fcf562f6ee7.png">

**Edge**

<img width="1653" alt="Screen Shot 2019-10-02 at 1 07 31 PM" src="htt

[2019-10-02 20:36] kat10140 commented on #218
OH i see what you mean now. I don't think it's a font thing bc Chrome/FF/Edge are all the same arial looking font on Windows, but Edge does have that different alignment.

[2019-10-02 20:54] asangma commented on #218
Looks like Edge *is* getting the wrong font tho.

[2019-10-02 21:20] jcfranco commented on #152
@kat10140 Can you help verify?

[2019-10-02 21:22] kat10140 commented on #152
Badge is on master readme 👍 build is unknown 😅

[2019-10-02 21:23] #127 closed

[2019-10-02 21:25] jcfranco commented on #152
Ah, I think it's because branch builds aren't enabled. I'll submit a follow-up PR.

[2019-10-02 21:27] kat10140 commented on #152
I just opened Travis and the build is passing

[2019-10-02 21:31] asangma commented on #176
So a panel can get a `dismissed` earmark and be hidden.
To bring them back, app just removes the dismissed earmark.
?

[2019-10-02 21:33] driskull commented on #176
yep... if by earmark you mean attribute 👂

[2019-10-02 21:38] asangma commented on #176
lol yeah

[2019-10-02 21:40] kat10140 commented on #152
yay build is passing! Closing

[2019-10-02 21:41] #152 closed

[2019-10-02 21:43] asangma commented on #176
@kevindoshier does that work for you?
I should also say that in "preview mode" the primary action-bar should not be hidden.

[2019-10-02 21:43] kat10140 opened #331 "Enhancement: Adding a sort slot for pick and value list"
Add a slot to pick-list and value-list so Adelheid can wire up her functionality to be able to sort items in the respective lists.

This slot is to sit below the filter component and above the list.  I think Mitch has the designs.

[2019-10-02 21:47] kevindoshier commented on #176
Im not understanding what its trying to solve, is it to hide the entire panel including the actionbar?

[2019-10-02 21:51] asangma commented on #176
it's to be able toggle all open panels on/off. E.g. map preview.
but it'd be geed to keep at least the primary action-bar visible when the panels are hidden.

it's also to be able to toggle visibility of a panel w/o destroying its contents.

[2019-10-02 21:51] kevindoshier commented on #176
I think it would be easier to have a "preview" earmark on the shell then

[2019-10-02 21:53] kat10140 commented on #218
Ok, all windows browsers look like they're getting that same font as Edge is all i'm sayin, so we'll have to think about those as well

[2019-10-02 21:54] asangma commented on #176
ah. @driskull wut say u?

[2019-10-02 21:54] kevindoshier commented on #176
How would this handle the header/footer, or if panels have floating windows, action pads, etc open, will it hide those as well?

[2019-10-02 21:55] driskull commented on #176
I'm not sure I understand the issue completely. Maybe we can meet about it?

[2019-10-02 21:55] asangma commented on #176
k

[2019-10-02 21:55] kevindoshier commented on #176
Im pretty swamped today, lets try to meet tomorrow

[2019-10-03 00:11] pr3tori4n opened #333 "Enhancement: PickList/ValueList Filter Label"
### Description
I've put the placeholder on an aria-label attribute for now. I'm opening this issue to tackle what sort of labeling we want to support for the internal filters. Do we want to add a prop that allows the pickList author to set the label? Do we need to add a slot for this to support HTML or will plain text work?
### Acceptance Criteria
~@asangma @kat10140 could you do some requirement

[2019-10-03 15:13] annelfitz commented on #308
Looks good - but I am noticing this one small thing: there is a bit of a flicker of the outline when you open the block, not sure if this is expected or not
![calcite_block_flicker](https://user-images.githubusercontent.com/51344676/66139646-a2855880-e5b5-11e9-9584-23c66b93a3ec.gif)

[2019-10-03 15:26] jcfranco commented on #308
@asangma Can you take a look at this? ☝️👀

[2019-10-03 15:27] annelfitz commented on #306
Just tested locally and the scroll is still not working where I would expect. When the entire tip manager is highlighted, that's when I would expect to be able to use the arrows to scroll through the content, but this is still not possible. Now it is possible to scroll once the link inside the tip is in focus, but I think the scrolling should be set when the focus is around the whole text, not jus

[2019-10-03 15:32] annelfitz commented on #306
Ok I spoke too soon - this works in Firefox. A highlight appears around the content of the tip and scrolling is good! Not sure why it wasn't working in chrome ^^^
![Screen Shot 2019-10-03 at 8 30 29 AM](https://user-images.githubusercontent.com/51344676/66141195-26d8db00-e5b8-11e9-8477-87c77b41daf1.png)

[2019-10-03 15:40] annelfitz commented on #307
Looks good!

[2019-10-03 16:04] annelfitz opened #335 "Bug: Clicking tip manager nav buttons should cause focus outline (all browsers but chrome)"
### Summary
Clicking on the tip manager navigation buttons should cause a focus outline around the button specifically - but instead is causing the entire tip manager to be focused. This is occurring in all browsers (Safari, Firefox, Edge) except Chrome.

### Actual Behavior
Example in Safari:
![calcite_no_focus](https://user-images.githubusercontent.com/51344676/66143608-4f62d400-e5bc-11e9-887e-8

[2019-10-03 16:50] jcfranco commented on #131
@kat10140 Can you triage this one and determine whether this is something we should handle or leave it to app dev?

[2019-10-03 17:11] kat10140 commented on #252
In standup today, we decided that this isn't super high priority so will come back to this and schedule later

[2019-10-03 19:42] asangma commented on #308
The flicker is due to the animation on `.content`.
Fix installed. @annelfitz :)

[2019-10-03 20:24] annelfitz commented on #308
Looks good now!

[2019-10-03 20:46] jcfranco commented on #308
Closing as verified based on ☝️. Thanks @annelfitz!

[2019-10-03 20:46] #308 closed

[2019-10-03 23:59] driskull commented on #248
Can we maybe split these up into separate issues and close this one?

Each one of these components will have the same `loading` property but what they do internally will be different between each one.

Some will use `<calcite-loader>`, some will use `<calcite-progress>` and some may use both. So the designs will be a little different between them.

Maybe...

For following components:
- [ ] action

[2019-10-04 00:04] driskull commented on #161
Considering this as done.

@asangma @kat10140 Can you create separate issues for adding `disabled` to the components that need it?

[2019-10-04 00:04] #161 closed

[2019-10-04 16:21] pr3tori4n commented on #252
k. Unassigning myself until this is ready to be worked on.

[2019-10-04 16:27] pr3tori4n commented on #248
When @asangma and I last discussed this, I was just going to add the prop and Alan was going to add styling based on that prop as phase 1 of this. What Matt's describing sounds like phase 2.

Is the new plan to skip phase 1 and go straight into phase 2?

[2019-10-04 16:29] pr3tori4n commented on #213
@kat10140 please verify.

[2019-10-04 16:32] kat10140 commented on #213
Verified. Looks great!

[2019-10-04 16:33] kat10140 commented on #213
it wont let me change labels??

[2019-10-04 16:33] #213 closed

[2019-10-04 16:33] driskull commented on #248
Seems like phase 1 and phase2 should go together or just adding the prop won't do anything.

I think it's more than styling too. It's altering the DOM with the loading components.

[2019-10-04 18:21] pr3tori4n commented on #331
@kat10140 I've added a slot. @asangma if you'd like to update the styling go for it. The slot is merged into master but unreleased so we can change if necessary.

[2019-10-04 18:24] pr3tori4n commented on #279
@kat10140 please verify.

[2019-10-04 22:42] jcfranco commented on #205
Installed.

[2019-10-04 23:10] driskull commented on #262
From what we discussed in the meeting:

- New component that can act as a FAB.
  - extends action
  - is bigger
  - is rounded or pill shaped
- Action doesn't need sizing, we just need a FAB

Need to figure out:

- Discuss if `calcite-action` needs textDisplay or if its just the nature of the FAB.
  - Seems like we can leave it on Action as its nice to have.
- FAB
  - Does it need a size option??

[2019-10-04 23:46] driskull commented on #262
Talked to @asangma ...

- Will create `calcite-fab` component.
- Alan will style it bigger and pill shaped
- Alan will position it absolute. If it needs to be sticky that could change if necessary.

[2019-10-07 19:44] pr3tori4n opened #338 "Enhancement: PickListItem Event Bubbles enable"
### Description
The PickList is stopping propagation of the pickListItem change event. @dhrumil83 is requesting this event be available so he can listen to checked/unchecked of a single item.

### Acceptance Criteria
#### Desired New Behavior
* stop propagation is removed from PickList and ValueList so child events bubble up.

**Which Component:** `<calcite-pick-list>` `<calcite-value-list>`
**Exa

[2019-10-07 19:44] pr3tori4n commented on #338
@kat10140 @asangma can you vet this request. Is there any reason we shouldn't do this that I'm missing?

[2019-10-07 20:00] pr3tori4n opened #339 "Enhancement: PickList & ValueList - Add a prop to enable/disable the filter"
### Description
The filter always appears right now, users want to be able to disable it.

### Acceptance Criteria
#### Desired New Behavior
* Filter is disabled by default
* prop can be set to enable the filter.

### Helpful Details

**Which Component:** `<calcite-pick-list>` `<calcite-value-list>`

========================

## API Design

[code]

[2019-10-07 20:01] pr3tori4n commented on #339
@asangma @kat10140 fyi.

[2019-10-07 22:08] driskull opened #340 "Bug: CalciteFilter shows "x" clear button in Edge but it doesn't return unfiltered items"
### Summary

Bug: CalciteFilter shows "x" clear button in Edge but it doesn't return unfiltered items

### Actual Behavior

Bug: CalciteFilter shows "x" clear button in Edge but it doesn't return unfiltered items

### Expected Behavior

Either:

- The clear button is not displayed.
- The clear button shows all items again.

### Reproduction Steps

1. Open sample with a filter in edge
1. Type in a

[2019-10-07 23:19] asangma commented on #278
pick-list shouldn't allow re-ordering...unless you're talking about sorting based on a value.

[2019-10-07 23:41] pr3tori4n commented on #278
@asangma This request came in before the split. I'll update the issue title. This is for drag and drop on value list.

[2019-10-07 23:58] asangma commented on #176
Per our discussion, I think we can close this.

[2019-10-07 23:58] #176 closed

[2019-10-08 00:07] pr3tori4n commented on #339
@driskull @jcfranco added an API design

[2019-10-08 16:18] driskull commented on #339
👍

[2019-10-08 16:58] kevindoshier opened #343 "Bug: Flow animation kicks in if the edit button is clicked on the BasemapLayerList jsapi widget"
### Summary
Flow animation kicks in if the edit button is clicked on the BasemapLayerList jsapi widget

### Actual Behavior

### Expected Behavior
The animation doesnt start again
### Reproduction Steps

1

![basemaplayerlist](https://user-images.githubusercontent.com/11093161/66416197-23779200-e9b2-11e9-981e-9fc5bdb40234.gif)

### Relevant Info

[2019-10-08 17:19] asangma commented on #338
I don't see an issue here.

[2019-10-08 21:24] driskull commented on #248
@kat10140 can you create individual issues for adding a `loading` property and a `disabled` property for the above components? I'll create one for the `flow-item` for now.

[2019-10-08 21:28] driskull opened #346 "Enhancement: CalciteFlowItem Add loading & disabled properties"
### Description

Enhancement: CalciteFlowItem Add loading & disabled properties

### Acceptance Criteria

Loading and disabled boolean properties on the component.

#### Desired New Behavior

- Loading should display a visual loading state on the component.
- Disabled should display a visually disabled state on the component and prevent user interaction as necessary.
- Loading should use any appro

[2019-10-08 21:29] pr3tori4n opened #347 "Refactor: PickListItem - move rtl styling to the shadow dom."
### Acceptance Criteria
* pick-list-item no longer uses an attribute for rtl styling

#### Desired New Behavior
none
#### Desired Change to Look and Feel
none

### Helpful Details
**Which Component:** <calcite-pick-list-item>

[2019-10-08 21:36] #347 closed

[2019-10-08 21:39] asangma opened #348 "New Component: Card"
### Description
Cards contain content and actions about a single subject.
See [Material card](https://material.io/components/cards/#anatomy).

#### User Stories
Developer wants to add a highly visual entry point to more content or a larger set of configurations.

### Acceptance Criteria
![image](https://user-images.githubusercontent.com/12503298/66436320-95b09c80-e9db-11e9-8ce7-d2e99e3c1b25.png)

[2019-10-08 23:25] asangma commented on #278
cool cool

[2019-10-09 00:03] driskull commented on #343
@kevindoshier when do you need this in by? I have a PR open and good to go. just wondering if we need to patch this week or if it can wait till next tuesday.

[2019-10-09 01:09] kevindoshier commented on #343
Next tuesday will be fine, as long as we have it for beta 1 of the viewer I think we are good

[2019-10-09 16:36] AdelheidF opened #354 "Enhancement: calcite-panel without header text but close icon"
### Description
I changed from `calcite-shell-floating-panel` to `calcite-panel` and added `dismissible=true`. Then the close icon appeared on the wrong side.

![1](https://user-images.githubusercontent.com/44481292/66501281-f8577600-ea77-11e9-8216-e672f52a3af7.png)

Then we noticed that if we add an empty div for the `content-header` slot it works. But we don't need any text in the header. Could

[2019-10-09 20:53] asangma opened #356 "Enhancement: ValueList - Add ability to drag and drop with keyboard"
### Summary
User should be able to tab into the drag handle, hit space, then use the up/down arrows to move items.

### Actual Behavior
Can't tab into drag handle.

### Expected Behavior
Be able to tab into drag handle.

### Reproduction Steps

1. demo page

### Relevant Info
See how Bookmarks widget works in edit mode.

cc @driskull @kat10140

[2019-10-09 21:44] kat10140 opened #357 "Enhancement: CalciteAction - add loading and disabled properties"
### Description

Enhancement: CalciteAction add loading & disabled properties

### Acceptance Criteria

Loading and disabled boolean properties on the component.

#### Desired New Behavior

- Loading should display a visual loading state on the component.
- Disabled should display a visually disabled state on the component and prevent user interaction as necessary.
- Loading should use any appropr

[2019-10-09 21:45] kat10140 opened #358 "Enhancement: CalciteBlock - add loading and disabled properties"
### Description

Enhancement: CalciteBlock add loading & disabled properties

### Acceptance Criteria

Loading and disabled boolean properties on the component.

#### Desired New Behavior

- Loading should display a visual loading state on the component.
- Disabled should display a visually disabled state on the component and prevent user interaction as necessary.
- Loading should use any appropri

[2019-10-09 21:48] kat10140 opened #359 "Enhancement: CalciteFlowItem - add loading & disabled properties"
### Description

Enhancement: CalciteFlowItem add loading & disabled properties.
CalciteFlowItem will then pass down props to CalcitePanel.
All styles for CalcitePanel will live in the panels scss file.

### Acceptance Criteria

Loading and disabled boolean properties on the component.

#### Desired New Behavior

- Loading should display a visual loading state on the component.
- Disabled should d

[2019-10-09 21:50] kat10140 opened #360 "Enhancement: CalciteShellPanel - add loading & disabled properties"
### Description

Enhancement: CalciteShellPanel add loading & disabled properties

### Acceptance Criteria

Loading and disabled boolean properties on the component.

#### Desired New Behavior

- Loading should display a visual loading state on the component.
- Disabled should display a visually disabled state on the component and prevent user interaction as necessary.
- Loading should use any app

[2019-10-09 21:52] kat10140 opened #361 "Enhancement: CalcitePickList - add loading & disabled properties"
### Description

Enhancement: CalcitePickList add loading & disabled properties

### Acceptance Criteria

Loading and disabled boolean properties on the component.

#### Desired New Behavior

- Loading should display a visual loading state on the component.
- Disabled should display a visually disabled state on the component and prevent user interaction as necessary.
- Loading should use any appro

[2019-10-09 21:53] kat10140 opened #362 "Enhancement: CalciteValueList - add loading and disabled properties"
### Description

Enhancement: CalciteValueList add loading & disabled properties

### Acceptance Criteria

Loading and disabled boolean properties on the component.

#### Desired New Behavior

- Loading should display a visual loading state on the component.
- Disabled should display a visually disabled state on the component and prevent user interaction as necessary.
- Loading should use any appr

[2019-10-09 22:05] asangma opened #364 "Bug: bg-color refactor broke some lists"
### Summary
Post #345 pick-list and value-list need bg-color set to transparent.

### Actual Behavior
bg-color is white

### Expected Behavior
bg-color should be transparent.

### Reproduction Steps

1. go to pick-list or value-list demo

### Relevant Info

cc @kat10140 @pr3tori4n

[2019-10-09 22:15] kat10140 commented on #248
Made individual issues. Closing

[2019-10-09 22:15] #248 closed

[2019-10-09 22:25] AdelheidF opened #366 "Bug: calcite-panel header spacing"
### Summary

Once I upgraded to 4.1.0 the header spacing inside my flow-item is not correct anymore.
Matt noticed that if you add a header action it's fine.

old:
![3](https://user-images.githubusercontent.com/44481292/66525005-e6da9200-eaa8-11e9-8f90-9a97308de7de.png)

new:
![2](https://user-images.githubusercontent.com/44481292/66524987-dcb89380-eaa8-11e9-88d3-90a6322197b0.png)

### Actual Behav

[2019-10-09 22:27] AdelheidF opened #367 "Bug: calcite-panel - footer buttons width not correct"
### Summary

Once I upgraded to 4.1.0 the footer buttons don't work as expected.
Done and Cancel have a width of `half` and together should fill the whole panel's width.

![4](https://user-images.githubusercontent.com/44481292/66525100-3a4ce000-eaa9-11e9-8ac2-1af67ec993db.png)

### Actual Behavior

### Expected Behavior

### Reproduction Steps

https://energy.mapsdevext.arcgis.com/apps/mapviewer/i

[2019-10-09 22:41] driskull commented on #367
Very odd but on the mapviewer prototype I see this:

![image](https://user-images.githubusercontent.com/1231455/66525720-35892b80-eaab-11e9-8bb4-54d7691e549f.png)

But on the local build I see this:

![image](https://user-images.githubusercontent.com/1231455/66525741-45a10b00-eaab-11e9-8497-534ad56aa06f.png)

@jcfranco we may need to investigate what's going on with those missing CSS styles.

[2019-10-09 22:45] driskull commented on #366
@asangma this seems to be an issue in the `calcite-panel`. The header without a button on the left or right needs more padding.

[2019-10-09 23:03] asangma commented on #364
💥

[2019-10-09 23:03] #364 closed

[2019-10-10 15:21] asangma opened #368 "Enhancement: Make FlowItem back button icon more prominent"
### Description
End users have not always noticed the back button in FlowItem. Needs to be more prominent.

### Acceptance Criteria
More prominence.

#### Desired New Behavior
Use the "filled" version of the icons.

#### Desired Change to Look and Feel
Use the "filled" version of the icons.

**Which Component:**  FlowItem

[2019-10-10 15:55] jcfranco commented on #82
Installed.

Changelog will be autogenerated by picking up any commits between releases that conform to the [`Conventional Commits`](https://www.conventionalcommits.org/en/v1.0.0/#summary) spec. See [PR](#353) for more info.

[2019-10-10 16:05] asangma commented on #368
@mitc7862 back icon big nao

[2019-10-10 16:05] #368 closed

[2019-10-10 16:15] asangma opened #370 "Enhancement: block-section. Use small calcite-switch for switch mode"
### Description
use `scale="s"`
`<calcite-switch switched={open} onChange={this.toggleSection} scale="s" />`

**Which Component:** block-section
**Example Use Case:**
Fix this
![image](https://user-images.githubusercontent.com/12503298/66587037-839b3f00-eb3e-11e9-9be6-37ab182aa027.png)

[2019-10-10 16:15] asangma commented on #370
cc @AdelheidF

[2019-10-10 16:37] AdelheidF commented on #370
Also, do we want the horizontal line between the header and the content?

![image](https://user-images.githubusercontent.com/44481292/66588535-8d727180-eb41-11e9-8029-8b5515ee2e5d.png)

[2019-10-10 17:27] #370 closed

[2019-10-10 18:15] asangma opened #372 "Enhancement: block-section move border to bottom"
### Description
From https://github.com/Esri/calcite-app-components/issues/370#issuecomment-540670487

Move border to bottom of section.

### Acceptance Criteria
clearer section separation

#### Desired New Behavior
no change

#### Desired Change to Look and Feel
border on bottom of section.

**Which Component:** block-section

cc @AdelheidF

[2019-10-10 20:09] asangma commented on #372
I'll have a rule in there for :last-child to not have a border. 👍

[2019-10-10 21:41] #82 closed

[2019-10-10 22:56] asangma commented on #366
Yeah...right now, the Action is defining the header height. I'll figure a good way to consistently but dynamically set the height.

[2019-10-10 23:43] asangma commented on #366
@driskull Do you think we could redo the **panel** header so that it matches the **flow-item** header structure/props?

Right now they're similar in layout but different in how they are put together.

This may be moot depending on the answer to this question: does **panel** need both leading and trailing header content? Seems like our use cases here are for putting stuff in the popover in which ca

[2019-10-10 23:44] asangma commented on #366
I realize this is a different issue. For now I can just add a min-height to headers.

[2019-10-10 23:46] asangma opened #374 "Question: Does calcite-panel need headerLeadingContent?"
### Question
Do you think we could redo the panel header so that it matches the flow-item header structure/props?

Right now they're similar in layout but different in how they are put together.

This may be moot depending on the answer to this question: does panel need both leading and trailing header content? Seems like our use cases here are for putting stuff in the popover in which case we'd o

[2019-10-10 23:47] asangma commented on #374
from https://github.com/Esri/calcite-app-components/issues/366#issuecomment-540842536

[2019-10-11 00:24] driskull commented on #366
It does :)

The flow-item uses the panel inside of it. The reason for the leading button is the back arrow action.

[2019-10-11 00:25] driskull commented on #374
Needs it for the back button on the flow-item.

[2019-10-11 14:38] kevindoshier commented on #343
Nice!  Looks good today, thanks!  Im not able to change labels or anything, but this one is fixed

[2019-10-11 15:34] #343 closed

[2019-10-11 15:34] driskull commented on #343
Thanks Kevin!

[2019-10-11 16:49] asangma commented on #366
@driskull LOL...I see

[2019-10-11 16:49] #366 closed

[2019-10-11 16:57] asangma commented on #372
@AdelheidF Installed!

[2019-10-11 16:57] #372 closed

[2019-10-11 16:58] #254 closed

[2019-10-11 20:46] kat10140 commented on #313
Verified!

[2019-10-11 20:46] #313 closed

[2019-10-11 20:51] kat10140 commented on #280
@pr3tori4n how are the `calcite-pick-list-items` disabled? I don't see a prop or anything

[2019-10-11 21:18] kat10140 opened #377 "Bug: Pick-List Radio buttons don't select in the demo"
### Summary
Clicking a radio button doesn't select the item

### Actual Behavior
Not selecting the item

### Expected Behavior
Selecting the item

![radio button](https://user-images.githubusercontent.com/48069902/66685329-07cdef00-ec31-11e9-9a03-4da0d739f729.gif)

[2019-10-11 21:21] kat10140 commented on #279
Verified

[2019-10-11 21:21] #279 closed

[2019-10-11 21:23] kat10140 commented on #279
@pr3tori4n looks like label editing isn't working, will make another issue for that

[2019-10-11 21:33] kat10140 commented on #274
Verified!

[2019-10-11 21:33] #274 closed

[2019-10-11 22:59] kat10140 commented on #205
Verified! Closing (sorry I forgot to triage @jcfranco 🙃)

[2019-10-11 22:59] #205 closed

[2019-10-11 23:01] kat10140 commented on #199
Verified! Closing

[2019-10-11 23:01] #199 closed

[2019-10-11 23:02] kat10140 commented on #192
Verified

[2019-10-11 23:02] #192 closed

[2019-10-11 23:06] kat10140 commented on #9
Verified

[2019-10-11 23:06] #9 closed

[2019-10-14 16:44] kat10140 commented on #280
Looks like the state is working, though the 'graying out' isn't.  See gif below @pr3tori4n @asangma

![pick list item disabled state](https://user-images.githubusercontent.com/48069902/66768331-30d7c500-ee67-11e9-9b67-cf502c514efa.gif)

[2019-10-14 16:47] kat10140 commented on #280
Nevermind. This is working on the demo page, but not on my local @asangma @pr3tori4n.
Verified.

[2019-10-14 16:47] #280 closed

[2019-10-14 16:55] kat10140 commented on #280
Alan will work on the style here https://github.com/Esri/calcite-app-components/issues/361

[2019-10-14 20:00] asangma commented on #217
@kat10140 INSTARLED!

[2019-10-14 20:05] asangma commented on #360
I think with the disabled & loading states for Action and FlowItem, we may not need this.
What y'all say? @driskull @jcfranco

[2019-10-14 22:07] kat10140 commented on #217
Lewkin gewd!

[2019-10-14 22:07] #217 closed

[2019-10-15 00:13] jcfranco commented on #367
@driskull Setting the footer slot to 100% fixes the issue, but I'm not sure if this is a regression or not since I see the same issue from the description w/ `calcite-components@beta.10` + `calcite-app-components@v4.0.0` ([pen](https://codepen.io/jcfranco-the-scripter/pen/JjjXrOE)) and `calcite-app-components@v4.1.0` ([pen](https://codepen.io/jcfranco-the-scripter/pen/jOOqGLR)).

@AdelheidF Which

[2019-10-15 00:18] AdelheidF commented on #367
@esri/calcite-components@1.0.0-beta.10

"@esri/calcite-app-components": "3.1.0",
"@esri/calcite-ui-icons": "^2.4.0",

[2019-10-15 14:33] janett-baresel opened #383 "New Component: Custom select"
### Description
Scene Viewer team would like a "custom" select element, where the entries can be styled in CSS as well as contain images/icons.
Examples from Scene Viewer and Map Viewer are here:
![grafik](https://user-images.githubusercontent.com/11048042/66841530-1df9e900-ef6a-11e9-8f87-3f2890be969e.png)

![grafik](https://user-images.githubusercontent.com/11048042/66841909-a5475c80-ef6a-11e9-90

[2019-10-15 15:51] kat10140 commented on #360
Ok can we close this one? @driskull @asangma

[2019-10-15 16:53] kat10140 commented on #268
🤙🏼Closing

[2019-10-15 16:53] #268 closed

[2019-10-15 17:44] jcfranco commented on #37
Installed.

[2019-10-15 17:49] jcfranco opened #385 "Testing: Update e2e tests to include a11y helper"
With #37 installed, e2e tests for all components should be updated to cover a11y.

@driskull

- [x] `calcite-action`
- [x] `calcite-action-bar`
- [x] `calcite-action-group`
- [x] `calcite-action-pad`
- [x] `calcite-flow`
- [x] `calcite-flow-item`
- [x] `calcite-panel`
- [x] `calcite-shell`
- [x] `calcite-shell-panel`

@jcfranco

- [x] `calcite-block`
- [ ] `calcite-block-section`
- [x] `calcite-ex

[2019-10-15 18:10] pr3tori4n commented on #331
@kat10140 installed please verify.

[2019-10-15 18:10] #37 closed

[2019-10-15 18:16] pr3tori4n commented on #291
@driskull please verify.

[2019-10-15 18:16] #291 closed

[2019-10-15 18:16] pr3tori4n commented on #288
@kat10140 please verify.

[2019-10-15 18:19] pr3tori4n commented on #339
@kat10140 please verify.

[2019-10-15 18:19] #245 closed

[2019-10-15 18:21] pr3tori4n commented on #338
@kat10140 please verify.

[2019-10-15 19:00] pr3tori4n commented on #374
@asangma can you help me understand the goal here? How are they different, and what would making them more consistent solve?

[2019-10-15 19:45] kat10140 commented on #331
@pr3tori4n is this installed on master? There are no commits or PRs referencing in here

[2019-10-15 19:47] kat10140 commented on #331
Oh I see you call it menu-actions. Verified

[2019-10-15 19:47] #331 closed

[2019-10-15 20:26] pr3tori4n commented on #385
@jcfranco @driskull
Can we either put component assignments in the first comment for each component or split this into 3 issues, assigned to us individually with the components we each should handle?

[2019-10-15 20:48] jcfranco commented on #292
Based on testing (axe) and a few resources I found (see below), there doesn't seem to be an issue w/ either approach, but I do kind of prefer hiding these details from the user if possible.

https://archive.substantial.com/blog/2014/02/05/accessibility-and-the-shadow-dom/
https://developer.paciellogroup.com/blog/2012/07/notes-on-web-components-aria/
http://marcysutton.github.io/accessibility-of-we

[2019-10-15 20:58] jcfranco commented on #385
👍Please review and update assignments if needed.

[2019-10-15 21:25] jcfranco commented on #367
@AdelheidF I see the same w/ 3.1.0: https://codepen.io/jcfranco-the-scripter/pen/eYYzNdw?editors=1000 Is there something I missed?

[2019-10-15 21:26] pr3tori4n commented on #356
@driskull did you use sortable for the Bookmarks widget? If so can I scavenge the code you used to get that working - can you share a code snippet?

[2019-10-15 21:28] kat10140 commented on #278
Verified and closin

[2019-10-15 21:28] #278 closed

[2019-10-15 21:36] kat10140 commented on #288
Verified & closin'

[2019-10-15 21:36] #288 closed

[2019-10-15 21:39] kat10140 commented on #339
Verified.

[2019-10-15 21:39] #339 closed

[2019-10-15 21:51] kat10140 commented on #338
Verified!

[2019-10-15 21:51] #338 closed

[2019-10-15 22:52] #292 closed

[2019-10-15 22:52] driskull commented on #356
Yes, its in the bookmarks view.

[2019-10-15 22:56] jcfranco commented on #367
I updated the pens based to better match the reported use case, and I noticed the following difference:

**3.1.0**

<img width="365" alt="Screen Shot 2019-10-15 at 3 33 31 PM" src="https://user-images.githubusercontent.com/197440/66874942-855f6b00-ef61-11e9-83a3-d24fd3ec0641.png">

**4.0.0**

<img width="405" alt="Screen Shot 2019-10-15 at 3 33 38 PM" src="https://user-images.githubusercontent.com

[2019-10-16 17:21] dhrumil83 opened #390 "Enhancement: Ability to control calcite value list item size"
### Description
calcite-value-list-item uses calcite-pick-list-item, and the client does not have access to the shadow dom to control it's size

#### Desired New Behavior
Ability to make the height smaller:
![image](https://user-images.githubusercontent.com/14285436/66942765-9dd19300-effe-11e9-91f1-fd9c682d4f1f.png)

[2019-10-16 22:31] #374 closed

[2019-10-16 22:34] asangma commented on #383
@driskull @janett-baresel I think the first example could be handled with the pick-list using the `compact` attribute.

The second example would be addressed with the "compact" or "list mode" of the card component (#348). @mitc7862 should be doing the designs.

[2019-10-16 22:39] asangma commented on #383
This is what compact mode looks like in pick-list:
![image](https://user-images.githubusercontent.com/12503298/66964268-f6b72080-f02a-11e9-8048-0d1f460c83c0.png)

The (i) is slot.

I'm not sure if this has gone out in a release yet. (Doesn't show up in the IO demos.)

[2019-10-16 23:19] asangma commented on #362
@pr3tori4n I can take this one if you want. It should be pretty much the same as pick-list.

[2019-10-17 05:36] driskull commented on #367
@asangma can you adjust the styling of these buttons as necessary?

I'm not sure how they are supposed to look.

[2019-10-17 05:42] driskull opened #391 "Enhancement: Animation styling for CalciteAction with text-display="interactive""
### Description

Enhancement: Animation styling for CalciteAction with text-display="interactive"

#### Desired New Behavior

Text is animated instead of just showing instantly

### Helpful Details

**Which Component:** calcite-action
**Example Use Case:**

[2019-10-17 12:40] yobeidat opened #392 "Question: how to increase calcite-shell-panel width"
### Question
how to increase width of calcite-shell-panel? for example to 500px.
### Helpful Details
In calcite-shell-full-window demo, I want to increase the width of the right panel(contextual-panel) but the width property does affect the with of the panel.
**Topic:**

**Context:**

[2019-10-17 14:41] kevindoshier opened #393 "Bug: Adding action pad to contextual action bar causes some styling issues"
### Summary
After the first rendering of the action pad, if I hide then show it again, I get scroll bars in the shell

To see this try this link, and click the help action on bottom right

https://energy.mapsdevext.arcgis.com/apps/mapviewer/index.html

![action_bar_action_pad](https://user-images.githubusercontent.com/11093161/67019448-89020780-f0b1-11e9-83d1-7adc848d14f4.gif)

### Actual Behavior

[2019-10-17 20:06] kat10140 commented on #377
This has been fixed.

[2019-10-17 20:06] #377 closed

[2019-10-17 20:53] kat10140 opened #395 "Bug: Value-list label editing not working"
### Summary
Label editing isn't working. Value list doesn't have a labelEditingEnabled property like in the initial design. (Did we decide to change this? not on the issue- I remember you saying something about using HTML for this)

### Actual Behavior
Label can't be edited.

![label editing not working](https://user-images.githubusercontent.com/48069902/67046644-84574680-f0e5-11e9-8539-955ffb223c

[2019-10-17 21:06] AdelheidF opened #396 "Enhancement: calcite-pick-list - add `X` to empty filter input + change filter text + update scrolling"
### Description
calcite-pick-list

(1)
To remove an entered filter string it would be useful to clear it with an X click instead of having to delete the string.

(2)
Is it possible to change the string in the filter?

Design
<img src=https://user-images.githubusercontent.com/44481292/67066856-1765a000-f129-11e9-8364-d8a9a752acc3.png width=250/>
Component:
<img src=https://user-images.githubusercon

[2019-10-17 21:22] AdelheidF commented on #366
Looks good now.

[2019-10-17 21:24] AdelheidF commented on #372
Looks good now.

Do you submit, fix and verify your issues? :)

[2019-10-17 21:47] #307 closed

[2019-10-17 21:48] driskull commented on #306
This isn't something we have control of. The scrollable node is just the one inside the tip manager.

[2019-10-17 21:54] driskull opened #398 "Bug: CalciteTip background/shadow applied incorrectly"
### Summary

The `calcite-tip` has a shadow inside of itself. The shadow should be either on the host or the background color should be defined where the shadow is.

![image](https://user-images.githubusercontent.com/1231455/67050676-e9169f00-f0ed-11e9-9dda-3498694e68f2.png)

### Actual Behavior

The shadow is inside the tip

### Expected Behavior

The shadow is outside of the tip

### Reproductio

[2019-10-17 21:55] kat10140 opened #399 "Bug: Value-list select not highlighting"
### Summary
Items in value list have selected property.  When selected, they are meant to be highlighted as a visual representation of the selection. This isn't happening, so the user isn't visually aware of what is selected.

### Actual Behavior
![value list highlighting](https://user-images.githubusercontent.com/48069902/67050744-224f0f00-f0ee-11e9-9a68-32b99cae26b9.gif)

### Expected Behavior
H

[2019-10-17 21:57] annelfitz commented on #306
@driskull In Firefox, a focus outline appears around the scrollable content. Is there a way to do this for the other browsers? Currently (in all browsers but Firefox) the focus outline skips from the X of the tip manager to the link inside of the tip content. If the link is removed, there would be no way for keyboard users to scroll through tip content.

[2019-10-17 21:59] driskull commented on #306
Yeah, we can add a tabIndex to it.

[2019-10-17 22:02] driskull commented on #306
Added!

[2019-10-17 23:14] AdelheidF opened #400 "Bug: calcite-pick-list filter is hiding all items"
### Summary

Using "@esri/calcite-app-components@4.2.1"

(1)
- [ ] When using the filter the list goes empty and doesn't come back when I remove the filter.

<img src=https://user-images.githubusercontent.com/44481292/67053556-a1e0dc00-f0f6-11e9-8616-fe04dda4508e.png width=200/>

<img src=https://user-images.githubusercontent.com/44481292/67053615-c1780480-f0f6-11e9-91e1-4e43d321f19d.png width=200

[2019-10-17 23:31] asangma commented on #358
Installed.

[2019-10-17 23:32] asangma commented on #361
@kat10140 Installed.

[2019-10-18 00:14] kat10140 commented on #358
@asangma is this on master? I'm only seeing loading prop on block. Or were you assigning this to me to add those properties to the component

[2019-10-18 00:20] kat10140 commented on #361
Verified!

[2019-10-18 00:20] #361 closed

[2019-10-18 06:53] janett-baresel commented on #383
but the pick-list is just a list. No drop-down, select, collapse kind of functionality right?

[2019-10-18 17:53] kat10140 commented on #289
Verified

[2019-10-18 17:53] #289 closed

[2019-10-18 18:57] driskull opened #401 "Enhancement: Use storybook for demos"
### Description

`calcite-components` is now using storybook for displaying demos. I think we should probably do the same.

https://esri.github.io/calcite-components/

### Acceptance Criteria

- Use storybook for demos
- Remove demo nav

### Relevant Info

See PR for calcite-components: https://github.com/Esri/calcite-components/pull/177

[2019-10-18 19:43] AdelheidF commented on #396
Added (3) for scrolling

[2019-10-18 20:03] asangma opened #402 "Enhancement: Add test for Block loading and disabled"
### Description
Create test for Block loading/disabled.
re: https://github.com/Esri/calcite-app-components/pull/379#issuecomment-543803247

### Relevant Info
From #379

**Which Component:**  Block

Thanks @jcfranco!

[2019-10-18 20:25] asangma commented on #358
@kat10140 Installed. Please verify. :)

[2019-10-18 20:54] kat10140 commented on #358
Verified!

[2019-10-18 20:54] #358 closed

[2019-10-18 23:04] kat10140 opened #403 "Enhancement: Block - remove collapsible icon when there's a control"
### Description
As it is now, we have a collapsible property that gives us the icon in the top right corner of the block header.

![Screen Shot 2019-10-18 at 3 57 44 PM](https://user-images.githubusercontent.com/48069902/67133079-16338200-f1c0-11e9-8793-7b922691aab6.png)

We also have a slot for a calcite action which would render a [..] icon. We don't want both appearing.
 We need a ternary proba

[2019-10-18 23:13] kat10140 opened #404 "Enhancement: Block - control slot needed before the heading"
### Description
We need a named slot that can be rendered _before_ the heading of a Block (we have one for the right corner right now).

This will primarily be used for dragon dropz functionality by Dhrumil. (I added 'named' slot since we are talking about possibly having a dragon drop component that uses the dnd icon for blocks when the named slot meets the reqs) -  we can talk about this in the

[2019-10-19 00:07] asangma commented on #359
Installed. @kat10140
BYER BYER BYEEEEEER...

[2019-10-20 07:17] AdelheidF opened #406 "Enhancement: calcite-flow-item with two lines in header"
### Description

The smartMapping and the popup configuration components need two lines in a calcite-flow-item header when displaying layer field information.

This is the design:
<img src=https://user-images.githubusercontent.com/44481292/67156044-8c260f00-f2ce-11e9-8774-df093c086c25.png width=300/>

For new map viewer
https://energy.mapsdevext.arcgis.com/apps/mapviewer/index.html

### Acceptance

[2019-10-21 16:13] kat10140 opened #407 "Fix: panel styling and flow-item demo with loading and disabled states"
### Description

Update calcite-flow-item demo with disabled and loading states.
Minor calcite-panel .scss fix to accommodate those toggles.

[2019-10-21 16:22] kat10140 commented on #359
I see props on here, but no demo! I made a separate issue for that @407

[2019-10-21 16:22] #359 closed

[2019-10-21 16:30] AdelheidF opened #409 "Bug: calcite-flow-item shows header-trailing-content without having menu-actions"
### Summary
In my field selection popover I have to use `calcite-flow` and `calcite-flow-item`. The `calcite-flow-item` should not show the `header-trailing-content` button, but it does, even though I don’t provide any `menu-actions` for the flow-item.

https://github.com/Esri/calcite-app-components/blob/master/src/components/calcite-flow-item/calcite-flow-item.tsx#L185

Looking at the code I noti

[2019-10-21 17:03] asangma commented on #391
pew pew

[2019-10-21 17:05] asangma commented on #328
@driskull this is the OG or #391 I think.

[2019-10-21 17:09] driskull commented on #328
yeah these are both the same. closing!

[2019-10-21 17:09] #328 closed

[2019-10-21 17:09] #391 closed

[2019-10-21 17:10] asangma opened #411 "Bug: CalciteTip - Move bg color from Host"
### Summary
Need to define bg-color in the right place

### Actual Behavior
![image](https://user-images.githubusercontent.com/12503298/67226896-e4eaca00-f3ea-11e9-8df9-579e332d7487.png)

### Expected Behavior
![image](https://user-images.githubusercontent.com/12503298/67226868-d8ff0800-f3ea-11e9-9c21-7948a5bbb94c.png)

### Reproduction Steps

1. go to http://devext.arcgis.com/apps/mapviewer/index

[2019-10-21 17:11] asangma commented on #411
Note: the centered text is coming from some CalciteWeb utility classes.

[2019-10-21 17:31] asangma commented on #407
cool cool cool

[2019-10-21 17:51] AdelheidF opened #414 "Bug: calcite-flow-item header text being cut off"
### Summary
If the header text in a flow-item is pretty long it kind of just gets cut off at the end. Could it use ellipses or cut it to a second line? Since we display field names and layer titles I'm not in control of the string.

<img src=https://user-images.githubusercontent.com/44481292/67229616-89233f80-f3f0-11e9-8551-a535432de163.png width=200/>

### Actual Behavior

### Expected Behavior

[2019-10-21 20:17] asangma opened #417 "Bug: pick-list action slot styling"
### Summary
The pick/value-list `menu-actions` need styling.

### Actual Behavior
<img width="352" alt="Screen Shot 2019-10-21 at 1 20 26 PM" src="https://user-images.githubusercontent.com/12503298/67240129-add5e200-f405-11e9-9386-84b68702fe2f.png">

### Expected Behavior
Should look better.

### Reproduction Steps

1. add an action to the `menu-actions` slot.

cc @kat10140

[2019-10-21 20:19] asangma opened #418 "Enhancement: Remove padding from panel content-container"
### Description
Padding in panel's `content-container` has padding that probably should be removed.

### Acceptance Criteria
No padding.

#### Desired New Behavior
No padding.

#### Desired Change to Look and Feel
No padding.

#### Out of Scope

**Which Component:** Panel

cc @kat10140

[2019-10-21 20:19] asangma commented on #418
<img width="476" alt="Screen Shot 2019-10-21 at 1 11 39 PM" src="https://user-images.githubusercontent.com/12503298/67240014-67808300-f405-11e9-8032-a58f8e274d79.png">

[2019-10-21 20:20] asangma commented on #418
<img width="360" alt="Screen Shot 2019-10-21 at 1 20 04 PM" src="https://user-images.githubusercontent.com/12503298/67240099-9c8cd580-f405-11e9-8e22-cdb0e7073dee.png">

[2019-10-21 20:23] asangma commented on #417
cc @AdelheidF

[2019-10-21 20:24] asangma commented on #418
cc @AdelheidF

[2019-10-21 21:11] driskull commented on #354
@AdelheidF I can make it so those slots are always there.

[2019-10-21 21:18] kat10140 commented on #407
@asangma  can you verify dis pls?

[2019-10-21 21:21] #357 closed

[2019-10-21 21:22] driskull commented on #360
I'll close it and remove the properties from the component. sound good?

[2019-10-21 21:23] kat10140 commented on #360
sounds good!

[2019-10-21 21:25] #360 closed

[2019-10-21 21:28] driskull commented on #346
Looks good!

[2019-10-21 21:28] #346 closed

[2019-10-21 23:04] kat10140 opened #421 "Enhancement: Add popover to full width demo"
### Description
Add a popover with a panel to the actions in the full width shell demo.  Inside the panel will be a pick-list with a filter and the menu-actions slot is to have an action.

### Acceptance Criteria
![Screen Shot 2019-10-21 at 3 59 27 PM](https://user-images.githubusercontent.com/48069902/67249276-fe583a00-f41b-11e9-96d7-d04668973355.png)

[2019-10-21 23:04] driskull commented on #262
@asangma do we want the `calcite-fab` to internally use the `calcite-action`?

If we do, we need to add a prop to scale the `calcite-action` to be bigger and a way to make it `pill shaped`.
If we don't, we need to implement the showing text on hover/focus in the `calcite-fab` as well.

Thoughts?

[2019-10-21 23:23] driskull commented on #406
@asangma how should this be addressed? Do we need to accept a slot instead for this or do we want a subheading prop?

[2019-10-21 23:28] driskull opened #423 "Bug: Create Test to make sure event passes item HTMLElement correctly."
### Summary

Add a test for `calciteListItemChange` on `calcite-pick-list-item` to make sure that the `item` property is correctly defined in the event.

### Actual Behavior

Previously, the event did not pass the item like it was supposed to.

### Expected Behavior

The event has the item defined as a HTMLElement.

### Relevant Info

https://github.com/Esri/calcite-app-components/commit/80e590081

[2019-10-21 23:36] driskull commented on #393
@kevindoshier the overflow is actually on the body there since the popover is outside of the shell. Can you set `overflow:hidden` on the body of the document?

[2019-10-21 23:37] driskull commented on #392
@asangma can you answer this?

[2019-10-22 13:38] kevindoshier commented on #393
@driskull - we need to have scrollbars when the window gets to small, what do I need to add to handle both cases?

[2019-10-22 16:02] driskull commented on #393
@kevindoshier shouldn't the panels handle the scrolling? the `calcite-shell-panel` or `calcite-flow-item` should get the scrollbars.

[2019-10-22 16:27] asangma commented on #362
@kat10140 INSTARLED

[2019-10-22 16:27] kat10140 opened #424 "Value-list disabled prop on render function"
As it is now-
[code]

Not having disabled prop on the div in the render is throwing an error

ref: #405

also, pick-list render has `aria-disabled=disabled` on the render, and Franco says should be `disabled={disabled}` 😬

[2019-10-22 16:28] asangma commented on #395
@kat10140 sorry I didn't update the req. We decided to nix the label editing. It may come back later but for now, we'll keep the interaction simple.

[2019-10-22 16:35] #298 closed

[2019-10-22 17:12] kevindoshier commented on #393
calcite-shell sets it to hidden
![image](https://user-images.githubusercontent.com/11093161/67311461-7d994c80-f4b4-11e9-9239-880d123751ff.png)

[2019-10-22 17:38] driskull commented on #393
Its just the `min-width` on the `calcite-shell` that limits the view from shrinking.

@asangma do we want to relax these minimum widths and heights a bit? I think we could go smaller and still be usable.

@kevindoshier I think it would be good to remove scrolling from the body still. A full page app shouldn't have scrollbars IMO.

[2019-10-22 17:40] kevindoshier commented on #393
Yeah I agree, but then calcite-shell etc, should better handle smaller widths so the right hand actionBar can still be used, otherwise it gets hidden and there isnt a way to get to it without a scrollbar

cc: @AdelheidF

[2019-10-22 17:42] jbartley commented on #400
What is the latest on this issue? @pr3tori4n

[2019-10-22 17:44] AdelheidF commented on #393
Yes!, I have a small Surface and it keeps scrolling. I'm expecting a small map in that case.

[2019-10-22 17:45] driskull commented on #393
@kevindoshier the actionbar does get a scrollbar now if necessary.

[2019-10-22 17:47] driskull opened #426 "Bug: CalcitePickList warnings for unused modules and constants"
### Summary

The `calcite-pick-list-item` and `calcite-value-list` are throwing warnings when building because of unused imports and constants. Can we clean these up?

The linter should catch these things.

### Actual Behavior

### Expected Behavior

### Reproduction Steps

[code]

### Relevant Info

[2019-10-22 17:50] driskull opened #427 "Bug: CalciteBlock header color is too dark for the dark theme"
### Summary

Bug: CalciteBlock header color is too dark for the dark theme

### Actual Behavior

The text color is black on dark gray

### Expected Behavior

The text color should be lighter.

### Reproduction Steps

1. See the shell demo page for dark theme.

### Relevant Info

![image](https://user-images.githubusercontent.com/1231455/67314567-bab40d80-f4b9-11e9-84dc-8d0674b31692.png)

[2019-10-22 17:54] driskull commented on #426
@jcfranco @pr3tori4n would we want to add linting as part of the build testing to catch these?

[2019-10-22 17:59] jcfranco commented on #426
Yep. We should also make sure linting is enabled on our IDEs. #showsquiggliessomelove

[2019-10-22 18:02] pr3tori4n commented on #400
@jbartley I'm trying to find the root cause. I'm having trouble reproducing this in isolation. I just found out that Adelheide has a test-app setup in the app-components repo so I'm going to take a look at that. This is a priority for me.

[2019-10-22 18:06] pr3tori4n commented on #400
@AdelheidF  That's correct. The filter only changes what's displayed, it doesn't affect the current selections.

[2019-10-22 18:10] pr3tori4n commented on #400
@kat10140 @asangma Can you triage this and create an enhancement issue. Do we need a flag for this behavior (there a use case for the way we have it now?) or can we just modify the default?

[2019-10-22 18:23] asangma commented on #406
prolly need a `summary` prop like pick-list-item

[2019-10-22 18:57] AdelheidF opened #430 "Bug: calcite-pick-list-item: text wrapping"
### Summary

Could we have the text wrap a bit nicer?
![image](https://user-images.githubusercontent.com/44481292/67320362-f8696400-f4c2-11e9-8943-efb461fd84b5.png)

### Actual Behavior
[alan] Currently strings are broken at any character.

### Expected Behavior
[alan] Break on word and retain second line truncation.

### Reproduction Steps

1.

### Relevant Info

[2019-10-22 18:58] jbartley commented on #430
I would put this higher on the priority.  Needed for beta 1.

[2019-10-22 19:51] jcfranco opened #431 "Tooling: Add linting phase to CI"
## Summary

The CI should fail on linting problems.

## Measure of Success

**Pain point:**

Unlinted code can sneak in.

**Desired outcome:**

Linting should be a part of the CI checks.

### Resources

[2019-10-22 20:20] driskull commented on #426
My linter found these jsdoc errors too.

![image](https://user-images.githubusercontent.com/1231455/67328696-b21a0200-f4ce-11e9-95dc-31cc52ce31e2.png)

@pr3tori4n can you lint on save if you don't like it auto linting?

[2019-10-22 20:59] driskull opened #433 "Enhancement: CalcitePickListItem - move key handler to label node"
### Description

Enhancement: CalcitePickListItem - move key handler to label node

The click event is on the label and it seems the keyup event should be as well.

### Acceptance Criteria

https://github.com/Esri/calcite-app-components/pull/326#pullrequestreview-305369043

#### Out of Scope

### Relevant Info

https://github.com/Esri/calcite-app-components/pull/326#issuecomment-545134369

### Hel

[2019-10-22 21:20] kat10140 commented on #424
guessing the `aria-disabled={disabled}` thing didn't need a fix. Verified.

[2019-10-22 21:20] #424 closed

[2019-10-22 21:21] kat10140 commented on #362
Verified.

[2019-10-22 21:21] #362 closed

[2019-10-22 22:05] kat10140 opened #435 "Enhancement: add links to new demos/re-build auto stencil doc"
Add links to pick and value list, and regenerate doc for new added properties

[2019-10-22 22:29] driskull opened #439 "Bug: CalcitePickList - secondary action gets pushed outside container"
### Summary

Bug: CalcitePickList - secondary action gets pushed outside container

### Actual Behavior

Bug: CalcitePickList - secondary action gets pushed outside container

### Expected Behavior

Bug: CalcitePickList - secondary action stays within its container and text is either cut off or spans a second line.

### Reproduction Steps

1. See the calcite-pick-list demo

### Relevant Info

![im

[2019-10-22 23:09] kat10140 commented on #417
yeyer

[2019-10-22 23:09] #417 closed

[2019-10-22 23:13] #435 closed

[2019-10-22 23:16] #395 closed

[2019-10-22 23:17] kat10140 commented on #390
![Screenshot (3)](https://user-images.githubusercontent.com/48069902/67342571-62940000-f4e7-11e9-8823-3633593764a2.png)
![Screenshot (4)](https://user-images.githubusercontent.com/48069902/67342573-645dc380-f4e7-11e9-8f56-b5a2836533d9.png)

[2019-10-22 23:20] pr3tori4n commented on #400
@AdelheidF @jbartley @jcfranco this is being caused by the same Maquette.js issue we saw when the pre-selection wasn't working. I hesitate to move more setup code to run after first-render. I'd like to dig into Maquette a bit and see why this is happening - why some attributes are populated on first render, but others aren't. This could happen with other components as well so I'd like to do more r

[2019-10-22 23:27] AdelheidF commented on #400
Since it's already on devext and pretty obvious a temporary solution would be great. Thanks!

[2019-10-22 23:29] kat10140 commented on #390
This is what it looks like on the surface as well as my remote desktop

[2019-10-22 23:38] kat10140 commented on #390
on all browsers

[2019-10-23 00:08] driskull opened #441 "Tooling: Investigate why builds fail after bumping stencil.js to ^1.7.4"
### Description

Running any build that doesn't use the docs-config will cause the subsequent docs build to fail when upgrading stencil.js to ^1.7.4.

### Helpful Details

The release build was failing when I tried to do this.

[2019-10-23 01:21] jcfranco commented on #400
I doubt this is being caused by maquette. Could it be some NonReact™ component oddness?

[2019-10-23 03:20] driskull commented on #441
This can be bumped to 1.7.4 now :)

[2019-10-23 03:25] jcfranco commented on #441
lol 1.7.4 fixes the issue, will revert!

[2019-10-23 03:32] driskull commented on #441
OMG stencil :stuck_out_tongue_closed_eyes:

[2019-10-23 06:23] #431 closed

[2019-10-23 16:00] asangma opened #446 "Enhancement: Add avatar"
### Description
@kat10140 Please add an avatar to your Github profile.

### Acceptance Criteria
Good avatar.

#### Desired New Behavior
(つ◕౪◕)つ━☆ﾟ.*･｡ﾟ

#### Desired Change to Look and Feel
Change it from this.
![image](https://user-images.githubusercontent.com/12503298/67411933-4178f100-f573-11e9-9171-e2c48a1e14fb.png)

### Helpful Details
Prolly your face.

[2019-10-23 16:02] asangma commented on #418
verified

[2019-10-23 16:02] #418 closed

[2019-10-23 16:13] #411 closed

[2019-10-23 16:13] asangma commented on #446
🌮 Verified.

[2019-10-23 16:13] #446 closed

[2019-10-23 16:20] asangma commented on #398
verified locally

[2019-10-23 16:20] #398 closed

[2019-10-23 16:34] asangma opened #447 "Enhancement: (pick-list-item) disable summary in compact mode"
### Description
Disable the summary (`textDescription`) when `compact` is true.

### Acceptance Criteria
Summary doesn't show when `compact`.

#### Desired New Behavior
Summary doesn't show when `compact`.

#### Desired Change to Look and Feel
Tighter vertical spacing.
Might could also reduce padding.

### Relevant Info
#390

### Helpful Details
**Which Component:** pick-list-item

[2019-10-23 16:38] AdelheidF commented on #417
Looks good now

[2019-10-23 16:43] AdelheidF commented on #414
Good now

![image](https://user-images.githubusercontent.com/44481292/67415275-91f34d00-f579-11e9-85b2-c6bdc3f411e1.png)

[2019-10-23 16:51] asangma commented on #390
Thanks @kat10140 !

[2019-10-23 16:55] AdelheidF commented on #409
Looks good now.

[2019-10-23 16:57] AdelheidF commented on #354
@kat10140 I don't have this test case anymore. Could you verify? Thanks.

[2019-10-23 17:00] #414 closed

[2019-10-23 17:15] AdelheidF opened #449 "Enhancement: calcite-popover - add option to hide caret"
### Description
Current look
![image](https://user-images.githubusercontent.com/44481292/67417150-f532ae80-f57c-11e9-9a1d-c597fc6022d0.png)

In this workflow though I don't really have anything to point this popover at, So there should be no caret.

### Acceptance Criteria

#### Desired New Behavior

#### Desired Change to Look and Feel

#### Out of Scope

### Relevant Info

### Helpful Details

*

[2019-10-23 17:17] AdelheidF opened #450 "Enhancement: calcite-flow-item - add second header line"
### Description

design:
![image](https://user-images.githubusercontent.com/44481292/67417721-48f1c780-f57e-11e9-94cc-90a79df90ed6.png)

### Acceptance Criteria

#### Desired New Behavior

#### Desired Change to Look and Feel

#### Out of Scope

### Relevant Info

### Helpful Details

**Which Component:**
**Example Use Case:**

[2019-10-23 17:52] kat10140 commented on #354
Verified !

[2019-10-23 17:52] #354 closed

[2019-10-23 18:13] asangma commented on #430
@AdelheidF This is resulting from the request to truncate after two lines.

[2019-10-23 18:16] asangma commented on #430
Like there was a desire to show the alias like this when it was long.
![image](https://user-images.githubusercontent.com/12503298/67422076-94a86f00-f586-11e9-90e2-de7466417262.png)

[2019-10-23 18:18] asangma commented on #430
We can make it truncate after one line...?
![image](https://user-images.githubusercontent.com/12503298/67422169-c8839480-f586-11e9-8699-4cec81dde759.png)

[2019-10-23 18:22] asangma commented on #430
Finally we can probably break on the word and keep the truncation at the 2nd line.
![image](https://user-images.githubusercontent.com/12503298/67422375-34fe9380-f587-11e9-9a59-e922457c0dbb.png)

Would we need the summary (`text-description`) to also truncate after two lines?
![image](https://user-images.githubusercontent.com/12503298/67422447-595a7000-f587-11e9-8e28-73200b763476.png)

[2019-10-23 18:44] AdelheidF commented on #430
This is nice.

Currently this feature is in none of my designs, but it probably would make sense.

[2019-10-23 19:00] driskull commented on #406
Created PR for this. and there's an issue here: https://github.com/Esri/calcite-app-components/issues/450

[2019-10-23 19:16] AdelheidF commented on #450
Duplicate of https://github.com/Esri/calcite-app-components/issues/406

[2019-10-23 20:47] driskull commented on #449
@AdelheidF installed but `calcite-components` will need to do another release before we can use it.

[2019-10-23 20:59] pr3tori4n opened #452 "Bug: auto-generated CHANGELOG.md is incorrect - too many items in features."
### Summary
`standard-version` is seems to be adding all commits that aren't prefixed with "fix:" to the features list in the CHANGELOG.md for that release.

### Actual Behavior
Features list in CHANGELOG.md are incorrect
### Expected Behavior
Features list in CHANGELOG.md only include commits that begin with "feat:"
### Reproduction Steps

0. Add some commits to master that don't follow conventio

[2019-10-23 21:00] pr3tori4n commented on #452
@jcfranco let me know if you plan on cleaning up the CHANGELOG as a part of this PR or if you'd prefer to keep that separate. Currently the CHANGELOG contains a lot of noise that's not valuable for implementers.

[2019-10-23 21:04] asangma commented on #430
@AdelheidF 🤔
If we only break on the word, we can see this kind of thing happen.
![image](https://user-images.githubusercontent.com/12503298/67433996-0f30b900-f59e-11e9-9cd8-9915712e89c9.png)

[2019-10-23 21:06] jcfranco commented on #452
This is actually working as expected. Look at the list of commits w/ `feat`/`fix` in the last release:

[code]

I'll let you handle this separately.

[2019-10-23 21:14] asangma commented on #430
This is actually why we started with `word-break: all` 😭

[2019-10-23 21:25] AdelheidF commented on #430
Could it look where the first space is then decide then what class to use?

[2019-10-23 21:36] asangma commented on #430
Seems a bit brittle since we'd need to check font-size, component width, etc. Or am I overcomplicating it?

A quicker and more robust adjustment would be to to only do the one-line.

[2019-10-23 21:39] asangma commented on #430
As a note, I can also add a `hyphen` style but it doesn't work consistently across languages or within a particular language. Here, it works all right except for the last item.
![image](https://user-images.githubusercontent.com/12503298/67436280-dfd07b00-f5a2-11e9-9f81-8c49fd689731.png)

[2019-10-23 21:40] AdelheidF commented on #430
This would be very annoying for demographic layers with similar starting field names.

[2019-10-23 21:43] AdelheidF commented on #430
I don't think this has to be perfect. Use the width of the component and a count of letters that's relatively safe.
I rather see 80% correct than 80% weird.

[2019-10-23 21:44] asangma commented on #430
Also, the **hyphen** is tricky because we don't know what the content is. If it's the name of an attribute, e.g. we wouldn't wanna add a character.

[2019-10-23 21:45] asangma commented on #430
Hmmm...I feel like @pr3tori4n @driskull @jcfranco would have a better handle on [this](https://github.com/Esri/calcite-app-components/issues/430#issuecomment-545643193).

[2019-10-23 22:00] driskull commented on #430
We use this in the API, can we use it here?

[code]

[2019-10-23 22:07] asangma commented on #430
@driskull Minus the `white-space` rule, that's pretty much what we've got in production. As far as I can tell, `white-space: pre-wrap` doesn't affect our component.

[2019-10-23 22:34] pr3tori4n commented on #452
Something's not right here. We did a release yesterday. There's no way we merged in that many features in less than a day.

[2019-10-23 22:37] jcfranco commented on #452
`standard-version` will process all commits between the last release and the current one (including the ones from a merge commit).

[2019-10-23 22:38] driskull commented on #430
We don't want to be doing calculations on width, word count or character count. We should solve this with CSS and not JS so that it's not brittle or difficult to maintain.

I think we should just go with the above breaking words. That snippet above will break even if its only one long word.

https://codepen.io/driskull/pen/JjjWQPV

[2019-10-23 22:39] pr3tori4n commented on #400
@AdelheidF @jbartley I have a temporary fix in until I find out the true root cause.

[2019-10-23 23:00] driskull commented on #348
This is a good onboarding component. @kat10140 would you have any interest in developing this one?

[2019-10-23 23:04] kat10140 commented on #348
Sure! @driskull

[2019-10-23 23:21] jcfranco commented on #452
If you click on the version you’ll see that the comparison is between 4.2.0 and 4.3.1 not 4.3.0 and 4.3.1. Something got botched while releasing.

[2019-10-24 03:48] AdelheidF opened #453 "Bug: calcite-block - toggle icon smaller with multi-line text"
### Summary

Toggle icon gets smaller with multi-line text
<img src=https://user-images.githubusercontent.com/44481292/67451764-28555c00-f5d6-11e9-8367-d1953ab92712.png width=300/>

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

cc @asangma

[2019-10-24 04:08] AdelheidF opened #454 "Bug: calcite-block-content padding got removed"
### Summary

Not sure if this is a feature or a bug, but it didn't behave like this until recently. I'm also not quite sure which element had the padding in the past.

The problem now is that the content of a calcite-block does not have any right and left padding and so my text/items start at the very left. All my containing div elements would need to have padding applied to fix this change and I

[2019-10-24 04:37] AdelheidF opened #455 "Bug: calcite-block-section - styling updates for multi-line text"
### Summary

It's using `calcite-block-section` here with `toggle-display="switch"` and it doesn't look quite right for multi-line text next to the toggle button.

<img src=https://user-images.githubusercontent.com/44481292/67453908-132ffb80-f5dd-11e9-874b-dad749923921.png width=200/>

### Actual Behavior

### Expected Behavior

### Reproduction Steps

http://devext.arcgis.com/apps/mapviewer/index

[2019-10-24 14:49] asangma commented on #301
@kat10140 I forgot to assign to you. This is installed. Mind verfin it?

[2019-10-24 14:55] asangma opened #456 "Bug: value-list-item. Remove extra padding"
### Summary
Padding got added to `pick-list-item` >  `label`.
`value-list-item` adds more padding.

### Actual Behavior
Too much padding.

### Expected Behavior
Less padding.

### Reproduction Steps

1. see demo

### Relevant Info
#390

[2019-10-24 14:56] asangma commented on #390
@dhrumil83 @CodeBarker See #456

[2019-10-24 15:01] asangma opened #457 "Enhancement: add "padded" prop to Panel and Block"
### Description
In order to work better with other components, Block and Panel had default padding removed.
I propose adding a property ("padded") that would allow dev users to opt in to padding.

### Acceptance Criteria
A prop that can be used to add standard padding to a content area.

#### Desired New Behavior
A prop that can be used to add standard padding to a content area.

#### Desired Chan

[2019-10-24 15:20] asangma commented on #457
re #454

[2019-10-24 15:43] jcfranco commented on #452
I suspect out-of-sync tags are the culprit. Tags aren't fetched before generating the changelog, so if your dev setup isn't keeping them up to date, chaos ensues. I'll update the script to do this before generating the changelog.

[2019-10-24 16:11] kat10140 commented on #301
@asangma it doesn't look very compact on my local right now 😭

this is on master:

<img width="534" alt="Screen Shot 2019-10-24 at 9 09 01 AM" src="https://user-images.githubusercontent.com/48069902/67504470-49ea2e00-f63e-11e9-9702-5697a8ef3e84.png">

[2019-10-24 16:15] annelfitz commented on #309
@pr3tori4n @driskull Looks good in chrome, but I'm noticing in firefox and safari that you cannot click on the secondary action. The focus does appear around it when you tab through, but physically clicking it removes the focus (if focus is already around it from tabbing). Otherwise, I am not seeing any indication that I actually clicked the button
![pick_list_no_click](https://user-images.githubu

[2019-10-24 16:23] annelfitz commented on #306
Thanks @driskull that works great!

A couple things:
  - I noticed that in Safari, the link inside of the tip is no longer accessed by tabbing. All other browsers it tabs from the 'X', to the tip content, to the link, then to the navigation arrows. Safari skips the link
 - This might be me being picky, but the focus outline of the tip content gets caught under the 'X' button of the tip manager (on

[2019-10-24 16:24] pr3tori4n commented on #457
I have some concerns, not with your proposed solution but with the trajectory this sort of thing puts us on.

My first question is: Can't Adelheide add a class and put some padding on the thing? Is this something that needs to be added to the component itself?

In the short term, adding "padded" would work solve this 1 issue.

My main concern with this approach (from an overall component architect

[2019-10-24 16:25] pr3tori4n commented on #457
Another approach may be to create a "container" component, and omit the border/background and other boundaries from the other components. That way we can create a highly configurable container, without it having to be baked into each other component directly.

[2019-10-24 17:07] jcfranco commented on #452
I take that back, `standard-version` has some logic to get the latest tag. After closer inspection, the 4.3.0 release got botched:

**expected (tag on `master`)**

[code]

[code]

**actual (tag on branch)**

[code]

[2019-10-24 17:07] #452 closed

[2019-10-24 17:12] asangma commented on #201
I think we can close this?

[2019-10-24 17:50] AdelheidF commented on #457
My problem currently is that some components apply padding and some don't and I can't overwrite these. Look at the sample below.

'Show feature with no values' and 'Include in legend' are simple divs that I now applied some padding to (after default padding got removed).
'Classify data' should appear with the exact same look but because it's now a `calcite-block-section` (when you switch it on it

[2019-10-24 18:01] asangma commented on #457
@AdelheidF Thanks. We want to make it work for you. @pr3tori4n and I spoke, and we will be adding a property that will help out.

Hold off on doing it yourself for now. I think we should solve this.

[2019-10-24 18:06] kat10140 commented on #456
Cha ching

[2019-10-24 18:06] #456 closed, assigned to kat10140

[2019-10-24 18:09] pr3tori4n commented on #457
Spoke with @asangma. Ok with going with a simple solution for this. May need to adopt a different pattern later. We'll evaluate as things go.

[2019-10-24 18:11] #215 closed

[2019-10-24 19:26] pr3tori4n opened #461 "Bug: PickList Filter match is too aggressive"
### Summary
### Actual Behavior
When filtering, some items are matched due to some attributes containing one or two letters
### Expected Behavior
Only the following pickListItem attributes are used for filtering: `textLabel`, `textDescription`, `value`, and `metadata`

[2019-10-24 19:36] pr3tori4n commented on #201
Closing.

[2019-10-24 19:36] #201 closed

[2019-10-24 19:40] pr3tori4n commented on #396
@kat10140 could you triage this and split each request into a separate issue?

[2019-10-24 19:42] pr3tori4n commented on #400
@kat10140 can you help triage this item and move #3 into a separate issue?

[2019-10-24 19:47] pr3tori4n commented on #68
@kat10140 Can we close this issue and keep track of this some other way?

[2019-10-24 23:15] asangma commented on #439
Installed.

[2019-10-24 23:49] kat10140 commented on #439
Yay good job Alern!

[2019-10-24 23:49] #439 closed

[2019-10-25 16:24] jcfranco commented on #401
@kat10140 Can we target this for Eberhart or Fern? I can start doing some setup work and I'll pull in more people when it comes to adding individual component stories.

[2019-10-25 16:30] jcfranco opened #463 "Docs: Clean up demo pages"
## Summary

Demo pages should be simple and focus on their own component.

## Measure of Success

**Pain point:**

Some demo pages have more than one component that is unrelated and adds complexity (e.g., [calcite-block.html](https://github.com/Esri/calcite-app-components/blob/master/src/demos/calcite-block.html). These should be cleaned up and possibly moved over to one or more advanced demo page

[2019-10-25 16:31] kat10140 commented on #401
Sure, sounds good @jcfranco 💫

[2019-10-25 16:42] jcfranco opened #464 "Enhancement: Allow non-collapsible calcite-block-section"
### Description

@subgan82 brought up having non-collapsible sections for cases where there is no need to hide additional block content. This would help maintain the visual structure of header/content in sections regardless of being collapsible or not.

### Acceptance Criteria

Add `collapsible` property similar to `calcite-block`.

#### Desired New Behavior

Same as `calcite-block`, when non-coll

[2019-10-25 17:57] jcfranco opened #466 "Refactor: Fix Stencil build warnings"
The following warnings started showing up after moving over to Stencil v1.7.4 in `calcite-value-list`, `calcite-pick-list` and `calcite-pick-list-item` E2E tests:

[code]

See https://travis-ci.com/Esri/calcite-app-components/builds/133595791 for more details.

cc @kat10140

[2019-10-25 20:12] jcfranco commented on #441
This is no longer an issue w/ the latest NPM dependency updates.

[2019-10-25 20:12] #441 closed

[2019-10-25 23:12] asangma commented on #453
@kat10140 OK, now on master. 😆

[2019-10-25 23:27] asangma opened #469 "New Component: Wrapper for calcite-switch that conforms to panel layouts"
### Description
We regularly need the `calcite-switch` component to act as a "row" in our panel interfaces. Out of the box, `calcite-switch` will now layout as needed.

#### User Stories

### Acceptance Criteria
* require no additional styling
* use `calcite-switch`
* events? @jcfranco could use your help on this.

#### Desired Behavior

#### Desired Look & Feel
![image](https://user-images.github

[2019-10-26 00:34] jcfranco commented on #404
Installed.

[2019-10-26 18:32] AdelheidF opened #471 "Enhancement: could calcite-block-section get a loading state?"
### Description

When creating the HistogramSlider the app needs to calculate statistics and the histogram first. This takes some time. But waiting on the slider should not impact the entire panel. It only needs a waiting state for block-section.

![image](https://user-images.githubusercontent.com/44481292/67624160-15af7280-f7e2-11e9-9fa1-709239a611c0.png)

The FeatureFilter component currently di